{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Help us improve this service</h1>

        <p>You can send us your feedback by filling in a survey. It will take between 5 and 10 minutes to complete.</p>

        <p> <a target="_blank" class="govuk-link" href="https://getinvolved.dwp.gov.uk/digital/dbc2edfe/">Fill in the survey (opens in a new tab)</a>.</p>

        <h2 class="govuk-heading-m">Volunteer to take part in research</h2>

        <p>You can send an email to <a target="_blank" class="govuk-link" href="#">atwonlinefeedback@dwp.gov.uk</a> if you’re happy for someone to contact you to discuss your experience using this service. </p>

        <p>Tell us your name and if you’d prefer to be contacted by email or telephone.</p>

        <p>If you’re happy for us to contact you by telephone, also include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your telephone number
            </li>
            <li>dates and times it would be convenient for one of the team to call
            </li>
        </ul>

        <div class="govuk-inset-text">
        We cannot reply to queries about Access to Work or individual claims.<br> <br>
        <p>If you have a question about the service or need help with a claim, <a class="govuk-link" href="portal-screens/contact-atw">contact the Access to Work helpline</a>.</p>
        </div>



        <h3 class="govuk-heading-m">How we will use your details</h3>

        <p>We will only use your email address or telephone number to contact you. We will not share your details or use them for anything else.</p>



    </div>
</div>
{% endblock %}
