{% extends "layout.html" %}

{% block pageTitle %}

Access to Work Claiming Portal

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="portal">Home</a>
    </li>

  </ol>
</div>
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



        <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Account home</span>
                <h1 class="govuk-heading-xl">Joe Bloggs</h1></div>
            </div>



        <hr class="govuk-section-break govuk-section-break--s govuk-section-break">


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
              <div class="card" id="test-card">
                  <div class="card-body active" @if(url)>
                      <h2 class="heading-small card-heading">
                        {%if (data['journey-type'] == "specialaidsandequipment") %}
                          <a class="card-link" href="./equipment-and-adaptations/start-a-claim">
                              Start a claim
                          </a>
                        {% elseif (data['journey-type'] == "supportworker") %}
                          <a class="card-link" href="./support-worker/start-a-claim">
                              Start a claim
                          </a>
                        {% elseif (data['journey-type'] == "traveltowork") %}
                          <a class="card-link" href="./travel-to-work/start-a-claim">
                              Start a claim
                          </a>
                          {% elseif (data['journey-type'] == "traveltoworkold") %}
                            <a class="card-link" href="./travel-to-work-old/start-a-claim">
                                Start a claim
                            </a>
                        {% elseif (data['journey-type'] == "specialaidsandequipmentvi") %}
                          <a class="card-link" href="./equipment-and-adaptations-vi/start-a-claim">
                              Start a claim
                          </a>
                          {% elseif (data['journey-type'] == "supportworkerold") %}
                            <a class="card-link" href="./support-worker-old/start-a-claim">
                                Start a claim
                            </a>
                        {% else %}
                        <a class="card-link" href="#">
                            Start a claim
                        </a>
                        {% endif %}
                      </h2>
                      <p class="govuk-body"> Claim online and upload a copy of your receipt or invoice.</p>
                  </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="card" id="test-card-1">
                    <div class="card-body active" @if(url)>
                        <h2 class="heading-small card-heading">
                            <a class="card-link" href="./portal-screens/claims-history">
                                Claims history
                            </a>
                        </h2>
                        <p class="govuk-body">View any previously submitted or saved claims.</p>
                    </div>

                    <!-- <div class="card-action">
                        <p class="govuk-body">some content</p>
                    </div> -->
                </div>
              </div>

              <div class="govuk-grid-column-one-third">
                  <div class="card" id="test-card-2">
                      <div class="card-body active" @if(url)>
                          <h2 class="heading-small card-heading">
                              <a class="card-link" href="./portal-screens/personal-information">
                                  Personal information
                              </a>
                          </h2>
                          <p class="govuk-body">View your contact information and previous payment details if you have claimed before.</p>
                      </div>

                      <!-- <div class="card-action">
                        <p class="govuk-body">
                          some content
                        </p>
                      </div> -->
                  </div>
                </div>

                <div class="govuk-grid-column-one-third">
                    <div class="card" id="test-card-3">
                        <div class="card-body active" @if(url)>
                            <h2 class="heading-small card-heading">
                                <a class="card-link" href="@url">
                                    Claim by post
                                </a>
                            </h2>
                            <p class="govuk-body">Find out how to claim by post if you cannot submit a claim online.</p>
                        </div>
                    </div>
                  </div>

                  <div class="govuk-grid-column-one-third">
                      <div class="card" id="test-card-3">
                          <div class="card-body active" @if(url)>
                              <h2 class="heading-small card-heading">
                                  <a class="card-link" href="@url">
                                      Grant allowance information
                                  </a>
                              </h2>
                              <p class="govuk-body">View information about the grant you have been awarded, as well as your original grant approval letter.</p>
                          </div>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="card" id="test-card-3">
                            <div class="card-body active" @if(url)>
                                <h2 class="heading-small card-heading">
                                    <a class="card-link" href="@url">
                                        Contact Access to Work
                                    </a>
                                </h2>
                                <p class="govuk-body">View information on how to get in contact with the Access to Work team to discuss queries.</p>
                            </div>
                        </div>
                      </div>

          </div>
    </div>
</div>



{% endblock %}
