{% extends "layout.html" %}

{% block pageTitle %}

Claim money back from Access to Work

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="portal">Home</a>
    </li>

  </ol>
</div>


{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Account home</span>
                <h1 class="govuk-heading-xl">Joe Bloggs</h1>

          {%if (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =="true") and (data['citizen-delared'] !=="true")%}
          <div class="govuk-inset-text">
            You have <b>1</b> claim that has not been confirmed. The person who can confirm your claim has requested that you make some changes to your claim before they can confirm it. You can <a href="./portal-screens/claims-history"> make changes to your claim in claims history.</a>
          </div>



          {% endif %}

        </div>
      </div>





        <hr class="govuk-section-break govuk-section-break--s govuk-section-break">


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
              <div class="card" id="test-card">
                  <div class="card-body active" @if(url)>
                      <h2 class="heading-small card-heading">
                        {%if (data['journey-type'] == "specialaidsandequipment") %}
                          <a class="card-link" href="./equipment-and-adaptations/special-aids-and-equipment">
                              Send a claim online
                          </a>
                          {% elseif (data['journey-type'] == "specialaidsandequipmentdev") %}
                            <a class="card-link" href="./equipment-and-adaptations-dev/special-aids-and-equipment">
                                Send a claim online
                            </a>
                        {% elseif (data['journey-type'] == "supportworker") %}
                          <a class="card-link" href="./support-worker/support-for-workplace">
                              Send a claim online
                          </a>
                          {% elseif (data['journey-type'] == "supportworkerdev") %}
                            <a class="card-link" href="./support-worker-dev/support-for-workplace">
                                Send a claim online
                            </a>
                        {% elseif (data['journey-type'] == "traveltowork") %}
                          <a class="card-link" href="./travel-to-work/travel-to-work">
                              Send a claim online
                          </a>
                          {% elseif (data['journey-type'] == "traveltoworkdev") %}
                            <a class="card-link" href="./travel-to-work-dev/travel-to-work">
                                Send a claim online
                            </a>
                          {% elseif (data['journey-type'] == "travelinwork") %}
                            <a class="card-link" href="./travel-in-work/travel-to-work">
                                Send a claim online
                            </a>
                            {% elseif (data['journey-type'] == "travelinworkdev") %}
                              <a class="card-link" href="./travel-in-work-dev/travel-to-work">
                                  Send a claim online
                              </a>
                              {% elseif (data['journey-type'] == "travelinworkdevv2") %}
                                <a class="card-link" href="./travel-in-work-devv2/travel-to-work">
                                    Send a claim online
                                </a>
                          {% elseif (data['journey-type'] == "traveltoworkold") %}
                            <a class="card-link" href="./travel-to-work-old/start-a-claim">
                                Send a claim online
                            </a>
                        {% elseif (data['journey-type'] == "specialaidsandequipmentvi") %}
                          <a class="card-link" href="./equipment-and-adaptations-vi/start-a-claim">
                              Send a claim online
                          </a>
                          {% elseif (data['journey-type'] == "supportworkerold") %}
                            <a class="card-link" href="./support-worker-old/start-a-claim">
                                Send a claim online
                            </a>
                            {% elseif (data['journey-type'] == "multipleawards") %}
                              <a class="card-link" href="./multiple-award-elements/start-a-claim">
                                  Send a claim online
                              </a>
                            {% elseif (data['journey-type'] == "supportworkeroldv2") %}
                              <a class="card-link" href="./support-worker-old-two/start-a-claim">
                                  Send a claim online
                              </a>
                        {% else %}
                        <a class="card-link" href="#">
                            Send a claim online
                        </a>
                        {% endif %}
                      </h2>
                      <p class="govuk-body">Send a claim and copies of receipts or invoices online.</p>
                  </div>
              </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="card" id="test-card-1">
                    <div class="card-body active" @if(url)>
                        <h2 class="heading-small card-heading">
                          {% if (data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true") %}
                            <a class="card-link" href="./portal-screens/multiple-claims-history">
                            {% else %}
                            <a class="card-link" href="./portal-screens/claims-history">
                            {% endif %}
                                Claims history  {%if (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =="true") and (data['citizen-delared'] !=="true")%}<span id="notifications" class="moj-notification-badge">1</span>{% endif %}

                            </a>
                        </h2>
                        <p class="govuk-body">Check what stage a claim is at and view previous claims we’ve paid.</p>
                    </div>




                    <!-- <div class="card-action">
                        <p class="govuk-body">some content</p>
                    </div> -->
                </div>
              </div>

              <div class="govuk-grid-column-one-third">
                  <div class="card" id="test-card-2">
                      <div class="card-body active" @if(url)>
                          <h2 class="heading-small card-heading">
                              <a class="card-link" href="./portal-screens/personal-information">
                                  Personal information
                              </a>
                          </h2>
                          <p class="govuk-body">View and change your personal information, including contact and payment details.</p>
                      </div>

                      <!-- <div class="card-action">
                        <p class="govuk-body">
                          some content
                        </p>
                      </div> -->
                  </div>
                </div>

                <div class="govuk-grid-column-one-third">
                    <div class="card" id="test-card-3">
                        <div class="card-body active" @if(url)>
                            <h2 class="heading-small card-heading">
                                <a class="card-link" href="./portal-screens/claim-via-post">
                                    Send your claim by post
                                </a>
                            </h2>
                            <p class="govuk-body">Find out how to send a claim by post if you cannot send a claim online.</p>
                        </div>
                    </div>
                  </div>

                  <div class="govuk-grid-column-one-third">
                      <div class="card" id="test-card-3">
                          <div class="card-body active" @if(url)>
                              <h2 class="heading-small card-heading">
                                  <a class="card-link" href="./portal-screens/grant-information">
                                      Grant information
                                  </a>
                              </h2>
                              <p class="govuk-body">View information like grant awarded, grant remaining and renew date.</p>
                          </div>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="card" id="test-card-3">
                            <div class="card-body active" @if(url)>
                                <h2 class="heading-small card-heading">
                                    <a class="card-link" href="./portal-screens/contact-atw">
                                        Contact us
                                    </a>
                                </h2>
                                <p class="govuk-body">Find out how to contact us if you have any questions about your claims.</p>
                            </div>
                        </div>
                      </div>


          </div>
    </div>
</div>



{% endblock %}
