{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="../multiple-award-elements/multiple-award-grant-information" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="travel-to-work-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which job do you want to see grant information for?
                        </h1>
                    </legend>

                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="journey-type-multipleawards-fa" name="journey-type-multipleawards"
                                   type="radio"
                                   value="financeanalyst">
                            <label class="govuk-label govuk-radios__label" for="journey-type-multipleawards">
                                Finance Analyst at Deaf Action Charity
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="journey-type-multipleawards-hr" name="journey-type-multipleawards"
                                   type="radio"
                                   value="humanresources">
                            <label class="govuk-label govuk-radios__label" for="journey-type-supportworker">
                                Human Resources Assistant at Google
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>


            <input type="hidden" name="multiple-employers" value="true">
            
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
