{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}


{% block content %}

{%if (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =='true') and (data["answers-checked-sw"]) %}


{% include "alpha/portal-screens/check-your-answers-sw-cs.html" %}

{% elseif (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =='true') and (data["ttw-declaration"]) %}

{% include "alpha/portal-screens/check-your-answers-ttw-cs.html" %}

{% elseif (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =='true') and (data["tiw-declaration"]) %}

{% include "alpha/portal-screens/check-your-answers-tiw-cs.html" %}

{% elseif (data["ttw-declaration"])  %}

{% set print = true %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l govuk-!-display-none-print">About your claim </h1>
{% if data['journey-type'] =="supportworker" %}
<p>This is the information you gave us about your claim. You can change the person who can confirm your support costs at any time before the claim is confirmed.</p>
{% else %}
<p>This is the information you gave us about your claim. You can change your workplace contact at any time before the claim is confirmed.</p>
{% endif %}

{% if data["employment-status"] =='Employed'%}

<h2 class="govuk-heading-m">Workplace contact details</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">


  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Employment status
      </dt>
      <dd class="govuk-summary-list__value">
          {{data["employment-status"]}}

      </dd>

      <dd class="govuk-summary-list__actions govuk-!-display-none-print">

          <a href="../travel-to-work/employement-status">
              Change
              <span class="govuk-visually-hidden"> what is your employment status?</span>
          </a>

      </dd>

  </div>


    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["counter-signatory-full-name"]}}

        </dd>

        <dd class="govuk-summary-list__actions govuk-!-display-none-print">

            <a href="../travel-to-work/counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> what month are you claiming for?</span>
            </a>

        </dd>

    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Email
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["counter-signatory-email"]}}

        </dd>

        <dd class="govuk-summary-list__actions govuk-!-display-none-print">

          <a href="../travel-to-work/counter-signatory-name">
              Change
              <span class="govuk-visually-hidden"> what month are you claiming for?</span>
          </a>

          </dd>

    </div>
</dl>

{% else %}

<h2 class="govuk-heading-m">Type of employment</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
          Employment status
      </dt>
      <dd class="govuk-summary-list__value">
          {{data["employment-status"]}}

      </dd>

      <dd class="govuk-summary-list__actions govuk-!-display-none-print">
        {%if (data['journey-type'] == "traveltowork-ammendment") or (data['ttw-declaration']) %}
          <a href="../travel-to-work/employement-status">
              Change
              <span class="govuk-visually-hidden"> what is your employment status?</span>
          </a>
          {% else %}
          <a href="employement-status">
              Change
              <span class="govuk-visually-hidden"> what is your employment status?</span>
          </a>
          {% endif %}
      </dd>
  </div>
  </dl>
  {% endif %}

</div>
</div>



{% include "alpha/travel-to-work/check-your-answers-body.html" %}

<!--
<form action="citizen-new-declaration-pre-confirm" method="post" novalidate>

    <!-- <input type="hidden" name="answers-checked-sw" value="true"> -->

    <!-- <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>

</form> -->

{% elseif (data["answers-checked-sw"]) %}

{% set print = true %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-m">Details of the person or company who can confirm the support costs</h2>
<p>This is the information you gave us in your claim. You can change the person or company who we’ll contact to confirm you received the support at any time before the claim is confirmed.</p>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Name
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["counter-signatory-full-name"]}}

        </dd>

        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
        {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
            <a href="../support-worker/counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> name of counter signatory</span>
            </a>
            {% else %}
            <a href="counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> name of counter signatory</span>
            </a>
            {% endif %}
        </dd>

    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Email
        </dt>
        <dd class="govuk-summary-list__value">
            {{data["counter-signatory-email"]}}

        </dd>

        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
        {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
            <a href="../support-worker/counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> name of counter signatory</span>
            </a>
            {% else %}
            <a href="counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> email of counter signatory</span>
            </a>
            {% endif %}
        </dd>

        </div>
    </dl>

      </div>
      </div>

      {% include "alpha/support-worker/check-your-answers-body.html" %}

      {% elseif (data["tiw-declaration"]) %}
      {% set print = true %}

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-display-none-print">About your claim </h1>
      {% if data['journey-type'] =="supportworker" %}
      <p>This is the information you gave us about your claim. You can change the person who can confirm your support costs at any time before the claim is confirmed.</p>
      {% else %}
      <p>This is the information you gave us about your claim. You can change your workplace contact at any time before the claim is confirmed.</p>
      {% endif %}

      {% if data["employment-status"] =='Employed'%}

      <h2 class="govuk-heading-m">Workplace contact details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Employment status
            </dt>
            <dd class="govuk-summary-list__value">
                {{data["employment-status"]}}

            </dd>

            <dd class="govuk-summary-list__actions govuk-!-display-none-print">

                <a href="../travel-in-work/employement-status">
                    Change
                    <span class="govuk-visually-hidden"> what is your employment status?</span>
                </a>

            </dd>

        </div>


          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Name
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["counter-signatory-full-name"]}}

              </dd>

              <dd class="govuk-summary-list__actions govuk-!-display-none-print">

                  <a href="../travel-in-work/counter-signatory-name">
                      Change
                      <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                  </a>

              </dd>

          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Email
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["counter-signatory-email"]}}

              </dd>

              <dd class="govuk-summary-list__actions govuk-!-display-none-print">

                <a href="../travel-in-work/counter-signatory-name">
                    Change
                    <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                </a>

                </dd>

          </div>
      </dl>

      {% else %}

      <h2 class="govuk-heading-m">Type of employment</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Employment status
            </dt>
            <dd class="govuk-summary-list__value">
                {{data["employment-status"]}}

            </dd>

            <dd class="govuk-summary-list__actions govuk-!-display-none-print">
              {%if (data['journey-type'] == "traveltowork-ammendment") or (data['ttw-declaration']) %}
                <a href="../travel-in-work/employement-status">
                    Change
                    <span class="govuk-visually-hidden"> what is your employment status?</span>
                </a>
                {% else %}
                <a href="employement-status">
                    Change
                    <span class="govuk-visually-hidden"> what is your employment status?</span>
                </a>
                {% endif %}
            </dd>
        </div>
        </dl>
        {% endif %}

      </div>
      </div>

      {% include "alpha/travel-in-work/check-your-answers-body.html" %}

      {% endif %}





{% endblock %}
