{% block content %}
{% set travelLength %}
{{ data.travel | length }}
{% endset %}

{% set taxiTotal = 0 %}
{% for day in data.travel %}
{% set taxiTotal = taxiTotal | float + day.travel_journeys | float %}
{% else %}
{% set taxiTotal = 0 | float %}
{% endfor %}

{% set milageLength %}
{{ data.milage | length }}
{% endset %}

{% set mileageTotal = 0 %}
{% for day in data.milage %}
{% set mileageTotal = mileageTotal | float + day.milage_total | float %}
{% else %}
{% set mileageTotal = 0 | float %}
{% endfor %}

{% set repeattravelLength %}
{{ data.repeattravel | length }}
{% endset %}

{% set repeattaxiTotal = 0 %}
{% for day in data.repeattravel %}
{% set repeattaxiTotal = repeattaxiTotal | float + day.repeattravel_journeys | float %}
{% else %}
{% set repeattaxiTotal = 0 | float %}
{% endfor %}

{% set repeatmilageLength %}
{{ data.repeatmilage | length }}
{% endset %}

{% set repeatmileageTotal = 0 %}
{% for day in data.repeatmilage %}
{% set repeatmileageTotal = repeatmileageTotal | float + day.repeatmilage_total | float %}
{% else %}
{% set repeatmileageTotal = 0 | float %}
{% endfor %}

{% set taxiinworkTotal = 0 %}
{% for day in data.travel %}
{% set taxiinworkTotal = taxiinworkTotal | float + day.travel_cost | float %}
{% else %}
{% set taxiTotal = 0 | float %}
{% endfor %}

{% set repeattaxiinworkTotal = 0 %}
{% for day in data.repeattravel %}
{% set repeattaxiinworkTotal = repeattaxiinworkTotal | float + day.repeattravel_cost | float %}
{% else %}
{% set repeattaxiTotal = 0 | float %}
{% endfor %}

{% set print = false %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-display-none-print">About your claim </h1>
          <p>You should make the changes requested by the person who can confirm your travel to and from work costs and then send your claim again.</p>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Claim type
                  </dt>
                  <dd class="govuk-summary-list__value">
                      Travel to or from work
                  </dd>
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Type of travel
                  </dt>
                  <dd class="govuk-summary-list__value">
                      {%if (data["transport-option"]=="taxi") or (data["transport-option"]=="taxi-during-work")%} Taxi {% elif (data["transport-option"]=="lift") or (data["transport-option"]=="lift-during-work")%}Lift from a friend, colleague or relative{% endif %}
                  </dd>
              </div>
              </dl>

              <h2 class="govuk-heading-m">Claim information</h2>
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">


                {% if (data["transport-option"]=="lift") or (data['way-of-claiming']=="journeys") %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Travel to and from work
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Total number of journeys taken to and from work each day.
                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="../travel-to-work/mileage-or-journey">
                            Change
                            <span class="govuk-visually-hidden">How are you claiming?</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>
                {% endif %}

                  {%if (data["transport-option"]=="taxi") or (data['way-of-claiming']=="journeys") %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Month of travel
                    </dt>
                    <dd class="govuk-summary-list__value">

                      {{data["travel-to-work-date-month"] | numberMonth}} {{data["travel-to-work-date-year"]}}

                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="../travel-to-work/claiming-for-month">
                            Change
                            <span class="govuk-visually-hidden"> month of travel</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Days journeys were made in {{data["travel-to-work-date-month"] | numberMonth}}
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if (data['transport-option'] == "taxi") or (data['way-of-claiming']) %}
                        {% for item in data['travel'] | sortBy('day') %}
                        {{item.day}} {{data["travel-to-work-date-month"] | numberMonth}} {{data["travel-to-work-date-year"]}} <br>{{item.travel_journeys}} Journeys
                         <br> <br>
                         {% endfor %}
                         {% else %}
                         {% for item in data['travel'] | sortBy('day') %}
                         {{item.day}} {{data["travel-to-work-date-month"] | numberMonth}} {{data["travel-to-work-date-year"]}} <br>From {{item.travel_from}} <br>To {{item.travel_to}}<br>£{{item.travel_cost}}
                          <br> <br>
                          {% endfor %}
                         {% endif %}
                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="../travel-to-work/taxi-journeys-for-day-summary">
                            Change
                            <span class="govuk-visually-hidden"> Total number of journeys</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>

                {%if (data["travel-to-work-date-month-repeat"]) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Month of travel
                    </dt>
                    <dd class="govuk-summary-list__value">

                      {{data["travel-to-work-date-month-repeat"] | numberMonth}} {{data["travel-to-work-date-year-repeat"]}}

                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="../travel-to-work/claiming-for-month-repeat">
                            Change
                            <span class="govuk-visually-hidden"> month of travel</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Days journeys were made in {{data["travel-to-work-date-month-repeat"] | numberMonth}}
                    </dt>
                    <dd class="govuk-summary-list__value">

                    {% if (data['transport-option'] == "taxi") or (data['way-of-claiming']) %}
                         {% for item in data['repeattravel'] | sortBy('day') %}
                         {{item.day}} {{data["travel-to-work-date-month-repeat"] | numberMonth}} {{data["travel-to-work-date-year-repeat"]}} <br>{{item.repeattravel_journeys}} {% if taxiTotal === 1 %} journey {% else %} journeys {% endif %}
                         </br> <br>
                         {% endfor %}
                        {% else %}
                        {% for item in data['repeattravel'] | sortBy('day') %}
                        {{item.day}} {{data["travel-to-work-date-month-repeat"] | numberMonth}} {{data["travel-to-work-date-year-repeat"]}} <br>From {{item.repeattravel_from}} <br>To {{item.repeattravel_to}}<br>£{{item.repeattravel_cost}}
                         <br> <br>
                         {% endfor %}
                        {% endif %}

                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="../travel-to-work/taxi-journeys-for-day-summary">
                            Change
                            <span class="govuk-visually-hidden"> Total number of journeys</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Total number of journeys
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {%if data["transport-option"]=="taxi-during-work" %}
                      {{travelLength|int + repeattravelLength|int}} journeys <br>
                      {% else %}
                      {{taxiTotal + repeattaxiTotal}} journeys
                      {% endif %}
                      <!-- {{travelLength + repeattravelLength}} {% if data['journeys'].length === 1 %} day {% else %} days {% endif %} -->

                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="../travel-to-work/taxi-journeys-for-day-summary">
                            Change
                            <span class="govuk-visually-hidden"> Total number of journeys</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>

                {% if data['transport-option'] == "taxi"%}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Total cost of journeys
                    </dt>
                    <dd class="govuk-summary-list__value">

                      £{{data["cost-of-taxi"]}}

                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="../travel-to-work/taxi-cost">
                            Change
                            <span class="govuk-visually-hidden"> Total number of journeys</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>
                {% endif %}

                {%if (data["transport-option"]=="taxi") %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      {% if data['uploads'].length === 1 %}
                        Receipt or invoice uploaded
                        {% else %}
                        Receipts or invoices uploaded
                        {% endif %}
                    </dt>

                    <dd class="govuk-summary-list__value">
                        {% for file in data['uploads'] %}

                      {{file['file']}} <br>
                        {% endfor %}

                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="../travel-to-work/upload-summary">
                            Change
                            <span class="govuk-visually-hidden"> Total number of journeys</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>
                {% endif %}

                </dl>

                {%if (data['cost-of-taxi']=="100") %}

                <div class="govuk-inset-text">
                  The amount we’ll pay back will be less than the total cost you’re claiming for. This is because we’ll deduct the amounts you or your employer have agreed to pay.
                </div>


                {% endif %}

              {% elseif (data["transport-option"]=="lift") or (data['way-of-claiming']=="mileage") %}

              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Travel to and from work
                  </dt>
                  <dd class="govuk-summary-list__value">
                      Total distance in miles travelled to and from work each day
                  </dd>
                  {% if print != true %}
                  <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                      <a href="../travel-to-work/mileage-or-journey">
                          Change
                          <span class="govuk-visually-hidden">How are you claiming?</span>
                      </a>
                  </dd>
                  {% endif %}
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Month of travel
                  </dt>
                  <dd class="govuk-summary-list__value">

                    {{data["travel-to-work-date-month"] | numberMonth}} {{data["travel-to-work-date-year"]}}

                  </dd>
                  {% if print != true %}
                  <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                      <a href="../travel-to-work/claiming-for-month">
                          Change
                          <span class="govuk-visually-hidden"> month of travel</span>
                      </a>
                  </dd>
                  {% endif %}
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Days journeys were made
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% for item in data['milage'] | sortBy('day') %}
                    {{item.day}} {{data["travel-to-work-date-month"] | numberMonth}} {{data["travel-to-work-date-year"]}} {% if data['transport-option'] == "lift-during-work"%}<br>From {{item.milage_from}} <br>To {{item.milage_to}}{% endif %} <br>{{item.milage_total}} Miles<br><br>
                    {% endfor %}
                  </dd>
                  {% if print != true %}
                  <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                      <a href="../travel-to-work/mileage-for-day-summary">
                          Change
                          <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                      </a>
                  </dd>
                  {% endif %}
              </div>

              {%if (data["travel-to-work-date-month-repeat"]) %}

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Month of travel
                  </dt>
                  <dd class="govuk-summary-list__value">

                    {{data["travel-to-work-date-month-repeat"] | numberMonth}} {{data["travel-to-work-date-year-repeat"]}}

                  </dd>
                  {% if print != true %}
                  <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                      <a href="../travel-to-work/claiming-for-month">
                          Change
                          <span class="govuk-visually-hidden"> month of travel</span>
                      </a>
                  </dd>
                  {% endif %}
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Days journeys were made
                  </dt>
                  <dd class="govuk-summary-list__value">
                     {% for item in data['repeatmilage'] | sortBy('day') %}
                     {{item.day}} {{data["travel-to-work-date-month-repeat"] | numberMonth}} {{data["travel-to-work-date-year-repeat"]}} {% if data['transport-option'] == "lift-during-work"%}<br>From {{item.repeatmilage_from}} <br>To {{item.repeatmilage_to}}{% endif %} <br>{{item.repeatmilage_total}} Miles<br><br>
                     {% endfor %}
                  </dd>
                  {% if print != true %}
                  <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                      <a href="../travel-to-work/mileage-for-day-summary">
                          Change
                          <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                      </a>
                  </dd>
                  {% endif %}
              </div>

              {% endif %}

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Total miles travelled
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{mileageTotal + repeatmileageTotal}} miles <br>

                  </dd>
                  {% if print != true %}
                  <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                      <a href="../travel-to-work/mileage-for-day-summary">
                          Change
                          <span class="govuk-visually-hidden"> Total miles travelled</span>
                      </a>
                  </dd>
                  {% endif %}
              </div>

              </dl>

              {% endif %}

              {%if (data["transport-option"]=="lift") or (data["transport-option"]=="lift-during-work") %}

              <div class="govuk-inset-text">
                We’ll use the rate per mile quoted in your grant approval letter to work out how much you’re paid back.
              </div>


              {% endif %}





              <h2 class="govuk-heading-m">Workplace contact details</h2>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                      {{data["counter-signatory-full-name"]}}
                  </dd>
                  {% if print != true %}
                  <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                      <a href="../travel-to-work/counter-signatory-name">
                          Change
                          <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                      </a>
                  </dd>
                  {% endif %}
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Email
                  </dt>
                  <dd class="govuk-summary-list__value">
                      {{data["counter-signatory-email"]}}
                  </dd>
                 {% if print != true %}
                  <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="../travel-to-work/counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                    </a>
                    </dd>
                {% endif %}
              </div>

              </dl>

              <h2 class="govuk-heading-m">Details of new person or company being paid</h2>


              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data["new-payee-full-name"]}}
                    </dd>
                </div>

                {%if (data["payee-email"]) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{data["payee-email"]}}
                    </dd>
                </div>
                {% endif %}
                </dl>

                <!-- {% if print != true %}
                <p>You can also <a target="_blank"
                        href="../travel-to-work/check-your-answers-print">save and print a copy of your answers (opens in a new tab)</a>.</p>
                {% endif %} -->



      <form action="citizen-new-declaration" method="post" novalidate>

          <input type="hidden" name="ttw-declaration" value="true">

          <button type="submit" class="govuk-button govuk-!-display-none-print" data-module="govuk-button">
              Continue
          </button>

      </form>



</div>
</div>





{% endblock %}
