{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}




<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="confirmation" method="post" class="form">

            <h1 class="govuk-heading-l">Declaration</h1>

            <p>By submitting this claim, I confirm that:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>the information I have given is complete and correct</li>
                {%if data['journey-type'] == "traveltowork-ammendment" %}
                <li>I have made the relevent changes requested</li>
                {% endif %}
                <li>this is the only claim I have made for these costs</li>
                <li>I am only claiming money back for agreed support</li>
                <li>I will let DWP know if my circumstances change whilst I’m getting Access to Work</li>
            </ul>

            <p>I understand and agree that DWP may recover any money wrongly paid to me because I did not:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>provide correct or complete information, or</li>
                <li>report a change in my circumstances</li>
            </ul>

            <p>I understand if I give wrong or incomplete information, or I do not report changes as they happen, I may:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>be prosecuted</li>
                <li>need to pay a financial penalty </li>
                <li>have my Access to Work grant reduced or stopped</li>
            </ul>



                    <input type="hidden" name="citizen-delared-pre" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Agree and submit
            </button>


        </form>
    </div>
</div>

{% endblock %}
