{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="claims-history.html">Claims History</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="claims-history-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Claims history
                        </h1>
                    </legend>


                    <p>Find information on claims you’ve sent us in the past, as well as any claims you’re currently working on but have not sent. This includes what stage your claim is at, for example, if it’s been approved. You can <a href="claims-history-timeline">find out what stages a claim goes through</a> after you’ve sent it.</p>

                    <p>When you send a new claim, you’ll be able see it here. It can take up to 5 working days for a new claim to appear in your claim history.</p>
                </fieldset>
            </div>


            {%if (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =="true") and (data['citizen-delared'] !== "true") %}



            <h2 class="govuk-heading-m">Claim needs updating <span id="notifications" class="moj-notification-badge">1</span> </h2>
            <div class="govuk-inset-text">
            Your workplace contact has reviewed your claim. You need to make some changes before they can approve your claim.
            </div>

              <table class="govuk-table">

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date of payment</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claim type</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Make changes to your claim</th>
                  </tr
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">03 July 2021</th>

                    <td class="govuk-table__cell govuk-table__cell--numeric">{% if (data["answers-checked-sw"]) %}Support worker{% else %} Travel for work{% endif %}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                    {% if data['claim-incorrect'] =='true' %}
                    <a class="govuk-!-display-none-print" href="employees-claim-incorrect">
                        Edit
                        <span class="govuk-visually-hidden">Edit claim</span>
                    </a>
                    {% else %}
                    <a class="govuk-!-display-none-print" href="check-your-answers">
                        Edit
                        <span class="govuk-visually-hidden">Edit claim</span>
                    </a>
                    {% endif %}
                  </td>
                  </tr>
                </tbody>
              </table>
              <br>


              {% endif %}

{%if (data['journey-type'] == "specialaidsandequipment") %}

        <h2 class="govuk-heading-m">Claim sent</h2>
        <p>Your claim request has been sent to us.</p>

          <table class="govuk-table">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date of payment</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claim type</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">View claim</th>
              </tr
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">01 Febuary 2021</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">Equipment and adaptations</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-!-display-none-print" href="e-a-check-your-answers-print">
                    View
                    <span class="govuk-visually-hidden">view claim</span>
                </a></td>
              </tr>
            </tbody>
          </table>

{% else %}
            {%if (data['journey-type'] == "supportworker") %}
            <h2 class="govuk-heading-m">Claim sent to person who can confirm your support costs</h2>
            <p>Your claim has been sent to person who can confirm your support costs. You can still amend your claim prior to the person who can confirm your support reviewing the claim.</p>
            {% else %}
            <h2 class="govuk-heading-m">Claim sent to workplace contact</h2>
            <p>Your claim has been sent to your workplace contact to confirm. You can still amend your claim prior to your workplace contact reviewing the claim.</p>
            {% endif %}

            <table class="govuk-table">

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date of payment</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claim type</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Make changes to your claim</th>
                </tr
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">23 August 2021</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">{% if (data["answers-checked-sw"]) %}Support worker{% else %} Travel for work{% endif %}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    {% if data['claim-incorrect'] =='true' %}
                    <a class="govuk-!-display-none-print" href="employees-claim-incorrect">
                        Edit
                        <span class="govuk-visually-hidden">Edit claim</span>
                    </a>
                    {% else %}
                    <a class="govuk-!-display-none-print" href="check-your-answers">
                        Edit
                        <span class="govuk-visually-hidden">Edit claim</span>
                    </a>
                    {% endif %}
                </td>
                </tr>
              </tbody>
            </table>


            <br><br>

              <h2 class="govuk-heading-m">Claim confirmed by your workplace contact</h2>
              <p>Your claim request has been confirmed by your workplace contact. An Access to Work Payment Officer can now process your claim.</p>


              <table class="govuk-table">

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date of payment</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claim type</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">View claim</th>
                  </tr
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">23 August 2021</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{% if (data["answers-checked-sw"]) %}Support worker{% else %} Travel for work{% endif %}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                      {% if (data["answers-checked-sw"]) %}
                          <a href="sw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Support worker claim - 01/02/2021</span>
                          </a>
                          {% else %}
                          <a href="ttw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Travel to work claim - 01/02/2021</span>
                          </a>
                          {% endif %}
                  </td>
                  </tr>
                  {%if (data['journey-type'] == "traveltowork-ammendment") and (data ['citizen-delared'] == "true")%}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">03 July 2021</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{% if (data["answers-checked-sw"]) %}Support worker{% else %} Travel for work{% endif %}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                      {% if (data["answers-checked-sw"]) %}
                          <a href="sw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Support worker claim - 01/02/2021</span>
                          </a>
                          {% else %}
                          <a href="ttw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Travel to work claim - 01/02/2021</span>
                          </a>
                          {% endif %}
                  </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>

                      <br><br>


  {% endif %}

              <h2 class="govuk-heading-m">Claim paid</h2>
              <p>Your claim has been approved and a payment sent to the company or person who needs to be paid.<p>
              <table class="govuk-table">

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date of payment</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Claim type</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount paid </th>
                  </tr
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">01 Febuary 2021</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">Equipment and adaptations</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£951</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">06 March 2021</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{% if (data["answers-checked-sw"]) %}
                    Support worker
                    {% else %}
                      Travel for work
                      {% endif %}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£556</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">04 April 2021</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">  {% if (data["answers-checked-sw"]) %}
                      Support worker
                      {% else %}
                        Travel for work
                        {% endif %}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
                  </tr>
                </tbody>
              </table>


<!--
                    <h2 class="govuk-heading-m">Saved claims</h2>
                    <p>Claims that have not been sent yet.<p>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              06 June 2021
                          </dt>
                          <dd class="govuk-summary-list__value">
                              Equipment and adaptations
                          </dd>
                          {% if print != true %}
                          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                              <a href="e-a-check-your-answers-print">
                                  Edit
                                  <span class="govuk-visually-hidden"> Equipment and adaptations claim - 01/02/2021</span>
                              </a>
                          </dd>
                          {% endif %}
                      </div>

                      </dl> -->

                </div>
            </div>


{% endblock %}
