{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="claims-history.html">Claims History</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="claims-history-timeline.html">Timeline</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <form action="claims-history" method="post" class="form">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="claims-history-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Claims timeline
                        </h1>
                    </legend>
                    <p id="claims-history-hint" class="govuk-body">Stages a claim goes through after you’ve sent it.</p>
                </fieldset>
            </div>

{%if (data['journey-type'] == "specialaidsandequipment") %}
        <ol class="hmrc-timeline">
          <li class="hmrc-timeline__event">
          <h2 class="hmrc-timeline__event-title">Claim sent</h2>
          <!-- <time class="hmrc-timeline__event-meta" datetime="2020-07-14">14 July 2020</time> -->
          <div class="hmrc-timeline__event-content">
          <p class="govuk-body">An Access to Work Payment Officer can now process the claim.</p>
          </div>
          </li>
          <li class="hmrc-timeline__event">
          <h2 class="hmrc-timeline__event-title">Claim approved</h2>
          <!-- <time class="hmrc-timeline__event-meta" datetime="2020-07-15">15 July 2020</time> -->
          <div class="hmrc-timeline__event-content">
          <p class="govuk-body">Claim approved and payment sent to the company or person who needs to be paid. The payment should arrive in their account in 5 working days.</p>
          </div>
          </li>

        </ol>

{% else %}

<ol class="hmrc-timeline">
  {%if (data['journey-type'] == "supportworker") %}
  <li class="hmrc-timeline__event">
  <h2 class="hmrc-timeline__event-title">Claims sent to person who can confirm your support costs</h2>
  <!-- <time class="hmrc-timeline__event-meta" datetime="2020-07-14">14 July 2020</time> -->
  <div class="hmrc-timeline__event-content">
  <p class="govuk-body">Claims has been sent to person who can confirm your support costs. You can change person who can confirm your support costs at any time before the claim is confirmed.</p>
  </div>
  </li>
  <li class="hmrc-timeline__event">
  <h2 class="hmrc-timeline__event-title">Claim confirmed</h2>
  <!-- <time class="hmrc-timeline__event-meta" datetime="2020-07-14">14 July 2020</time> -->
  <div class="hmrc-timeline__event-content">
  <p class="govuk-body">An Access to Work Payment Officer can now process the claim.</p>
  </div>
  </li>
  {% else %}
  <li class="hmrc-timeline__event">
  <h2 class="hmrc-timeline__event-title">Claims sent to workplace contact</h2>
  <!-- <time class="hmrc-timeline__event-meta" datetime="2020-07-14">14 July 2020</time> -->
  <div class="hmrc-timeline__event-content">
  <p class="govuk-body">Claim sent to your workplace contact to confirm. You can change a workplace contact at any time before the claim is confirmed.</p>
  </div>
  </li>
  <li class="hmrc-timeline__event">
  <h2 class="hmrc-timeline__event-title">Claim confirmed</h2>
  <!-- <time class="hmrc-timeline__event-meta" datetime="2020-07-14">14 July 2020</time> -->
  <div class="hmrc-timeline__event-content">
  <p class="govuk-body">An Access to Work Payment Officer can now process the claim.</p>
  </div>
  </li>
  {% endif %}

  <li class="hmrc-timeline__event">
  <h2 class="hmrc-timeline__event-title">Claim approved</h2>
  <!-- <time class="hmrc-timeline__event-meta" datetime="2020-07-15">15 July 2020</time> -->
  <div class="hmrc-timeline__event-content">
  <p class="govuk-body">Claim approved and payment sent to the company or person who needs to be paid. The payment should arrive in their account in 5 working days.</p>
  </div>
  </li>

</ol>

{% endif %}

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Return to claims history
        </button>
    </form>

    </div>
</div>


{% endblock %}
