{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        {% if (data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true") %}
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="multiple-claims-history.html">Claims history type</a>
        </li>
        {% endif %}
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="claims-history.html">Claims history</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="claims-history-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Claims history
                        </h1>
                    </legend>
                    {% if (data ['journey-type'] == "specialaidsandequipment") or (data ['journey-type'] == "specialaidsandequipmentdev") %}
                    <p>About the claims for equipment and adaptations you've sent. When you send a new claim, you’ll be able to see it here. It can take up to 5 working days for a claim to appear in your claims history.</p>
                    {% elseif (data['journey-type'] == "supportworker") or (data['journey-type'] == "supportworkerdev") or (data["answers-checked-sw"]) %}
                    <p>About the claims for support worker costs you've sent. When you send a new claim, you’ll be able to see it here. It can take up to 5 working days for a claim to appear in your claims history.</p>
                    {% elseif (data['journey-type'] == "traveltowork") or (data['journey-type'] == "traveltoworkdev") or (data["ttw-declaration"])%}
                    <p>About the claims for travel to work you've sent. When you send a new claim, you’ll be able to see it here. It can take up to 5 working days for a claim to appear in your claims history.</p>
                    {% elseif (data['journey-type'] == "travelinwork") or (data['journey-type'] == "travelinworkdevv2") or (data["tiw-declaration"]) %}
                    <p>About the claims for travel during work hours you've sent. When you send a new claim, you’ll be able to see it here. It can take up to 5 working days for a claim to appear in your claims history.</p>
                    {% endif %}

                    {% if ((data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true")) and (data['journey-type'] !== "supportworker") %}
                    <p>You can also <a href="multiple-claims-history">view the claims history of your other awards</a>.</p>
                    {% endif %}

                </fieldset>
            </div>

            {% if ((data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true")) and (data['journey-type'] == "supportworker")%}
            <div class="govuk-inset-text">
            You have not made any claims against this award type. <p>You can <a href="multiple-claims-history">view the claims history of your other awards</a>.</p>
            </div>
            {% endif %}


            {%if (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =="true") and (data['citizen-delared'] !=="true")%}



            <h2 class="govuk-heading-m">Claim needs updating <span id="notifications" class="moj-notification-badge">1</span> </h2>
            <div class="govuk-inset-text">
            Your claim has not been confirmed. You need to check the details of your claim and update it.
            </div>

              <table class="govuk-table">

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date of payment</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Make changes to your claim</th>
                  </tr
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">03 July 2021</th>


                    <td class="govuk-table__cell govuk-table__cell--numeric">
                    {% if data['claim-incorrect'] =='true' %}
                    <a class="govuk-!-display-none-print" href="employees-claim-incorrect">
                        Edit
                        <span class="govuk-visually-hidden">Edit claim</span>
                    </a>
                    {% else %}
                    <a class="govuk-!-display-none-print" href="check-your-answers">
                        Edit
                        <span class="govuk-visually-hidden">Edit claim</span>
                    </a>
                    {% endif %}
                  </td>
                  </tr>
                </tbody>
              </table>
              <br>


              {% endif %}

              {%if data['journey-type'] == "specialaidsandequipment" %}

        <h2 class="govuk-heading-m">Claims sent</h2>
        <p>Your claim request has been sent to us.</p>

          <table class="govuk-table">

            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Claim sent</th>

                <th scope="col" class="govuk-table__header govuk-table__header--numeric">View claim</th>
              </tr
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">01 February 2021</th>


                <td class="govuk-table__cell govuk-table__cell--numeric">

                  <a class="govuk-!-display-none-print" href="e-a-check-your-answers-print">
                    View
                    <span class="govuk-visually-hidden">view claim</span>
                </a>

              </td>
              </tr>
            </tbody>
          </table>
          {% elseif ((data['journey-type'] == "travelinwork") or (data['journey-type'] == "traveltowork")) and (data["employment-status"] =='Self-employed') %}

          <h2 class="govuk-heading-m">Claims sent</h2>
          <p>Your claim request has been sent to us.</p>

            <table class="govuk-table">

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Claim sent</th>

                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">View claim</th>
                </tr
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">01 February 2021</th>


                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    {%if data['journey-type'] == "travelinwork" %}
                    <a class="govuk-!-display-none-print" href="tiw-check-your-answers-print">
                      View
                      <span class="govuk-visually-hidden">view claim</span>
                  </a>
                  {% else %}
                  <a class="govuk-!-display-none-print" href="ttw-check-your-answers-print">
                    View
                    <span class="govuk-visually-hidden">view claim</span>
                </a>
                {% endif %}
                </td>
                </tr>
              </tbody>
            </table>
            {% elseif ((data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true")) and (data['journey-type'] == "supportworker")%}

          {% else %}
            {%if (data['journey-type'] == "supportworker") or (data['journey-type'] == "supportworkerdev") or (data["answers-checked-sw"]) %}
            <h2 class="govuk-heading-m">Claims sent to the person who can confirm your support costs</h2>
            <div class="govuk-inset-text">
            You can change the contact who can confirm your support costs at any time before the claim is confirmed.
            </div>

            {% else %}
            <h2 class="govuk-heading-m">Claims sent to workplace contact</h2>
            <div class="govuk-inset-text">
            Claims sent to your workplace contact to confirm. You can change your workplace contact at any time before the claim is confirmed.
            </div>

            {% endif %}

            <table class="govuk-table">

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Date claim sent</th>

                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Change contact</th>
                </tr
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">23 August 2021</th>

                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    {% if data['claim-incorrect'] =='true' %}
                    <a class="govuk-!-display-none-print" href="employees-claim-incorrect">
                        Change contact
                        <span class="govuk-visually-hidden">Change contact</span>
                    </a>
                    {% else %}
                    <a class="govuk-!-display-none-print" href="check-your-answers">
                        Change contact
                        <span class="govuk-visually-hidden">Change contact</span>
                    </a>
                    {% endif %}
                </td>
                </tr>
              </tbody>
            </table>


            <br><br>
            {% if data["journey-type"] == "supportworker" %}
            <h2 class="govuk-heading-m">Claims confirmed</h2>
            {% else %}
            <h2 class="govuk-heading-m">Claims confirmed</h2>
            {% endif %}
              <p>An Access to Work Payment Officer can now process these claims.</p>


              <table class="govuk-table">

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date confirmed</th>

                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">View claim</th>
                  </tr
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">23 August 2021</th>

                    <td class="govuk-table__cell govuk-table__cell--numeric">
                      {% if (data['journey-type'] == "supportworker") or (data['journey-type'] == "supportworkerdev") or (data["answers-checked-sw"]) %}
                          <a href="sw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Support worker claim - 01/02/2021</span>
                          </a>
                          {% elseif (data['journey-type'] == "travelinwork") or (data['journey-type'] == "travelinworkdevv2") or (data["tiw-declaration"]) %}
                          <a href="tiw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> travel during work hours claim - 01/02/2021</span>
                          </a>

                          {% else %}
                          <a href="ttw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Travel to work claim - 01/02/2021</span>
                          </a>
                          {% endif %}
                  </td>
                  </tr>
                  {%if (data['journey-type'] == "traveltowork-ammendment") and (data ['citizen-delared'] == "true")%}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">03 July 2021</th>

                    <td class="govuk-table__cell govuk-table__cell--numeric">
                      {% if (data['journey-type'] == "supportworker") or (data['journey-type'] == "supportworkerdev") or (data["answers-checked-sw"]) %}
                          <a href="sw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Support worker claim - 01/02/2021</span>
                          </a>
                          {% elseif (data['journey-type'] == "travelinwork") or (data['journey-type'] == "travelinworkdevv2") or (data["tiw-declaration"]) %}
                          <a href="tiw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Travel in work claim - 01/02/2021</span>
                          </a>
                          {% else %}
                          <a href="ttw-check-your-answers-print">
                              View
                              <span class="govuk-visually-hidden"> Travel to work claim - 01/02/2021</span>
                          </a>
                          {% endif %}
                  </td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>

                      <br><br>


                      {% endif %}

              {% if ((data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true")) and (data['journey-type'] == "supportworker")%}
              {% else %}
              <h2 class="govuk-heading-m">Claims approved</h2>
              <p>Claims approved and payment sent to the company or person who needs to be paid.</p>

              <p>Once we receive the claim, it can take 10 working days for payment to be sent to the company or person who needs to be paid.</p>


              <table class="govuk-table">

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Date of payment</th>

                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount paid </th>
                  </tr
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">01 February 2021</th>

                    <td class="govuk-table__cell govuk-table__cell--numeric">£951</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">06 March 2021</th>

                    <td class="govuk-table__cell govuk-table__cell--numeric">£556</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">04 April 2021</th>

                    <td class="govuk-table__cell govuk-table__cell--numeric">£125</td>
                  </tr>
                </tbody>
              </table>
              {% endif %}


<!--
                    <h2 class="govuk-heading-m">Saved claims</h2>
                    <p>Claims that have not been sent yet.<p>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              06 June 2021
                          </dt>
                          <dd class="govuk-summary-list__value">
                              Equipment and adaptations
                          </dd>
                          {% if print != true %}
                          <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                              <a href="e-a-check-your-answers-print">
                                  Edit
                                  <span class="govuk-visually-hidden"> Equipment and adaptations claim - 01/02/2021</span>
                              </a>
                          </dd>
                          {% endif %}
                      </div>

                      </dl> -->

                        <p>You can <a href="claims-history-timeline">find out what stages a claim goes through</a> after you’ve sent it.</p>

                </div>
            </div>


{% endblock %}
