{% extends "layout.html" %}

{% block pageTitle %}
Contact Access to Work – Claim money back from Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="contact-atw.html">Contact Access to Work</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Contact Access to Work</h1>

        <p>You can contact the Access to Work helpline if you have any questions about your claims.</p>




        <div class="govuk-inset-text">
          <h3 class="govuk-heading-s">Access to Work:</h3>
            Telephone: 0800 121 7479<br>
            Textphone: 0800 121 7579<br>
            <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 7479<br>
            Monday to Friday, 9am to 5pm<br>
            <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=vZJc6OKmAUA">check you can use the service</a><br>
              Monday to Friday, 9am to 5pm <br>
            <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
        </div>




        <form action="../portal" method="post" class="form">

          <button type="submit" class="govuk-button" data-module="govuk-button">
              Return to account home
          </button>

        </form>



    </div>
</div>


{% endblock %}
