{% extends "layout.html" %}

{% block pageTitle %}
Contact Access to Work – Claim money back from Access to Work – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="contact-atw.html">Contact Access to Work</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Contact Access to Work</h1>
<p>You can contact us for free by: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li> Telephone: 0800 121 7479</li>
            <li> Textphone: 0800 121 7579</li>
            <li> <a class="govuk-link" href="https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479 </li>
            <li> <a class="govuk-link" href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP/">Video Relay Service</a> for British Sign Language – <a class="govuk-link" href="https://www.dalanguages.co.uk/dwp-bsl/">find out how to use the service</a> </li>
          </ul>




        <form action="../portal" method="post" class="form">

          <button type="submit" class="govuk-button" data-module="govuk-button">
              Return to account home
          </button>

        </form>



    </div>
</div>


{% endblock %}
