{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


            <h1 class="govuk-heading-l">Declaration</h1>

            <p>By submitting a new personal details request, you are agreeing that:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>the information you have given is correct</li>
                <li>Access to Work may check and confirm these details with employers, suppliers or providers</li>
            </ul>

            <h2 class="govuk-heading-m">If you’ve told us about a new home address</h2>
            <p>This may affect the amount of grant you're awarded and may result in us completing a change of circumstances. If your new address affects your grant, we’ll contact you.</p>





          {% if data["personal-information"] %}

          <form action="new-personal-confirmation" method="post" class="form">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              I agree – update personal information
            </button>
        </form>
        {% else %}
          <form action="new-payee-confirmation" method="post" class="form">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              I agree – add new payee
            </button>
          </form>
          {% endif %}



    </div>
</div>


{% endblock %}
