{% extends "layout.html" %}

{% block pageTitle %}
Personal details change declaration – Claim money back from Access to Work – GOV.UK
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


            <h1 class="govuk-heading-l">Declaration</h1>

            <p>By requesting a change to your personal details, you are agreeing that:</p>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>the information you have given is correct</li>
                <li>Access to Work may check and confirm these details with employers, suppliers or providers</li>
            </ul>


            <h2 class="govuk-heading-m">If you’ve told us about a new home address</h2>
            <p>This may affect the amount of grant you're awarded. If your new address affects your grant, we’ll contact you.</p>






          {% if data["personal-information"] or data["personal-information-change"]  %}

          <form action="new-personal-confirmation" method="post" class="form">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Agree and update personal details
            </button>
        </form>
        {% else %}
          <form action="new-payee-confirmation" method="post" class="form">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Agree and add new payee
            </button>
          </form>
          {% endif %}



    </div>
</div>


{% endblock %}
