{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}

{% set print = true %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="check-your-answers" method="post" class="form">
        <h1 class="govuk-heading-l">Workplace contact response</h1>



        <p>Your workplace contact has reviewed the claim and decided that it needs to be ammended before they can confirm it is correct. Please make the ammendments listed below and resubmit your claim.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                <h3 class="govuk-heading-m">Claim details </h3>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of claim
                  </dt>
                  <dd class="govuk-summary-list__value">
                    02 June - 2021
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Unique Reference Number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                      {% if (data["answers-checked-sw"]) %}
                      SW112200483
                      {% else %}
                      TTW112200483
                      {% endif %}
                    </p>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Type of claim
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                      {% if (data["answers-checked-sw"]) %}
                      Support worker
                      {% else %}
                      Travel to work
                      {% endif %}
                      </p>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Reason claim is incorrect
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                      {% if (data["answers-checked-sw"]) %}
                      One of the days you have claimed you had support for was a saturday and you don't work on saturdays.
                      {% else %}
                      One of the days you have claimed travel for work was a Saturday and you don't work on saturdays.
                      {% endif %}</p>

                  </dd>
                </div>
              </dl>




            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>
{% endblock %}
