{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}

{% set print = true %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="check-your-answers" method="post" class="form">
        <h1 class="govuk-heading-l">Changes you need to make to your claim </h1>



        <p>Your workplace contact has reviewed your claim. You need to make some changes before they can approve your claim.
          Make the changes listed below and then send us your claim again.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                <h3 class="govuk-heading-m">Claim details </h3>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of claim
                  </dt>
                  <dd class="govuk-summary-list__value">
                    02 June - 2021
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Claim reference number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                      {% if (data["answers-checked-sw"]) %}
                      SW112200483
                      {% else %}
                      TTW112200483
                      {% endif %}
                    </p>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Type of claim
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                      {% if (data["answers-checked-sw"]) %}
                      Support worker
                      {% else %}
                      Travel to work
                      {% endif %}
                      </p>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Changes that need making
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <p class="govuk-body">
                      {% if (data["answers-checked-sw"]) %}
                      One of the days you have claimed you had support for was a saturday and you don't work on saturdays.
                      {% else %}
                      One of the days you have claimed travel for work was a Saturday and you don't work on saturdays.
                      {% endif %}</p>

                  </dd>
                </div>
              </dl>




            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>
{% endblock %}
