{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="grant-information.html">Information about your grant</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Information about your grant</h1>

        <p>We’ll help pay for support to make it easier for you to do your job. This support can be used whilst you work as a Finance Analyst at Deaf Action. </p>





        <h2 class="govuk-heading-m">What support you’ll get</h2>

        {%if (data['journey-type'] == "specialaidsandequipment") or (data['journey-type'] == "specialaidsandequipmentdev") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agreed support and cost
            </dt>
            <dd class="govuk-summary-list__value">
              £2089.98 - Hearing aid <br>
              £102.00 - Keyboard <br>
              £474.00 - Magnifier and speech software <br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £2665.98
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £266.59
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £2399.39
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £2089.98
            </dd>
          </div>
        </dl>

        {% elseif (data['journey-type'] == "supportworker") or (data['journey-type'] == "supportworkerdev") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Support type
            </dt>
            <dd class="govuk-summary-list__value">
              Support worker for 125 hours per month
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agreed support and cost
            </dt>
            <dd class="govuk-summary-list__value">
              £45.00 per hour
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £7,200
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £7.50 per hour
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £37.50 per hour
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £6,500
            </dd>
          </div>

        </dl>

        {% elseif (data['journey-type'] == "traveltowork") or (data['journey-type'] == "traveltoworkdev") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Travel type
            </dt>
            <dd class="govuk-summary-list__value">
              Taxis to and from work for 10 journeys per week
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agreed support and cost
            </dt>
            <dd class="govuk-summary-list__value">
              £45.00 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £7,200
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £7.50 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £37.50 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £6,500
            </dd>
          </div>

        </dl>

        {% elseif (data['journey-type'] == "travelinwork") or (data['journey-type'] == "travelinworkdev") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Travel type
            </dt>
            <dd class="govuk-summary-list__value">
              Taxis during work hours for 4 journeys per week
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £4,800
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              25p per mile
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £4500
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £3,650
            </dd>
          </div>

        </dl>


        {% elseif (data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true") %} 

        <h3 class="govuk-heading-s"> Travel for work grant </h3>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Travel type
            </dt>
            <dd class="govuk-summary-list__value">
              Taxis to and from work for 10 journeys per week
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agreed support and cost
            </dt>
            <dd class="govuk-summary-list__value">
              £45.00 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £7,200
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £7.50 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £37.50 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £6,500
            </dd>
          </div>

        </dl>

        <p>The total cost of your travel for work support is <b>£11635.71</b>. Access to Work will pay a maximum of <b>£9,696.43</b>.</p>

        <h3 class="govuk-heading-s">Equipment and adaptation grant</h3>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Agreed support and cost
            </dt>
            <dd class="govuk-summary-list__value">
              £2089.98 - Hearing aid <br>
              £102.00 - Keyboard <br>
              £474.00 - Magnifier and speech software <br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £2665.98
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £266.59
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £2399.39
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £2089.98
            </dd>
          </div>
        </dl>

        {% endif %}

         {% if (data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true") %}
        <p>The total cost of your travel for work support is <b>£11635.71</b>. Access to Work will pay a maximum of <b>£9,696.43</b>.</p>
        {% endif %}


        <p>You should have already received a copy of your grant approval letter by post.</p>

        <p>Your support starts from <b>05 March 2021</b> until <b>05 March 2024</b> if your needs do not change.</p>



        <form action="../portal" method="post" class="form">

          <button type="submit" class="govuk-button" data-module="govuk-button">
              Return to account home
          </button>

        </form>



    </div>
</div>


{% endblock %}
