{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Grant summary</h1>

        {% if data ['grant-valid'] == "notvalid" %}

          <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              You do not have any grant left.
              <a class="govuk-notification-banner__link" href="../portal-screens/contact-atw">Talk to an adviser</a> before you use this service.
            </p>
          </div>
        </div>

        {% endif %}

        <p>This support can be used while you work as a Finance Analyst at Deaf Action Charity. </p>

        <p>You should have already received a copy of your grant approval letter by post.</p>

        {% if (data['multiple-employers']) and (data['multiple-awards']) %}
        <p>You can also <a href="../multiple-awards-and-employers/grant-summary-support-type">view a grant summary for other types of support</a>.</p>
        {% elseif (data['multiple-awards']) %}
        <p>You can also <a href="../multiple-award-elements/grant-summary-support-type">view a grant summary for other types of support</a>.</p>
        {% endif %}

        <h2 class="govuk-heading-m">Support from 12 December 2022 until 12 December 2025</h2>

        {% if (data['journey-type'] == "specialaidsandequipment") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £2089.98 - Hearing aid <br>
              £102.00 - Keyboard <br>
              £474.00 - Magnifier and speech software <br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £2665.98
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £266.59
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £2399.39
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £2089.98
            </dd>
          </div>
        </dl>

        {% elseif (data['journey-type'] == "adaptations") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £1340.00 - adaptations to vehicle<br>

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £1340.00
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £382.85
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £957.15
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £568.20
            </dd>
          </div>
        </dl>

        {% elseif (data['journey-type'] == "supportworker") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Support type
            </dt>
            <dd class="govuk-summary-list__value">
              Support worker
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £45.00 per hour
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £7,200
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £7.50 per hour
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £37.50 per hour
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £6,500
            </dd>
          </div>

        </dl>

        {% elseif (data['journey-type'] == "traveltowork") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £45 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £7,200
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £7.50 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £37.50 per journey
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            {% if data ['grant-valid'] == "notvalid" %}
            <dd class="govuk-summary-list__value">
              £0
            </dd>
            {% else %}
            <dd class="govuk-summary-list__value">
              £6,500
            </dd>
            {% endif %}
          </div>

        </dl>

        {% elseif (data['journey-type'] == "travelinwork") %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total cost of support
            </dt>
            <dd class="govuk-summary-list__value">
              £4,800
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount you or your employer have agreed to contribute
            </dt>
            <dd class="govuk-summary-list__value">
              25p per mile
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total amount Access to Work will contribute
            </dt>
            <dd class="govuk-summary-list__value">
              £4500
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Amount of grant left
            </dt>
            <dd class="govuk-summary-list__value">
              £3,650
            </dd>
          </div>

        </dl>


        {% endif %}

         <!-- {% if (data['journey-type'] == "multipleawards") or (data['multiple-awards'] == "true") %}
        <p>The total cost of your travel for work support is <b>£11635.71</b>. Access to Work will pay a maximum of <b>£9,696.43</b>.</p>
        {% endif %} -->

        <form action="../portal" method="post" class="form">

          <button type="submit" class="govuk-button" data-module="govuk-button">
              Return to account home
          </button>

        </form>



    </div>
</div>


{% endblock %}
