{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="../multiple-employer-history-answer" method="post" class="form">

            {{ govukRadios({
                name: "journey-type",
                fieldset: {
                  legend: {
                    text: "Which job do you want to view claims for?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "multipleawards",
                    text: "Finance Analyst at Deaf Action Charity"
                  },
                  {
                    value: "supportworker",
                    text: "Human Resources Assistant at Google"
                  }
                ]
              }) }}
      
              {{ govukButton({
                text: "Continue"
              }) }}

        </form>
    </div>
</div>


{% endblock %}
