{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="claims-history" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="travel-to-work-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which claims do you want to view?
                        </h1>
                    </legend>


                    <p>Because you have more than one type of award, you can view claims for each type of support.</p>


                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="traveltowork" name="journey-type"
                                   type="radio"
                                   value="traveltowork">

                            <label class="govuk-label govuk-radios__label" for="traveltowork">
                                Travel to or from work {%if (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =="true") and (data['citizen-delared'] !=="true")%}<span id="notifications" class="moj-notification-badge">1</span>{% endif %}
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="specialaidsandequipment" name="journey-type"
                                   type="radio"
                                   value="specialaidsandequipment">
                            <label class="govuk-label govuk-radios__label" for="specialaidsandequipment">
                              Specialist equipment
                            </label>
                        </div>
                        {% if (data['journey-type'] == "multipleemployers") or (data['multiple-employers'] == "true") %}
                        {% else %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="supportworker" name="journey-type"
                                   type="radio"
                                   value="supportworker">
                            <label class="govuk-label govuk-radios__label" for="supportworker">
                              Support workers
                            </label>
                        </div>
                        {% endif %}
                    </div>

                </fieldset>
            </div>



              <input type="hidden" name="multiple-awards" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
