{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="multiple-claims-history.html">Claims history type</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form action="../multiple-employer-history-answer" method="post" class="form">





            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="travel-to-work-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which job do you want to see your claims history for?
                        </h1>
                    </legend>


                    <p>Because you have more than one job, you can view your claims history for each employer.</p>


                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="journey-type-multipleawards" name="journey-type"
                                   type="radio"
                                   value="multipleawards">

                            <label class="govuk-label govuk-radios__label" for="journey-type-multipleawards">
                              Finance Analyst at Deaf Action Charity
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="journey-type-supportworker" name="journey-type"
                                   type="radio"
                                   value="supportworker">
                            <label class="govuk-label govuk-radios__label" for="journey-type-supportworker">
                              Human Resources Assistant at Google
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>



              <input type="hidden" name="multiple-employers" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
