{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
classes: "govuk-!-display-none-print",
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}
{% set print = true %}
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">New personal information submitted</h1>

        <p>We'll contact you if there are any problems with the details you’ve given. Your new details will take a few days to show in the personal information part of your account.</p>

        <form action="personal-information" method="post" class="form">

          <button type="submit" class="govuk-button" data-module="govuk-button">
              Return to personal information
          </button>

        </form>

    </div>
</div>


{% endblock %}
