{% extends "layout.html" %}

{% block pageTitle %}
What is your new address? - Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="personal-information-change" method="post" class="form">



            <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
  What's your new address?
</h1>
</legend>

<div class="govuk-form-group">
<label class="govuk-label" for="new-citizen-address-line-1">
  Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
</label>
<input class="govuk-input" id="new-citizen-address-line-1" name="new-citizen-address-line-1" type="text" autocomplete="new-citizen-address-line1"></div>

<div class="govuk-form-group">
<label class="govuk-label" for="new-citizen-address-line-2">
  <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
</label>
<input class="govuk-input" id="new-citizen-address-line-2" name="new-citizen-address-line-2" type="text" autocomplete="new-citizen-address-line2"></div>

<div class="govuk-form-group">
<label class="govuk-label" for="new-citizen-address-town">
  Town or city
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="new-citizen-address-town" name="new-citizen-address-town" type="text" autocomplete="new-citizen-address-level2"></div>

<div class="govuk-form-group">
<label class="govuk-label" for="new-citizen-address-county">
  County
</label>
<input class="govuk-input govuk-!-width-two-thirds" id="new-citizen-address-county" name="new-citizen-address-county" type="text"></div>

<div class="govuk-form-group">
<label class="govuk-label" for="new-citizen-address-postcode">
  Postcode
</label>
<input class="govuk-input govuk-input--width-10" id="new-citizen-address-postcode" name="new-citizen-address-postcode" type="text" autocomplete="new-citizen-postal-code"></div>

</fieldset>





            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
