{% extends "layout.html" %}

{% block pageTitle %}
What is your new name? – Claim money back from Access to Work – GOV.UK
{% endblock %}




{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your name</h1>

      <form action="personal-information-change" method="post" class="form">

        {{ govukInput({
          label: {
            text: "First name",
            classes: "govuk-label--m"
          },
          classes: "",
          spellcheck: false,
          id: "new-name",
          name: "new-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Last name",
            classes: "govuk-label--m"
          },
          classes: "",
          spellcheck: false,
          id: "last-name",
          name: "last-name"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>


{% endblock %}
