{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="new-email-confirmation" method="post" class="form">

            <h1 class="govuk-heading-l">Tell us your new email address</h1>
            <div id="new-email-address-hint" class="govuk-body">We will use this to contact you about updates to your claims</div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="payee-email">
                    Email address
                  </label>

                  <input class="govuk-input" id="new-email-address" name="new-email-address" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                </div>





            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
