{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="personal-information-change" method="post" class="form">

            <h1 class="govuk-heading-l">What's your new name?</h1>
            <div id="new-name-hint" class="govuk-body">Your new name must match your name on official documents (for example, your marriage certificate or passport). </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="name">
                    First name
                  </label>

                  <input class="govuk-input" id="new-name" name="new-name" type="name" spellcheck="false" aria-describedby="name-hint" autocomplete="name">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="last-name">
                    Last name
                  </label>

                  <input class="govuk-input" id="last-name" name="last-name" type="name" spellcheck="false" aria-describedby="last-name-hint" autocomplete="last-name">
                </div>





            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
