{% extends "layout.html" %}

{% block pageTitle %}
What is your new telephone number? – Claim money back from Access to Work – GOV.UK
{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="telephone-number-change" method="post" class="form">

            {{ govukInput({
            label: {
                text: "What's your home telephone number?",
                classes: "govuk-label--l",
                isPageHeading: true
            },
            id: "new-phone",
            name: "new-phone"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>


{% endblock %}