{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">New payee details</h1>
      <p>New details of the person or company who needs to be paid back.</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                New payee name
            </dt>
            <dd class="govuk-summary-list__value">
                {{data["new-payee-full-name"]}}

            </dd>
            <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="new-payee-name">
                    Change
                    <span class="govuk-visually-hidden"> Bank or building society account details</span>
                </a>
            </dd>

        </div>
        {%if (data["payee-email"]) %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                New payee email address
            </dt>
            <dd class="govuk-summary-list__value">
                {{data["payee-email"]}}
            </dd>

            <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="new-payee-address">
                    Change
                    <span class="govuk-visually-hidden"> Bank or building society account details</span>
                </a>
            </dd>

        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                New payee address
            </dt>
            <dd class="govuk-summary-list__value">
              {% if data ["new-payee-address-line-1"] %}
                {{data["new-payee-address-line-1"]}}<br>
                {% if data["new-payee-address-line-2"] %}{{data["new-payee-address-line-2"]}}<br>{% endif %}
                {{data["new-payee-address-town"]}}<br>
                {{data["new-payee-address-county"]}}<br>
                {{data["new-payee-address-postcode"]}}
                {% endif %}

                {% if data["new-payee-address-select"] == "123" %}
                123 Hudsen House<br>
                Cresent Lane<br>
                Leeds<br>
                West Yorkshire<br>
                {{data["new-payee-postcode"]}}

                {% elif data["new-payee-address-select"] == "124" %}
                124 Hudsen House<br>
                Cresent Lane<br>
                Leeds<br>
                West Yorkshire<br>
                {{data["new-payee-postcode"]}}

                {% elif data["new-payee-address-select"] == "125" %}
                125 Hudsen House<br>
                Cresent Lane<br>
                Leeds<br>
                West Yorkshire<br>
                {{data["new-payee-postcode"]}}

                {% elif data["new-payee-address-select"] == "126" %}
                126 Hudsen House<br>
                Cresent Lane<br>
                Leeds<br>
                West Yorkshire<br>
                {{data["new-payee-postcode"]}}

                {% elif data["new-payee-address-select"] == "127" %}
                127 Hudsen House<br>
                Cresent Lane<br>
                Leeds<br>
                West Yorkshire<br>
                {{data["new-payee-postcode"]}}

                {% endif %}
            </dd>

            <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="new-payee-address">
                    Change
                    <span class="govuk-visually-hidden"> Bank or building society account details</span>
                </a>
            </dd>

        </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Name on bank account
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["name-on-the-account"]}}

              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="banking-details">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Sort code
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["sort-code"]}}
              </dd>

              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="banking-details">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>

          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Account Number
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["account-number"]}}
              </dd>

              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="banking-details">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
          </div>

          {%if (data['roll-number']) %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Building society roll number
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["roll-number"]}}
              </dd>

              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="banking-details">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>

          </div>
          {% endif %}
      </dl>


        <form action="declaration" method="post" class="form">



            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>
{% endblock %}
