{% extends "layout.html" %}

{% block pageTitle %}
What is your new email address? – Claim money back from Access to Work – GOV.UK
{% endblock %}


{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}
  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="personal-information-change" method="post" class="form">

            {{ govukInput({
                label: {
                  text: "What's your email address?",
                  classes: "govuk-label--l",
                  isPageHeading: true
                },
                hint: {
                  text: "We'll use this email address to contact you about your claims."
                },
                id: "new-email-address",
                name: "new-email-address",
                spellcheck: false
              }) }}

              {{ govukButton({
                text: "Continue"
              }) }}

        </form>
    </div>
</div>

{% endblock %}
