{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You’ve updated your phone number</h1>
        <p class="govuk-body">
          You can update your phone number in the personal information section of your account if you need to change it again. 
        </p>


        <form action="personal-information" method="post" class="form">

          <button type="submit" class="govuk-button" data-module="govuk-button">
              Return to personal details
          </button>

        </form>

    </div>
</div>


{% endblock %}
