{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set print = true %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
classes: "govuk-!-display-none-print",
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Sorry, you cannot sign in to this service</h1>



        <p>This is because we could not find an Access to Work account registered to you.</p>

        <p>You need to <a class="govuk-link" href="https://www.gov.uk/access-to-work">apply for an Access to Work grant</a> to use this service.</p>

        <h2 class="govuk-heading-s">If you think we've made a mistake</h2>

        <p>You can <a class="govuk-link" href="https://www.gov.uk/access-to-work/claiming-from-your-grant"> contact the Access to Work helpline</a>.</p>




    </div>
</div>


{% endblock %}
