{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="personal-information.html">Personal Information</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

                <fieldset class="govuk-fieldset" aria-describedby="claims-history-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Personal information
                        </h1>
                    </legend>
                    <p id="claims-history-hint" class="govuk-body">You must make sure these details are kept up to date.</p>
                </fieldset>


                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Joe Bloggs
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Access to Work number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            ATW12004563
                        </dd>
                    </div>
                </dl>


                <h2 class="govuk-heading-m">Contact information</h2>

                  <p>You must update your contact details if they change so that we can get in touch with you if we need to. Any changes you make may take a few days to show in your account.</p>

                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['new-email-address'] %}
                      {{data["new-email-address"]}}
                      {% else %}
                      joe.bloggs@deafactioncharity.com
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="new-email-address">
                            Change
                            <span class="govuk-visually-hidden"> email address</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Phone number
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data['new-phone'] %}
                      {{data["new-phone"]}}
                      {% else %}
                      07627 847834
                      {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="new-phone-number">
                            Change
                            <span class="govuk-visually-hidden"> Phone number</span>
                        </a>
                    </dd>
                </div>
                {% if (data['journey-type'] == "traveltowork") or (data['journey-type'] == "traveltoworkdev") %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% if data ["new-citizen-address-line-1"] %}
                        {{data["new-citizen-address-line-1"]}}<br>
                        {% if data["new-citizen-address-line-2"] %}{{data["new-citizen-address-line-2"]}}<br>{% endif %}
                        {{data["new-citizen-address-town"]}}<br>
                        {{data["new-citizen-address-county"]}}<br>
                        {{data["new-citizen-address-postcode"]}}

                        {% elif data["new-citizen-address-select"] == "123" %}
                        123 Hudsen House<br>
                        Cresent Lane<br>
                        Leeds<br>
                        West Yorkshire<br>
                        {{data["new-citizen-postcode"]}}

                        {% elif data["new-citizen-address-select"] == "124" %}
                        124 Hudsen House<br>
                        Cresent Lane<br>
                        Leeds<br>
                        West Yorkshire<br>
                        {{data["new-citizen-postcode"]}}

                        {% elif data["new-citizen-address-select"] == "125" %}
                        125 Hudsen House<br>
                        Cresent Lane<br>
                        Leeds<br>
                        West Yorkshire<br>
                        {{data["new-citizen-postcode"]}}

                        {% elif data["new-citizen-address-select"] == "126" %}
                        126 Hudsen House<br>
                        Cresent Lane<br>
                        Leeds<br>
                        West Yorkshire<br>
                        {{data["new-citizen-postcode"]}}

                        {% elif data["new-citizen-address-select"] == "127" %}
                        127 Hudsen House<br>
                        Cresent Lane<br>
                        Leeds<br>
                        West Yorkshire<br>
                        {{data["new-citizen-postcode"]}}

                        {% else %}
                        140 Weston Grove<br>
                        Otley<br>
                        Leeds<br>
                        West Yorkshire<br>
                        LS5 5NE
                        {% endif %}

                    </dd>
                    {% if print != true %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="new-citizen-address">
                            Change
                            <span class="govuk-visually-hidden"> New citizen address</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>
                {% endif %}
                </dl>




              <h2 class="govuk-heading-m">Details of new person or company being paid</h2>

                <p id="claims-history-hint" class="govuk-body">You’ll need to add new payment details if we need to pay another company or person.</p>

                <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Email</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">John Doe</th>
                    <td class="govuk-table__cell">john.doe@deafactioncharity.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Jane Green</th>
                    <td class="govuk-table__cell">jane.green@bsl-interpreters.com</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Sanjid Kelly</th>
                    <td class="govuk-table__cell">sanjid.kelly@deafactioncharity.com</td>
                  </tr>
                  {% if data['new-payee-full-name'] %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">{{data["new-payee-full-name"]}}</th>
                    <td class="govuk-table__cell">{{data["payee-email"]}}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>





              <form action="guidance-payee-details" method="post" class="form">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Add a new payee
              </button>
              </form>


                <form action="../portal" method="post" class="form">
              <button class="govuk-button" data-module="govuk-button">
                Return to account home
              </button>
              </form>


    </div>
</div>


{% endblock %}
