{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="personal-information-change" method="post" class="form">

            <h1 class="govuk-heading-l">Your contact telephone numbers</h1>
           
         
<div class="govuk-form-group">

  <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Mobile telephone
          </dt>
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
        07627847834
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="new-phone-number"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change mobile telephone number</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove mobile telephone number from the list</span></a></li>
        </ul>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Home telephone
          </dt>
      <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
        0131 123 1234
      </dt>
      <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
        <ul class="govuk-summary-list__actions-list">
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="new-phone-number"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change Michael Cain</span></a></li>
          <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove Michael Cain from the list</span></a></li>
        </ul>
      </dd>
    </div>
   
  </dl>

</div>
<!-- <form method="post" novalidate action="">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to add another director?
      </legend>
      <div id="add-another-hint" class="govuk-hint">
        You must tell us about all your directors.
      </div>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another" name="add-another" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-another">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-2" name="add-another" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="add-another-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form> -->

        </form>

      

    </div>
</div>


{% endblock %}
