{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="telephone-number-change" method="post" class="form">

            <h1 class="govuk-heading-l">Are you sure you want to remove this telephone number?</h1>

            <div class="govuk-form-group" style="display: none;">
                <label class="govuk-label" for="mobile-number">
                    UK home number
                </label>

                <input class="govuk-input govuk-input--width-20" id="new-phone" name="new-phone" type="tel"
                    autocomplete="mob">
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Remove
            </button>

        </form>
    </div>
</div>


{% endblock %}