


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-m">Claim details</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Month support was received
              </dt>
              <dd class="govuk-summary-list__value">
                  February 2021
              </dd>
          </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">

                      Days of support in February and name of support worker or agency
                </dt>
                <dd class="govuk-summary-list__value">
                  1 February 2021 -
                  7.5 Hours <br><br>

                  2 February 2021 -
                  7.5 Hours <br><br>

                  3 February 2021 -
                  6 Hours  <br><br>

                  4 February 2021 -
                  5 Hours  <br><br>

                  5 February 2021 -
                  7.5 Hours  <br><br>

                  8 February 2021 -
                  5 Hours  <br><br>

                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total support received
                </dt>
                <dd class="govuk-summary-list__value">
                    38.5 hours <br>

                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total cost of support worker
                </dt>
                <dd class="govuk-summary-list__value">
                    £1160
                </dd>
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">

                    Receipts or invoices uploaded

                </dt>

                <dd class="govuk-summary-list__value">
                  Screen Shot 2021-02-17 at 15.33.15.png <br>
                  Screen Shot 2021-03-18 at 12.22.02.png

                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Details of new person or company being paid</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    John Doe

                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    john.doe@deafactioncharity.com
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Details of the person or company who can confirm the support costs</h2>
        <p>This is the person or company who we’ll contact to confirm your employee received the support they’re claiming for.</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Martin Bloom

                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    martin.bloom@deafactioncharity.com

                </dd>
            </div>
        </dl>


{% if print != true %}
<form action="declaration" method="post" novalidate>

    <input type="hidden" name="answers-checked" value="true">

    <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
    </button>

</form>
{% endif %}

</div>
</div>
{% endblock %}
