{% extends "layout.html" %}

{% block pageTitle %}
Telephone numbers – Claim money back from Access to Work – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="personal-information-change" method="post" class="form">

            <fieldset class="govuk-fieldset" aria-describedby="claims-history-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Telephone numbers
                    </h1>
                </legend>
            </fieldset>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Home telephone number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['new-phone'] %}
                        {{data["new-phone"]}}
                        {% else %}
                        Not given
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="new-phone-number">
                            {% if data['new-phone'] %}
                            Change
                            <span class="govuk-visually-hidden">change home telephone number</span>
                            {% else %}
                            Add
                            <span class="govuk-visually-hidden"> add home telephone number</span>
                            {% endif %}
                        </a>
                    </dd>
                    {% if ((data['new-mobile']) and (data['new-phone'])) %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="remove-phone-number">
                            Remove
                            <span class="govuk-visually-hidden"> remove home telephone number</span>
                        </a>
                    </dd>
                    {% endif %}
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Mobile number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['new-mobile'] %}
                        {{data["new-mobile"]}}
                        {% else %}
                        Not given
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="new-mobile-number">
                            {% if data['new-mobile'] %}
                            Change
                            <span class="govuk-visually-hidden">change mobile number</span>
                            {% else %}
                            Add
                            <span class="govuk-visually-hidden">add mobile number</span>
                            {% endif %}
                        </a>
                        {% if ((data['new-mobile']) and (data['new-phone'])) %}
                    <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                        <a href="remove-mobile-number">
                            Remove
                            <span class="govuk-visually-hidden"> remove mobile number</span>
                        </a>
                    </dd>
                    {% endif %}
                    </dd>
                </div>
            </dl>
            {% if (((data['new-mobile'] != data['currentPersonalInfo']['mobile'])) or ((data['new-phone'] != data['currentPersonalInfo']['home'])) ) %}
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}