{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Your claim will time out soon</h1>

        <p>We will log you out of your account and you’ll lose the claim you’re working on if you do not respond in <b>30 minutes</b>. We do this to keep your information secure. </p>


        <form action="../../index" method="post" class="form">

          <button type="submit" class="govuk-button" data-module="govuk-button">
              Continue with claim
          </button>

        </form>



    </div>
</div>


{% endblock %}
