{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set print = true %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
classes: "govuk-!-display-none-print",
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}



{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">We’ve logged you out of your account</h1>

        <p>You’ll need to log back in to access your account. We do this to keep your information secure.</p>


        <form action="../../index" method="post" class="form">

          <button type="submit" class="govuk-button" data-module="govuk-button">
              Log in
          </button>

        </form>



    </div>
</div>


{% endblock %}
