{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
classes: "govuk-!-display-none-print",
html: 'This is a new service – your <a class="govuk-link govuk-!-display-none-print" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-breadcrumbs govuk-!-display-none-print">
    <ol class="govuk-breadcrumbs__list govuk-!-display-none-print">
        <li class="govuk-breadcrumbs__list-item govuk-!-display-none-print">
            <a class="govuk-breadcrumbs__link govuk-!-display-none-print" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item govuk-!-display-none-print">
            <a class="govuk-breadcrumbs__link govuk-!-display-none-print" href="open-claims.html">Claims History</a>
        </li>
        <li class="govuk-breadcrumbs__list-item govuk-!-display-none-print">
            <a class="govuk-breadcrumbs__link govuk-!-display-none-print" href="ttw-check-your-answers-print.html">Travel during work claim submission</a>
        </li>
    </ol>
</div>
{% endblock %}


{% block content %}

{% set print = true %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Travel during work claim submission</h1>

<p>These are the details of the claim you submitted. You can also save and print a copy of your claim submission</p>

<input type="button" class="govuk-button govuk-!-display-none-print" data-module="govuk-button" value="Save and print this page" onClick="window.print()">


  </div>
  </div>
{% include "alpha/portal-screens/tiw-check-your-answers-body.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m">Claim declaration</h2>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Citizen declaration
        </dt>
        <dd class="govuk-summary-list__value">
            Yes

        </dd>
        {% if print != true %}
        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a href="counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> Citizen declaration</span>
            </a>
        </dd>
        {% endif %}
    </div>
    {% if data['employment-status'] == "Employed" %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Workplace contact declaration
        </dt>
        <dd class="govuk-summary-list__value">
            Yes

        </dd>
        {% if print != true %}
        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a href="counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> Workplace contact declaration</span>
            </a>
        </dd>
        {% endif %}
    </div>
    {% endif %}
    {% if data['employment-status'] == "Employed" %}
    <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Claim reference number
        </dt>
        <dd class="govuk-summary-list__value">
            TTW125421

        </dd>
        {% if print != true %}
        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a href="counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> Claim reference number</span>
            </a>
        </dd>
        {% endif %}
    </div> -->
    {% endif %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Claim submission date
        </dt>
        <dd class="govuk-summary-list__value">
            6 March 2021

        </dd>
        {% if print != true %}
        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
            <a href="counter-signatory-name">
                Change
                <span class="govuk-visually-hidden"> Claim submission date</span>
            </a>
        </dd>
        {% endif %}
    </div>
</dl>

</div>
</div>




{% endblock %}
