


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if print != true %}
      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>
      {% endif %}
      <h2 class="govuk-heading-m">Claim information</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">




          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Type of travel
              </dt>
              <dd class="govuk-summary-list__value">
                  Taxi
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="special-aids-and-equipment">
                      Change
                      <span class="govuk-visually-hidden"> Type of claim</span>
                  </a>
              </dd>
              {% endif %}
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Month of travel
              </dt>
              <dd class="govuk-summary-list__value">
                  February 2021
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="special-aids-and-equipment">
                      Change
                      <span class="govuk-visually-hidden"> Type of claim</span>
                  </a>
              </dd>
              {% endif %}
          </div>

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Days journeys were made in February
              </dt>
              <dd class="govuk-summary-list__value">
                01 February 2021
                2 Journeys <br><br>

                02 February 2021
                2 Journeys <br><br>

                03 February 2021
                2 Journeys  <br><br>

                04 February 2021
                2 Journeys  <br><br>

                05 February 2021
                2 Journeys  <br><br>

                08 February 2021
                2 Journeys  <br><br>

                09 February 2021
                2 Journeys  <br><br>

                10 February 2021
                2 Journeys  <br><br>
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="hours-for-day-summary">
                      Change
                      <span class="govuk-visually-hidden"> Hours of support received</span>
                  </a>
              </dd>
              {% endif %}
          </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total number of journeys
                </dt>
                <dd class="govuk-summary-list__value">
                    16 journeys
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="equipment-cost">
                        Change
                        <span class="govuk-visually-hidden"> Cost of equipment</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total cost of journeys
                </dt>
                <dd class="govuk-summary-list__value">
                    £860
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="equipment-cost">
                        Change
                        <span class="govuk-visually-hidden"> Cost of equipment</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Receipt or invoice uploaded
                </dt>

                <dd class="govuk-summary-list__value">

                    Screen Shot 2021-02-17 at 15.33.15.png

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Supporting evidence</span>
                    </a>
                </dd>
                {% endif %}
            </div>

        </dl>


                <h2 class="govuk-heading-m">Details of new person or company being paid</h2>


                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            John Doe

                        </dd>
                        {% if print != true %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="banking-details">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            john.doe@deafactioncharity.com
                        </dd>
                        {% if print != true %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="banking-details">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                    </div>
                </dl>

                {% if data['employment-status'] == "Employed" %}
                <h2 class="govuk-heading-m">Employment details</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Employment status
                      </dt>
                      <dd class="govuk-summary-list__value">
                          Employed

                      </dd>
                  </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Workplace contact
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Martin Bloom

                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Workplace contact email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            martin.bloom@deafactioncharity.com

                        </dd>
                    </div>
                </dl>
                {% endif %}


        {% if print != true %}
        <form action="declaration" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        {% endif %}

    </div>
</div>
{% endblock %}
