{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">What you’ll need to make claim</h1>


        <h3 class="govuk-body">You’ll need to tell us the:</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>dates that you travelled to or from work</li>
            <li>details of the person or company we need to pay back, including bank details if we’ve not paid them before</li>
        </ul>

        <div class="govuk-inset-text">
        The person or company we need to pay back could be yourself, a family member or friend, your employer or a transport company.
        </div>

        <h2 class="govuk-heading-m">If you’re claiming for travel by taxi</h2>


        <h3 class="govuk-body">Make sure you have:</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>the number of journeys you made each day</li>
            <li>the total cost of the journeys</li>
            <li>invoices or receipts showing the cost of each journey</li>
        </ul>

        <h3 class="govuk-body">You can either send us:</h3>

        <ul class="govuk-list govuk-list--bullet">
            <li>a receipt or invoice that contains all the journeys you’re claiming for
            </li>
            <li>separate receipts and invoices for each journey
            </li>
        </ul>


        <h2 class="govuk-heading-m">If you’re claiming for lifts from a friend, colleague or family member</h2>

        <p>You’ll need to tell us the total mileage travelled or the total number of journeys on each date.</p>

        <h2 class="govuk-heading-m">If you’re an employee</h2>

        <p>You’ll need the name and email address of a workplace contact we can ask to confirm each journey you’re claiming for. This needs to be someone like your line manager or HR manager.</p>



        <form action="transport-option" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Start a claim
            </button>

        </form>

    </div>
</div>




{% endblock %}
