{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-l">Before you continue</span>
        <h1 class="govuk-heading-l">What you’ll need to submit a claim</h1>


        <h1 class="govuk-body">You’ll need to know:</h1>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>the date(s) that you travelled for work
            </li>
            <li>the details of the person who needs to be paid back – you’ll also need to give us their bank details if we’ve not paid this person before
            </li>
            <li>the name and email address of a workplace contact who we can contact to confirm each journey you’re claiming for</li>
        </ul>

        <h2 class="govuk-heading-m">If you’re claiming for travel by taxi</h2>


        <h3 class="govuk-body">You’ll also need to:</h3>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>tell us how many journeys you made each day
            </li>
            <li>tell us the total cost of your work travel for the month you are claiming for
            </li>
            <li>send us an invoice or receipt for any journeys you’re claiming for
            </li>
        </ul>

        <p>You can either send us 1 receipt or invoice that contains all of the journeys you’re claiming for, or separate receipts and invoices for each single journey. You’ll need a digital copy of your receipts or invoices to submit a claim online.
          You should scan or take a photo of any paper receipts or invoices ready to upload them if you have any.</p>


        <h2 class="govuk-heading-m">If you did not travel by taxi</h2>

        <p>You’ll also need to tell us the total mileage travelled on each date.</p>





        <form action="transport-option" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
