


{% block content %}
{% set travelLength %}
{{ data.travel | length }}
{% endset %}

{% set taxiTotal = 0 %}
{% for day in data.travel %}
{% set taxiTotal = taxiTotal | float + day.travel_journeys | float %}
{% else %}
{% set taxiTotal = 0 | float %}
{% endfor %}

{% set milageLength %}
{{ data.milage | length }}
{% endset %}

{% set mileageTotal = 0 %}
{% for day in data.milage %}
{% set mileageTotal = mileageTotal | float + day.milage_total | float %}
{% else %}
{% set mileageTotal = 0 | float %}
{% endfor %}

{% set repeattravelLength %}
{{ data.repeattravel | length }}
{% endset %}

{% set repeattaxiTotal = 0 %}
{% for day in data.repeattravel %}
{% set repeattaxiTotal = repeattaxiTotal | float + day.repeattravel_journeys | float %}
{% else %}
{% set repeattaxiTotal = 0 | float %}
{% endfor %}

{% set repeatmilageLength %}
{{ data.repeatmilage | length }}
{% endset %}

{% set repeatmileageTotal = 0 %}
{% for day in data.repeatmilage %}
{% set repeatmileageTotal = repeatmileageTotal | float + day.repeatmilage_total | float %}
{% else %}
{% set repeatmileageTotal = 0 | float %}
{% endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {%if (data['journey-type'] == "traveltowork-ammendment") %}
      {% if print != true %}
      <h1 class="govuk-heading-xl govuk-!-display-none-print">About your claim</h1>
      <p>This is the information you gave us in your claim. You should make the changes requested by your workplace contact and then send us your claim again.</p>
      {% endif %}
      {% else %}
      {% if print != true %}
      <h1 class="govuk-heading-xl govuk-!-display-none-print">Check your answers</h1>
      {% endif %}
      {% endif %}



        <h2 class="govuk-heading-m">Claim information</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Type of travel
                </dt>
                <dd class="govuk-summary-list__value">
                    {%if (data["transport-option"]=="taxi") %} Taxi {% elif data["transport-option"]=="lift" %}Lift from a friend, colleague or relative{% endif %}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">

                    <a href="transport-option-answers">
                        Change
                        <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                    </a>

                </dd>
                {% endif %}
            </div>



            {%if (data["transport-option"]=="lift") %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of journeys taken
                </dt>
                <dd class="govuk-summary-list__value">
                  {% for item in data['milage'] | sortBy('day') %}
                  {{item.day}} {{data["travel-to-work-date-month"] | numberMonth}} {{data["travel-to-work-date-year"]}} <br>{{item.milage_total}} Miles<br><br>
                  {% endfor %}

                   {% if data['travel-to-work-date-month-repeat'] %}
                     {% for item in data['repeatmilage'] | sortBy('day') %}
                   {{item.day}} {{data["travel-to-work-date-month-repeat"] | numberMonth}} {{data["travel-to-work-date-year-repeat"]}} <br>{{item.repeatmilage_total}} Miles<br><br>
                   {% endfor %}

                    {% endif %}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  {%if (data['journey-type'] == "traveltowork-ammendment") %}
                    <a href="../travel-to-work/mileage-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                    </a>
                    {% else %}
                    <a href="mileage-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> miles for travel to work received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total miles travelled
                </dt>
                <dd class="govuk-summary-list__value">
                  {{mileageTotal + repeatmileageTotal}} miles <br>

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  {%if (data['journey-type'] == "traveltowork-ammendment") %}
                    <a href="../travel-to-work/mileage-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                    </a>
                    {% else %}
                    <a href="mileage-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> miles for travel to work received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>
            {% endif %}

            <!-- // taxi number of journeys -->

            {%if (data["transport-option"]=="taxi") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of journeys taken
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for item in data['travel'] | sortBy('day') %}
                    {{item.day}} {{data["travel-to-work-date-month"] | numberMonth}} {{data["travel-to-work-date-year"]}} <br>{{item.travel_journeys}} Journeys
                     </br> </br>
                     {% endfor %}
                     {%if (data["travel-to-work-date-month-repeat"]) %}
                     {% for item in data['repeattravel'] | sortBy('day') %}
                     {{item.day}} {{data["travel-to-work-date-month-repeat"] | numberMonth}} {{data["travel-to-work-date-year-repeat"]}} <br>{{item.repeattravel_journeys}} {% if taxiTotal === 1 %} journey {% else %} journeys {% endif %}
                     </br> </br>
                     {% endfor %}
                     {% endif %}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  {%if (data['journey-type'] == "traveltowork-ammendment") %}
                    <a href="../travel-to-work/taxi-journeys-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total number of journeys</span>
                    </a>
                    {% else %}
                    <a href="taxi-journeys-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total number of journeys</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total number of journeys
                </dt>
                <dd class="govuk-summary-list__value">

                  {{taxiTotal + repeattaxiTotal}} journeys <br>
                  <!-- {{travelLength + repeattravelLength}} {% if data['journeys'].length === 1 %} day {% else %} days {% endif %} -->

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  {%if (data['journey-type'] == "traveltowork-ammendment") %}
                    <a href="../travel-to-work/taxi-journeys-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total number of journeys</span>
                    </a>
                    {% else %}
                    <a href="taxi-journeys-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total number of journeys</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total cost of the taxi journeys
                </dt>
                <dd class="govuk-summary-list__value">
                  £{{data["cost-of-taxi"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  {%if (data['journey-type'] == "traveltowork-ammendment") %}
                    <a href="../travel-to-work/hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total number of journeys</span>
                    </a>
                    {% else %}
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> cost for travel to work received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            {% endif %}

            {%if (data['employer-contributing']=="Yes") and (data["transport-option"]=="taxi") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Employer contribution
                </dt>
                <dd class="govuk-summary-list__value">
                    £20
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="employer-contribution.html">
                        Change
                        <span class="govuk-visually-hidden"> Employer contribution</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total amount we can pay towards this claim
                </dt>
                <dd class="govuk-summary-list__value">
                    £80
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="employer-contribution.html">
                        Change
                        <span class="govuk-visually-hidden"> Total amount we can pay towards this claim by Access to Work</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            {% elseif data["transport-option"]=="lift" %}

            <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Employer contribution
                </dt>
                <dd class="govuk-summary-list__value">
                    £82.40
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="employer-contribution.html">
                        Change
                        <span class="govuk-visually-hidden"> Employer contribution</span>
                    </a>
                </dd>
                {% endif %}
            </div> -->

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total amount we can pay towards this claim
                </dt>
                <dd class="govuk-summary-list__value">
                    £110.40
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="employer-contribution.html">
                        Change
                        <span class="govuk-visually-hidden"> Total amount we can pay towards this claim by Access to Work</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            {% endif %}


            {%if (data["transport-option"]=="taxi") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {% if data['uploads'].length === 1 %}
                    Receipt or invoice uploaded
                    {% else %}
                    Receipts or invoices uploaded
                    {% endif %}
                </dt>

                <dd class="govuk-summary-list__value">
                    {% for file in data['uploads'] %}

                  <a href="@"> {{file['file']}} </a></br>
                    {% endfor %}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  {%if (data['journey-type'] == "traveltowork-ammendment") %}
                    <a href="../travel-to-work/upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total number of journeys</span>
                    </a>
                    {% else %}
                    <a href="upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Supporting evidence</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>
            {% endif %}
        </dl>

        {% if print != true %}
        <h2 class="govuk-heading-m">New payee details</h2>
        <p>New details of the person or company who needs to be paid back.</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  New payee name
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["new-payee-full-name"]}}

              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-name">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>

          {%if (data["payee-email"]) %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  New payee email address
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["payee-email"]}}
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-name">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>
          {% endif %}

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  New payee address
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data ["new-payee-address-line-1"] %}
                  {{data["new-payee-address-line-1"]}}<br>
                  {% if data["new-payee-address-line-2"] %}{{data["new-payee-address-line-2"]}}<br>{% endif %}
                  {{data["new-payee-address-town"]}}<br>
                  {{data["new-payee-address-county"]}}<br>
                  {{data["new-payee-address-postcode"]}}
                  {% endif %}

                  {% if data["new-payee-address-select"] == "123" %}
                  123 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% elif data["new-payee-address-select"] == "124" %}
                  124 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% elif data["new-payee-address-select"] == "125" %}
                  125 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% elif data["new-payee-address-select"] == "126" %}
                  126 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% elif data["new-payee-address-select"] == "127" %}
                  127 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% endif %}


              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-address">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name on bank account
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["name-on-the-account"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sort code
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["sort-code"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
              {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Account Number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["account-number"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            {%if (data['roll-number']) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Building society roll number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["roll-number"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            {% endif %}
        </dl>
        {% endif %}


        {% if data["employment-status"] =='Employed'%}

        <h2 class="govuk-heading-m">Workplace contact details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Employment status
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["employment-status"]}}

              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                {%if (data['journey-type'] == "traveltowork-ammendment") %}
                  <a href="../travel-to-work/employement-status">
                      Change
                      <span class="govuk-visually-hidden"> what is your employment status?</span>
                  </a>
                  {% else %}
                  <a href="employement-status">
                      Change
                      <span class="govuk-visually-hidden"> what is your employment status?</span>
                  </a>
                  {% endif %}
              </dd>
              {% endif %}
          </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["counter-signatory-full-name"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  {%if (data['journey-type'] == "traveltowork-ammendment") %}
                    <a href="../travel-to-work/counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                    </a>
                    {% else %}
                    <a href="counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> name of counter signatory</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["counter-signatory-email"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                {%if (data['journey-type'] == "traveltowork-ammendment") %}
                  <a href="../travel-to-work/counter-signatory-name">
                      Change
                      <span class="govuk-visually-hidden"> what month are you claiming for?</span>
                  </a>
                  {% else %}
                  <a href="counter-signatory-name">
                      Change
                      <span class="govuk-visually-hidden"> name of counter signatory</span>
                  </a>
                  {% endif %}
                  </dd>
                {% endif %}
            </div>
        </dl>
        {% else %}

        <h2 class="govuk-heading-m">Type of employment</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Employment status
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["employment-status"]}}

              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                {%if (data['journey-type'] == "traveltowork-ammendment") %}
                  <a href="../travel-to-work/employement-status">
                      Change
                      <span class="govuk-visually-hidden"> what is your employment status?</span>
                  </a>
                  {% else %}
                  <a href="employement-status">
                      Change
                      <span class="govuk-visually-hidden"> what is your employment status?</span>
                  </a>
                  {% endif %}
              </dd>
              {% endif %}
          </div>
          </dl>
          {% endif %}


        {% if print != true %}

        {%if (data['journey-type'] == "traveltowork-ammendment") %}

        <form action="citizen-new-declaration" method="post" novalidate>

            <input type="hidden" name="answers-checked-ttw" value="true">

            <button type="submit" class="govuk-button govuk-!-display-none-print" data-module="govuk-button">
                Continue
            </button>

        </form>

        {% else %}

        <form action="declaration" method="post" novalidate>

            <input type="hidden" name="answers-checked-ttw" value="true">

            <button type="submit" class="govuk-button govuk-!-display-none-print" data-module="govuk-button">
                Continue
            </button>

        </form>
        {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}
