{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, you can only claim for travel to work</h1>
        <p class="govuk-body">
            Travel to work hint
        </p>
        <p class="govuk-body">If you think this is wrong you can <a class="govuk-link" href="#">contact the access to
            work team (opens in a new tab)</a> to speak with an Access to Work adviser.
        </p>
    </div>
</div>


{% endblock %}
