{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}

{% set costTotal = 0 %}
{% for day in data['costs'] %}
{% set costTotal = costTotal | float + day.cost | float %}
{% else %}
{% set costTotal = 0 | float %}
{% endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">You have entered £{{costTotal}}</h1>
            <ul class="hmrc-add-to-a-list hmrc-add-to-a-list--short">

                {% for day in data['costs'] %}
                <li class="hmrc-add-to-a-list__contents">
      <span class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
        {{day.day}}/{{data['travel-to-work-date-month']}}/{{data['travel-to-work-date-year']}}<br>£{{day.cost}} {% if day['passengers'] %} <br>{{day['passengers']}} passenger(s) {% endif %}
      </span>
                    <span class="hmrc-add-to-a-list__change">
        <a class="govuk-link" href="remove-day-cost?removeId={{loop.index0}}">
          <span aria-hidden="true">Remove</span>
          <span class="govuk-visually-hidden">Remove Sydney Russell from the list</span>
        </a>
      </span>
                </li>

            {% else %}
            <p>Please enter journeys to continue</p>
            {% endfor %}

            </ul>
        </div>

        <form method="post" action="cost-for-day-more">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="add-more-cost-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you need to add more trips?
                    </legend>
                    <div id="add-more-cost-hint" class="govuk-hint">
                        HINT
                    </div>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-more-cost-yes" name="add-more-cost"
                                   type="radio"
                                   value="Yes">
                            <label class="govuk-label govuk-radios__label" for="add-more-cost-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-more-cost-no" name="add-more-cost"
                                   type="radio"
                                   value="No">
                            <label class="govuk-label govuk-radios__label" for="add-more-cost-no">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
