{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Employment status
        </h1>

        <p class="govuk-body">
            We might need someone to confirm the journeys you’re claiming for. This will depend on whether you’re
            employed or self-employed.
        </p>
        <form action="employment-status-answer" method="post" class="form">

            {{ govukRadios({
            name: "employment-status",
            fieldset: {
            legend: {
            text: "What's your employment status at the job you're claiming for?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
            }
            },
            items: [
            {
            value: "Employed",
            text: "Employed"
            },
            {
            value: "Self-employed",
            text: "Self-employed"
            }
            ]
            }) }}

            {{ govukButton({
            text: "Continue"
            }) }}

        </form>
    </div>
</div>


{% endblock %}