{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set milageLength %}
{{ data.milage | length }}
{% endset %}

{% set mileageTotal = 0 %}
{% for month in data['month-list'] %}
{% for day in month.milage %}
{% if day.milage_total %}
{% set mileageTotal = mileageTotal | float + day.milage_total | float %}
{% endif %}
{% if day.repeatmilage_total %}
{% set mileageTotal = mileageTotal | float + day.repeatmilage_total | float %}
{% endif %}
{% endfor %}
{% else %}
{% set mileageTotal = 0 | float %}
{% endfor %}

{% set repeatmilageLength %}
{{ data.repeatmilage | length }}
{% endset %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="#">

      <div class="govuk-form-group">
        <dl class="govuk-summary-list">

        {% if mileageTotal|int === 1 %}
        <h1 class="govuk-heading-l">You’ve told us the journey you’re claiming for were a total of {{mileageTotal}} miles</h1>
        {% else %}
        <h1 class="govuk-heading-l">You’ve told us the journeys you’re claiming for were a total of {{mileageTotal}} miles</h1>
        {% endif %}

        {% for month_data in data['month-list'] %}


        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Miles travelled in {{month_data.month | numberMonth}}
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data['month-list'].length > 1 %}
              <a id="{{item.day}}-change" class="govuk-link"
                href="remove-month-travel?monthIndex={{data['month-list'].indexOf(month_data)}}&travelType=2">
                Remove
                <span class="govuk-visually-hidden"> {{month_data.month | numberMonth}} {{month_data.year}}</span>
              </a>
              {% endif %}
            </dd>
          </div>


        {% for item in month_data.milage | sortBy('day') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{item.day}} {{month_data.month | numberMonth}} {{month_data.year}}
            </dt>
            <dd class="govuk-summary-list__value">
              {% if item.milage_total %}
              {{item.milage_total}} miles
              {% else %}
              {{item.repeatmilage_total}} miles
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a id="{{item.day}}-change" class="govuk-link" href="mileage-for-day">
                Change<span class="govuk-visually-hidden"> Change {{item.day}} {{month_data.month | numberMonth}}
                  {{month_data.year}}</span>
              </a>
            </dd>
          </div>
        {% else %}
        <div class="govuk-inset-text">
          Tell us about the journeys you have taken to and from work to continue.
        </div>
        {% endfor %}
      </dl>
        {% endfor %}

      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">

              Do you want to claim travel costs for any journeys made in a different month?

            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month" name="new-month" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="new-month">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month-2" name="new-month" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="new-month-2">
                No
              </label>
            </div>
          </div>


        </fieldset>

      </div>



      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}