{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Mileage for day</h1>

        <form action="mileage-for-day-add" method="post" class="form">


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="mileage-of-day-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                        <h1 class="govuk-fieldset__heading">
                            Day of month for which mileage occurred
                        </h1>
                    </legend>

                    <div id="mileage-of-day-hint" class="govuk-hint">
                        For example, 121
                    </div>


                    <div class="govuk-date-input" id="mileage-of-day-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="mileage-of-day-date-day">
                                    Day in month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-5"
                                       id="mileage-of-day-date-day" name="mileage-of-day-date-day" type="text"
                                       pattern="[0-9]*"
                                       inputmode="numeric"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="mileage-of-day-distance">
                    Mileage travelled
                </label>
                <div id="mileage-of-day-distance-hint" class="govuk-hint">
                    HINT
                </div>
                <input class="govuk-input govuk-input--width-5" id="mileage-of-day-distance"
                       name="mileage-of-day-distance" type="text"
                       spellcheck="false" aria-describedby="mileage-of-day-distance-hint"
                       inputmode="numeric">
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
