{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="claiming-for-month" method="post" class="form">
            {{ govukRadios({
                name: "way-of-claiming",
                hint: {
                  text: "If you work at more than one location, tell us the distance in miles?"
                },
                fieldset: {
                  legend: {
                    text: "How would you like to tell us about your travel to or from work?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "journeys",
                    text: "Total number of journeys taken to or from work each day"
                  },
                  {
                    value: "mileage",
                    text: "Total distance in miles travelled to or from work each day"
                  }
                ]
              }) }}
      
              {{ govukButton({
                text: "Continue"
              }) }}
    </div>
</div>

<!-- mileage-or-journey-answer -->

{% endblock %}
