{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =='true') and (data["ttw-declaration"]) %}
      <form action="new-payee-address" method="post" class="form">
      {% elseif (data ["contact-confirmed"]) %}
        <form action="check-your-answers" method="post" class="form">
      {% else %}
      <form action="new-payee-address" method="post" class="form">
      {% endif %}

          {% if data["transport-option"] =="taxi" %}
          <span class="govuk-caption-l">Section 3 of 5</span>
          {% else %}
          <span class="govuk-caption-l">Section 2 of 4</span>
          {% endif %}

          <h1 class="govuk-heading-l">The person or company we need to pay</h1>

          {{ govukInput({
            label: {
              text: "Full name",
              classes: "govuk-label--m"
            },
            hint: {
              text: "This could be anyone who paid for your travel, including yourself."
            },
            classes: "govuk-input--width-10",
            id: "new-payee-full-name",
            name: "new-payee-full-name",
            spellcheck: false
          }) }}
  
          {{ govukInput({
            label: {
              text: "Email address",
              classes: "govuk-label--m"
            },
            hint: {
              text: "We’ll only use this to let them know we’ve paid them."
            },
            classes: "govuk-input--width-10",
            id: "payee-email",
            name: "payee-email",
            spellcheck: false
          }) }}
  
          {{ govukButton({
            text: "Continue"
          }) }}

        </form>
    </div>
</div>


{% endblock %}
