{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}

{% set travelLength %}
{{ data.travel | length }}
{% endset %}

{% set taxiTotal = 0 %}
{% for day in data.travel %}
{% set taxiTotal = taxiTotal | float + day.travel_journeys | float %}
{% else %}
{% set taxiTotal = 0 | float %}
{% endfor %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="form" method="post" action="#">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Tell us about the days you travelled</h1>


            <div data-module="moj-add-another">
                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">

                  <div class="govuk-form-group">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Date
                      </legend>

                      <div id="date-of-birth-hint" class="govuk-hint">
                          For example, 21 05 2021
                      </div>

                      <div class="govuk-date-input__item">
                          <div class="govuk-date-input" id="date-of-travel">

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="travel[0][day]">
                                  Day
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" value = "{{data.travel[0].day}}" id="travel[0][day]" name="travel[0][day]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="travel[%index%][day]" data-id="travel[%index%][day]">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="travel[0][month]">
                                  Month
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" value = "{{data.travel[0].month}}" id="travel[0][month]" name="travel[0][month]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="travel[%index%][month]" data-id="travel[%index%][month]">
                            </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="travel[0][year]">
                                  Year
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" value = "{{data.travel[0].year}}" id="travel[0][year]" name="travel[0][year]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="travel[%index%][year]" data-id="travel[%index%][year]">
                            </div>
                            </div>

                          </div>
                      </div> <!-- govuk-date-input__item -->
                  </div> <!-- govuk-form-group -->

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="travel[0][travel_journeys]">
                            Number of journeys taken on this day
                        </label>

                        <div id="travel-name-hint" class="govuk-hint">
                              For example, 2
                        </div>

                        <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-4"
                               value = "{{data.travel[0].travel_journeys}}"
                               id="travel[0][travel_journeys]"
                               name="travel[0][travel_journeys]" type="text"
                               data-name="travel[%index%][travel_journeys]"
                               data-id="travel[%index%][travel_journeys]">
                              <div class="govuk-input__suffix">journeys</div>
                              </div>
                    </div> <!-- govuk-form-group -->


                    {% if travelLength > 1 %}
                    <div class="moj-button-action">
                    <button class="govuk-button govuk-button--secondary moj-add-another__remove-button" name="remove"
                            value="0">
                        Remove
                    </button>
                    </div>
                    {% endif %}
                </fieldset>
                <!-- ENDS HERE -->
                {% if travelLength > 1 %}
                {% for item in data.travel %}
                {% if not loop.first %}
                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">

                  <div class="govuk-form-group">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Date
                      </legend>

                      <div id="date-of-birth-hint" class="govuk-hint">
                          For example, 21 05 2021
                      </div>
                      <div class="govuk-date-input__item">
                          <div class="govuk-date-input" id="date-travel-purchased">

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="travel[{{loop.index0}}][day]">
                                  Day
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="travel[{{loop.index0}}][day]" name="travel[{{loop.index0}}][day]" type="text"  inputmode="numeric" data-name="travel[%index%][day]" data-id="travel[%index%][day]"
                                value="{{item.day}}">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="travel[{{loop.index0}}][month]">
                                  Month
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="travel[{{loop.index0}}][month]" name="travel[{{loop.index0}}][month]" type="text"  inputmode="numeric" data-name="travel[%index%][month]"
                                data-id="travel[%index%][month]" value="{{item.month}}">
                            </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="travel[{{loop.index0}}][year]">
                                  Year
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="travel[{{loop.index0}}][year]" name="travel[{{loop.index0}}][year]" type="text"  inputmode="numeric"
                                data-name="travel[%index%][year]" data-id="travel[%index%][year]" value="{{item.year}}">
                            </div>
                            </div>

                          </div>
                      </div> <!-- govuk-date-input__item -->
                  </div> <!-- govuk-form-group -->

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                               for="travel[{{loop.index0}}][travel_journeys]">
                            Number of journeys taken on this day
                        </label>

                        <div id="travel-name-hint" class="govuk-hint">
                              For example, 2
                        </div>

                        <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-4" id="travel[{{loop.index0}}][travel_journeys]"
                               name="travel[{{loop.index0}}][travel_journeys]" type="text"
                               value="{{item.travel_journeys}}" data-name="travel[%index%][travel_journeys]"
                               data-id="travel[%index%][travel_journeys]">
                               <div class="govuk-input__suffix">journeys</div>
                               </div>
                    </div> <!-- govuk-form-group -->


                    <button  class="govuk-button govuk-button--secondary moj-add-another__remove-button" name="remove"
                            value="{{loop.index0}}">
                        Remove
                    </button>

                </fieldset>
                <!-- ENDS HERE -->
                {% endif %}
                {% endfor %}
                {% endif %}


                <div class="moj-button-action">
                    <button
                            class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"
                            data-module="govuk-button"
                            name="action"
                            value="add">
                        Add another journey
                    </button>
                </div>

                <div class="moj-button-action">
                    <button class="govuk-button" data-module="govuk-button"
                            name="action"
                            value="continue">
                        Continue
                    </button>
                </div>
            </div> <!-- data module -->
        </form>
    </div>
    {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}
