{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set travelLength %}
{{ data.travel | length }}
{% endset %}

{% set taxiTotal = 0 %}
{% for month in data['month-list'] %}
{% for day in month.travel %}
{% if day.travel_journeys %}
{% set taxiTotal = taxiTotal | float + day.travel_journeys | float %}
{% endif %}
{% if day.repeattravel_journeys %}
{% set taxiTotal = taxiTotal | float + day.repeattravel_journeys | float %}
{% endif %}
{% endfor %}
{% else %}
{% set taxiTotal = 0 | float %}
{% endfor %}

{% set repeattravelLength %}
{{ data.repeattravel | length }}
{% endset %}

{% set mileageTotal = 0 %}
{% for month in data['month-list'] %}
{% for day in month.milage %}
{% if day.milage_total %}
{% set mileageTotal = mileageTotal | float + day.milage_total | float %}
{% endif %}
{% if day.repeatmilage_total %}
{% set mileageTotal = mileageTotal | float + day.repeatmilage_total | float %}
{% endif %}
{% endfor %}
{% else %}
{% set mileageTotal = 0 | float %}
{% endfor %}

{% set taxiinworkTotal = 0 %}
{% for day in data.travel %}
{% set taxiinworkTotal = taxiinworkTotal | float + day.travel_cost | float %}
{% else %}
{% set taxiTotal = 0 | float %}
{% endfor %}

{% set repeattaxiinworkTotal = 0 %}
{% for day in data.repeattravel %}
{% set repeattaxiinworkTotal = repeattaxiinworkTotal | float + day.repeattravel_cost | float %}
{% else %}
{% set repeattaxiTotal = 0 | float %}
{% endfor %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="#">
      <div class="govuk-form-group">

        {% if (data['transport-option'] == "taxi") or (data['way-of-claiming']) %}
        {% if taxiTotal === 1 %}
        <h1 class="govuk-heading-l">You’ve told us you want to claim for {{taxiTotal}} journey</h1>
        {% else %}
        <h1 class="govuk-heading-l">You’ve told us you want to claim for {{taxiTotal}} journeys</h1>
        {% endif %}

        {% else %}
        <h1 class="govuk-heading-l">You’ve told us you want to claim for {{mileageTotal|int}}
          journey</h1>
        {% endif %}

        {% for month_data in data['month-list'] %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {% if data['way-of-claiming'] %}
              Journeys in {{month_data.month | numberMonth}}
              {% else %}
              Taxi journeys in {{month_data.month | numberMonth}}
              {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              {% if data['month-list'].length > 1 %}
              <a id="{{item.day}}-change" class="govuk-link"
                href="remove-month-travel?monthIndex={{data['month-list'].indexOf(month_data)}}&travelType=1">

                Remove
                <span class="govuk-visually-hidden"> {{month_data.month | numberMonth}} {{month_data.year}}</span>
              </a>
              {% endif %}
            </dd>
          </div>

          {% for item in month_data['travel'] | sortBy('day') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{item.day}} {{month_data.month | numberMonth}} {{month_data.year}}
            </dt>
            <dd class="govuk-summary-list__value">
              {% if item.travel_journeys %}
              {{item.travel_journeys}} {% if taxiTotal === 1 %} journey {% else %} journeys {% endif %}
              {% else %}
              {{item.repeattravel_journeys}} {% if taxiTotal === 1 %} journey {% else %} journeys {% endif %}
              {% endif %}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a id="{{item.day}}-change" class="govuk-link"
                href="taxi-journeys-for-day-test?month={{month_data.month}}&year={{month_data.year}}">
                Change<span class="govuk-visually-hidden"> Change {{item.day}} {{month_data.month |
                  numberMonth}} {{month_data.year}}</span>
              </a>
            </dd>
          </div>
          {% else %}
          <div class="govuk-inset-text">
            Tell us about the journeys you have taken to and from work to continue.
          </div>
          {% endfor %}
        </dl>

        {% endfor %}

      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to claim travel costs for any journeys made in a different month?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month" name="new-month" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="new-month">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month-2" name="new-month" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="new-month-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}