{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}

{% set journeysTotal = 0 %}
{% for day in data['journeys'] %}
{% set journeysTotal = journeysTotal | float + day.journeys | float %}
{% else %}
{% set journeysTotal = 0 | float %}
{% endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="taxi-journeys-for-day-more">

        <div class="govuk-form-group">

            {% if data['journeys'].length === 0 %}
            <h1 class="govuk-heading-l">You haven't told us about any times you have travelled in
            {{data['travel-to-work-date-month'] | numberMonth}}</h1>
            {% else %}
            <h1 class="govuk-heading-l">You’ve told us about {{journeysTotal}} journeys in
            {{data['travel-to-work-date-month'] | numberMonth}}</h1>
            {% endif %}

            <ul class="hmrc-add-to-a-list hmrc-add-to-a-list--short">

                {% for day in data['journeys'] %}
                <li class="hmrc-add-to-a-list__contents">
      <span class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
        {{day.day}} {{data['travel-to-work-date-month'] | numberMonth}} {{ data['travel-to-work-date-year'] }} - {{ day.journeys }} journey(s)
      </span>

                    <span class="hmrc-add-to-a-list__change">
        <a class="govuk-link" href="remove-day-journeys?removeId={{loop.index0}}">
          <span aria-hidden="true">Remove</span>
          <span class="govuk-visually-hidden">Remove a taxi journey entry from the list</span>
        </a>
      </span>
                </li>

            {% else %}
            <div class="govuk-inset-text">
              Tell us about a time you travelled in {{data['travel-to-work-date-month'] | numberMonth}} to continue.
            </div>
            {% endfor %}

            </ul>
        </div>



            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="add-more-taxi-journeys-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
                      {% if journeysTotal=="0" %}
                      Do you need to tell us when you travelled in {{data['travel-to-work-date-month'] | numberMonth}}?
                      {% else %}
                      Do you need to tell us another time you travelled in {{data['travel-to-work-date-month'] | numberMonth}}?
                      {% endif %}
                    </legend>

                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-more-taxi-journeys-yes" name="add-more-taxi-journeys"
                                   type="radio"
                                   value="Yes">
                            <label class="govuk-label govuk-radios__label" for="add-more-taxi-journeys-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-more-taxi-journeys-no" name="add-more-taxi-journeys"
                                   type="radio"
                                   value="No">
                            <label class="govuk-label govuk-radios__label" for="add-more-taxi-journeys-no">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
