{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="transport-option-answer-preview" method="post" class="form">

            {{ govukRadios({
                name: "transport-option",
                fieldset: {
                  legend: {
                    text: "Which type of journeys are you claiming for?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                  }
                },
                items: [
                  {
                    value: "taxi",
                    text: "Taxi journeys"
                  },
                  {
                    value: "lift",
                    text: "Lifts from a friend, colleague or family member"
                  }
                ]
              }) }}
      
              {{ govukButton({
                text: "Continue"
              }) }}

        </form>
    </div>
</div>


{% endblock %}
