{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="transport-option-answers" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="transport-option-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <span class="govuk-caption-l">Section 1 of 5</span>
                        <h1 class="govuk-fieldset__heading">
                            Did you travel by Taxi?
                        </h1>
                    </legend>



                    <div class="govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="transport-option-yes" name="transport-option"
                                   type="radio"
                                   value="taxi">
                            <label class="govuk-label govuk-radios__label" for="transport-option-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="transport-option-no" name="transport-option"
                                   type="radio"
                                   value="lift">
                            <label class="govuk-label govuk-radios__label" for="transport-option-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
