// Ordering is important must be before the inline declarations below so that they override the values set in core/all
$nhsuk-include-font-face:false;

@import '../../../node_modules/nhsuk-frontend/packages/core/all';

$govuk-global-styles: true;
$govuk-new-link-styles: true;

$color_nhsuk-white: #f8f8f8; // Override the card background colour

// Override colors of the links on the NHS Cards
$nhsuk-link-color: #1d70b8;
$nhsuk-link-hover-color: #003078;
$nhsuk-link-active-color: #0b0c0c;
$nhsuk-link-visited-color: #4c2c92;

// Override the default size, as the NHS design makees the below changes for @media (min-width: 40.0625em)
// ol, ul, .nhsuk-list {
// font-size: 19px;
//  font-size: 1.128rem;
//}
@media (min-width: 40.0625em) {
  ol {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "../../../node_modules/nhsuk-frontend/packages/components/card/card";

.nhsuk-grid-column-one-third {
  box-sizing: border-box;
  padding: 0 10px;
}
