{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="employees-claim-incorrect" method="post" class="form">



            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="300">
            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="with-hint">
                  Tell us why you cannot confirm this claim
                </label>
              </h1>
              {% if (data["answers-checked-sw"]) %}
              <div id="claim-incorrect-hint" class="govuk-body">
                  For example, Joe Bloggs could be claiming for too many or too few days of support.
              </div>
              <p>You need to make sure you provide enough information, so Joe Bloggs understands what needs to be updated.</p>
              {% else %}
              <div id="job-description-hint" class="govuk-body">
                  For example, Joe Bloggs could be claiming for too many or too few days of travel, or they might not have been in work for one of the days they are claiming for.
              </div>
              <p>You need to make sure you provide enough information, so Joe Bloggs understands what needs to be updated.</p>
              {% endif %}
              <textarea class="govuk-textarea govuk-js-character-count" id="claim-incorrect" name="claim-incorrect" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
            </div>

            <div id="claim-incorrect-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
              You can enter up to 300 characters
            </div>

          </div>


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
