{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">Our records show £50 will be paid by your employer</h1>

        <p class="govuk-body">If you think this is wrong you can <a class="govuk-link" href="#">contact the access to
            work team (opens in a new tab)</a> to speak with an Access to Work adviser.
        </p>

        <form action="banking-details" method="post" class="form">

            <input type="hidden" value="Yes" id="employer-contributing" name="employer-contributing">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
