{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% if (data['journeys'].length === 0) or (data['journeys'].length === undefined) %}
      <h1 class="govuk-heading-l">
      When was the first day you travelled in {{data['travel-to-work-date-month'] | numberMonth}}?</h1>
      {% else %}
      <h1 class="govuk-heading-l">
      When else in {{data['travel-to-work-date-month'] | numberMonth}} did you travel?</h1>
      {% endif %}

        <form action="mileage-for-day-add" method="post" class="form">


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="mileage-of-day-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                        <h2 class="govuk-fieldset__heading">
                          Tell us about a day in {{data['travel-to-work-date-month'] | numberMonth}}
                          that you travelled
                        </h2>
                    </legend>

                    <div id="mileage-of-day-hint" class="govuk-hint">
                        For example, 21
                    </div>


                    <div class="govuk-date-input" id="mileage-of-day-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">

                                <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-2" id="mileage-of-day-date-day"  name="mileage-of-day-date-day" type="text" spellcheck="false" inputmode="numeric">
                                  <div class="govuk-input__suffix" aria-hidden="true">
                                    {{data['travel-to-work-date-month'] | numberMonth}} {{data['travel-to-work-date-year']}}
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="mileage-of-day-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                      <h2 class="govuk-fieldset__heading">
                        Tell us how many miles you travelled on this day
                      </h2>
                  </legend>
                <div id="mileage-of-day-distance-hint" class="govuk-hint">
                    For example, 15
                </div>


                       <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-4" id="mileage-of-day-distance"  name="mileage-of-day-distance" type="text" spellcheck="false" inputmode="numeric">
                         <div class="govuk-input__suffix" aria-hidden="true">
                           Miles</div>
                       </div>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
