{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="receipt-upload" method="post" class="form">
            <span class="govuk-caption-xl">Before you continue</span>
            <h1 class="govuk-heading-xl">How to get a digital copy of your paper receipt or invoice</h1>

            <p>If you already have a digital copy of your receipt or invoice continue to the next page.</p>

            <h2 class="govuk-heading-m">If you are taking a photo of you receipt or invoice </h2>
            <p>Make sure:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you’re in a well-lit place</li>
                <li>all the receipt or invoice is in the image</li>
                <li>you take the photo from above and not at an angle  </li>
                <li>the photo is not blurry</li>
            </ul>

            <h2 class="govuk-heading-m">If you are scanning your receipt or invoice</h2>
            <p>Make sure:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you include the whole receipt or invoice in the scan</li>
                <li>the scan is not blurry</li>
            </ul>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
