{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="month-claim-answer" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="month-of-travel-to-work-hint">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which month are you claiming support worker costs for?
                        </h1>
                    </legend>

                    <p>We’ll ask you to tell us about all the support worker costs you’d like to claim for in this month. You can add any other months you want to claim support worker costs for later.</p>

                    <div id="month-of-travel-to-work-hint" class="govuk-hint">
                        For example, 4 2022
                    </div>


                    <div class="govuk-date-input" id="travel-to-work-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="support-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="support-month" name="support-month" type="text" pattern="[0-9]*"
                                       inputmode="numeric"></div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="support-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="support-year" name="support-year" type="text" pattern="[0-9]*"
                                       inputmode="numeric"></div>
                        </div>
                    </div>

                </fieldset>
            </div>


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
