{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-xl">Guidance</span>
        <h1 class="govuk-heading-xl">How to tell us when you received support and for how long</h1>


        <h2 class="govuk-heading-m">You'll need:</h2>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>to tell us the date you received support</li>
            <li>how many hours of support you received that day including half hours, for example 3.5 hours</li>
            <li>to repeat for every day you received support</li>
        </ul>

        <form action="#" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Start now
            </button>

        </form>

    </div>
</div>


{% endblock %}
