{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, you can only claim for the cost of someone supporting you to do your job</h1>
        <p class="govuk-body">
            Our records show you have only been awarded a grant for the cost of someone supporting you to do your job.
        </p>
        <p class="govuk-body">If you think this is wrong you can <a class="govuk-link" href="#">contact the access to
            work team (opens in a new tab)</a> to speak with an Access to Work adviser.
        </p>
    </div>
</div>


{% endblock %}
