{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="receipt-upload-add" method="post" class="form">

            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">Upload your receipt or invoice</h1>
                </legend>

                <p>To upload your receipt or invoice you’ll need to save your digital copy, your photo, or your scan on the device you are using. You’ll have the option to upload another receipt or invoice after this page.</p>

                <p>You’ll need to:</p>
                <ol class="govuk-list govuk-list--number">
                    <li>Click on the upload button</li>
                    <li>Select the files you want to upload</li>
                </ol>

                <p>Make sure that it is the correct file format (PNG, JPEG, PDF, GIF, docx) and the document is not password protected.</p>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload">
                        Upload a file
                    </label>
                    <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
                </div>


            </fieldset>


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Upload
            </button>
        </form>
    </div>
</div>


{% endblock %}
