{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Before you continue</span>
    <h1 class="govuk-heading-xl">What you need to submit a claim</h1>



    <h1 class="govuk-heading-m">You’ll need:</h1>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>to know who bought your equipment or adaptation (this could be yourself, your employer, or the supplier)</li>
      <li>the date of when your equipment or adaptation was bought, (you can find this on the invoice, receipt or order confirmation of your equipment or adaptation)</li>
      <li>a digital receipt or invoice, or if you have a paper receipt or invoice you’ll need a smart phone, camera, or scanner to upload them</li>
      <li>the bank details of who bought your equipment or adaptation</li>
    </ul>

    <p>If you can’t digitally upload your receipt or invoice you’ll need to submit your claim with the paper form by post. Your paper form will have been sent to you.</p>




    <!-- <h3 class="govuk-heading-s">Post your claim to:</h3>

<p class="govuk-body">
  Access to Work Service Centre<br>
  Harrow Jobcentre<br>
  Mail Handling Site A<br>
  Wolverhampton<br>
  WV98 1JE
</p> -->



  </div>
  </div>
  </main>
</div>

<form action="description" method="post" class="form">

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>

</form>










{% endblock %}
