
{% extends "layout.html" %}

{% block pageTitle %}
  Access to Work Claiming Portal
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">



    <span class="govuk-caption-xl">Before you continue</span>
    <h1 class="govuk-heading-xl">What you will need to complete a claim</h1>

<p>some text about what you will need will go here. </p>


</main>
</div>

<form action="information-about-the-service" method="post" class="form">

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>










{% endblock %}
