{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Before you continue</span>
    <h1 class="govuk-heading-xl">What you need to submit a claim</h1>



    <h1 class="govuk-heading-m">You’ll need:</h1>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>date(s) of when your special aids and equipment were purchased</li>
      <li>a receipt or invoice for your special aids and equipment  </li>
      <li>details of who purchased your special aids and equipment (this could be yourself, your employer or the supplier)</li>
      <li>your bank details, or the bank details of who purchased your special aids and equipment</li>
    </ul>

    <div class="govuk-inset-text">
      It is important you tell us the correct information. Any incorrect information will slow down your claim.
    </div>

  </div>
  </div>
  </main>
</div>

<form action="information-about-the-service" method="post" class="form">

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>

</form>










{% endblock %}
