{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Guidance</span>
        <h1 class="govuk-heading-xl">Send us your claim by post</h1>

        <p>Access to Work can’t process your claim without a receipt or invoice. If you can’t upload a receipt or
            invoice digitally you’ll have to send us your claim via post.</p>
        <p>You’ll need: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>to complete the paper claim form that was sent to you after your Access to Work grant was awarded</li>
            <li>to include your receipts or invoices for your special aids and equipment</li>
            <li>to post your claim to the Access to Work</li>
        </ul>

        <h3 class="govuk-heading-s">Post your claim to:</h3>

        <p class="govuk-body">
            Access to Work Service Centre<br>
            Harrow Jobcentre<br>
            Mail Handling Site A<br>
            Wolverhampton<br>
            WV98 1JE
        </p>


    </div>
</div>


{% endblock %}
