{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-xl">Send us your claim by post</h1>

    <p>If you are unable to provide evidence digitally you will need to complete the claims process offline and send us a copy of your claim via post</p>
    <p>You’ll need to: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>complete the paper claim form that was sent to you after your Access to Work grant was awarded</li>
      <li>include your receipts or invoices for your special aids and equipment </li>
      <li>post your claim to us </li>
    </ul>





  <p>To access a paper claims form you'll need to <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">download a paper claims submission submission form(opens in a new tab)</a>.</p>

  <h2 class="govuk-heading-m">Get help with your application</h2>

  <h3 class="govuk-heading-s">Telephone</h3>

  <p class="govuk-body">If you have a unique reference number, have it with you when you call.</p>

  <ul class="govuk-list">
    <li>Telephone: 020 7946 0101</li>
    <li>Textphone: 020 7946 0102</li>
    <li>Monday to Friday, 8am to 6pm</li>
    <li>Saturday and Sunday, 10am to 4pm</li>
    <li class="govuk-!-margin-top-5">Welsh language: 020 7946 0103</li>
    <li>Monday to Friday, 8:30am to 5pm</li>
  </ul>
  <p class="govuk-body">
    <a class="govuk-link" href="#">Find out about call charges</a>
  </p>

    <h1 class="govuk-heading-m">Post your claim to:</h1>

    <h3 class="govuk-heading-s">Address</h3>

<p class="govuk-body">
  Access to Work Service Centre<br>
  Harrow Jobcentre<br>
  Mail Handling Site A<br>
  Wolverhampton<br>
  WV98 1JE
</p>


</div>
</div>




  </main>
</div>











{% endblock %}
