{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>


    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Sorry, you can only claim for special aids and equipment</h1>
          <p class="govuk-body">
            According to our records that we have stored on file, you have been awarded a grant to claim for specific equipment to help aid you in your job or an alteration to your work premesis.
          </p>
          <p class="govuk-body">If you think this is incorrect you can <a class="govuk-link" href="#">Contact the Access to Work team (opens in a new tab)</a> if you think this is incorrect to speak to an advisor about the issue.
          </p>
        </div>
      </div>
    </main>


</div>












{% endblock %}
