{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">


    <form action="purchase-answer" method="post" class="form">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Who purchased your equipment or adaptation?
            </h1>
          </legend>


          <div id="changed-name-hint" class="govuk-hint">
               This is the person who Access to Work will reimburse for the initial cost of the equipment
             </div>


          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="purchase-equipment-1" name="purchase-equipment" type="radio"
                value="Me">
              <label class="govuk-label govuk-radios__label" for="purchase-equipment-1">
                Me
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                This includes yourself, a parent or guardian, friend, or an informal carer
            </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="purchase-equipment-2" name="purchase-equipment" type="radio"
                value="My-employer">
              <label class="govuk-label govuk-radios__label" for="purchase-equipment-2">
                My employer
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                This could be a line manager, HR representative or someone else who works at the same organisation
            </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="purchase-equipment-3" name="purchase-equipment" type="radio"
                value="Someone-else">
              <label class="govuk-label govuk-radios__label" for="purchase-equipment-3">
                Someone else
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                This includes a supplier or a support worker
            </div>
            </div>
          </div>

        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </div>
      </div>
    </form>

  </main>
</div>


{% endblock %}
