{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

<form action="receipt-upload" method="post" class="form">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-xl">Ways you can upload your receipts or invoices</h1>


    <p>You can:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>take a photo of a paper receipt with a smart phone or camera </li>
      <li>take a screenshot of a digital receipt </li>
      <li>save a digital receipt as a file </li>
    </ul>



    <h1 class="govuk-heading-m">Take a photo of your receipt or invoice</h1>
    <p>Make sure:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you are in a well lit place</li>
      <li>all of the document is in the image</li>
      <li>you take the photo from above and not at an angle</li>
      <li>the photo is not blurred</li>
    </ul>

    <p>you can also scan your paper receipt or invoice in.</p>

    <h1 class="govuk-heading-m">Take a screenshot of your receipt or invoice</h1>
    <p>Make sure:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the whole receipt or invoice is in the image </li>
      <li>you include the name and cost of your equipment or adaptation</li>
      <li>you don’t include other personal information that is not on your receipt or invoice </li>
    </ul>

    <h1 class="govuk-heading-m">How to save a copy of a digital receipt</h1>
    <p>If you have purchased your equipment or adaptation online you have may have received a digital copy of your receipt or invoice. To upload you need to save your digital receipt or invoice on your device.
      Make sure that it is the correct file format (PNG,JPEG,PDF,GIF) and the document is not password protected. </p>



      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
</div>
</div>
    </form>



  </main>
</div>











{% endblock %}
