
{% extends "layout.html" %}

{% block pageTitle %}
  Access to Work Claiming Portal
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">






<form action="aids-and-equipment-answer" method="post" class="form">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Are you claiming for special aids and equipment?
      </h1>
    </legend>
  <p>For example a wheelchair or change or alteration to the workplace premasis.</p>



    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="aids-and-equipment" name="aids-and-equipment" type="radio" value="Yes">
        <label class="govuk-label govuk-radios__label" for="aids-and-equipment-1">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="aids-and-equipment-2" name="aids-and-equipment" type="radio" value="No">
        <label class="govuk-label govuk-radios__label" for="aids-and-equipment-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>

</form>

</main>
</div>







{% endblock %}
