{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="employment-status-answer" method="post" class="form">
          <span class="govuk-caption-l">Section 4 of 5</span>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="employment-status-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                          What's your employment status?

                        </h1>
                    </legend>


                    <p>We might need someone to confirm the journeys you’re claiming for. This will depend on whether you’re employed or self-employed.</p>



                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="employment-status-yes" name="employment-status"
                                   type="radio"
                                   value="Employed">
                            <label class="govuk-label govuk-radios__label" for="employment-status-yes">
                                Employed
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="employment-status-no" name="employment-status"
                                   type="radio"
                                   value="Self-employed">
                            <label class="govuk-label govuk-radios__label" for="employment-status-no">
                                Self-employed
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
