{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">





        <span class="govuk-caption-xl">Before you continue</span>
        <h1 class="govuk-heading-xl">What you will need to review and confirm a claim </h1>

        <p>Your employee has completed an Access to Work claim, before payment is made, you must review and confirm their claim. </p>

        {% if (data["journey-type"]=="supportworker") %}

        <h3 class="govuk-body">You will need:</h3>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>to know their claim number, this will have been sent to you in an email
            </li>
            <li>to know the dates your employee received support and for how long
            </li>
            <li>to review their claim and check the invoices or receipts they uploaded
            </li>
        </ul>
            {% elseif (data["journey-type"]=="traveltowork") %}

            <h3 class="govuk-body">You will need:</h3>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>to know their claim number, this will have been sent to you in an email
                </li>
                <li>to know the dates your employee travelled to work
                </li>
                <li>to review their claim and check the invoices or receipts if they travelled by taxi
                </li>
            </ul>
            {% endif %}


        <form action="do-you-know-claim-number" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
