{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">





        <span class="govuk-caption-l">Before you continue</span>
        <h1 class="govuk-heading-l">What you’ll need to review a claim </h1>

        <p>Your employee has made a claim from their Access to Work grant. You need review their claim before we can make a payment.</p>

        {% if (data["answers-checked-sw"]) %}

        <h3 class="govuk-body">You’ll need to:</h3>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

            <li>confirm the dates your employee received support
            </li>
            <li>confirm how long your employee received support for on each date
            </li>
        </ul>
            {% else %}

            <h3 class="govuk-body">You will need:</h3>
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

                <li>confirm that your employee was in work on the days they have claimed travel for
                </li>
                
            </ul>
            {% endif %}


        <form action="company-name" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
