{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="company-address-select" method="post" class="form">



            <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
  Enter {{data["comapany-name"]}}'s postcode?
</h1>
</legend>

<!-- <div class="govuk-form-group">
  <label class="govuk-label" for="new-payee-house-number">
    House number or name
  </label>
  <div id="new-payee-house-number-hint" class="govuk-hint">for example, flat 20A</div>
<input class="govuk-input govuk-input--width-10" id="new-payee-house-number" name="new-payee-house-number" type="text" spellcheck="false" autocomplete="number"></div> -->

<div class="govuk-form-group">
  <label class="govuk-label" for="new-payee-postcode">
    Postcode
  </label>
  <div id="new-payee-postcode-hint" class="govuk-hint">For example, WA4 1AB</div>
  <input class="govuk-input govuk-input--width-10" id="new-payee-postcode" name="new-payee-postcode" type="text" spellcheck="false" aria-describedby="new-payee-postcode-hint" autocomplete="postcode">
</div>

</fieldset>

<!-- <p><a href="new-payee-address-manual">Enter {{data["new-payee-full-name"]}}'s address manually</a></p> -->





            <button type="submit" class="govuk-button" data-module="govuk-button">
                Find address
            </button>

        </form>
    </div>
</div>


{% endblock %}
