{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
classes: "govuk-!-display-none-print",
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% set print = true %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            {% if data['claim-incorrect'] =='true' %}

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Claim returned to employee</h1>
                <div class="govuk-panel__body">
                    Your employee's claim reference number<br><br><strong>{{data['citizens-urn']}}</strong>
                </div>
            </div>

            {% else %}

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Claim approved</h1>
                <div class="govuk-panel__body">
                    Your employee's claim reference number<br><br><strong>{{data['citizens-urn']}}</strong>
                </div>
            </div>

            {% endif %}

            {% if (data["answers-checked-sw"]) %}
            <p>You should give us this claim reference number if you contact us about your claim. You can <a target="_blank"
                    href="../support-worker/check-your-answers-print">save and print a copy of the claim you approved (opens in a new tab)</a>.</p>
            {% else %}
            <p>You should give us this claim reference number if you contact us about your claim. You can <a target="_blank"
                    href="../travel-to-work/check-your-answers-print">save and print a copy of the claim you approved (opens in a new tab)</a>.</p>
              {% endif %}

            <h2 class="govuk-heading-m">What happens next</h2>

            {% if data['claim-incorrect'] =='true' %}
            <p>Your employee’s claim has been sent back to them. Your employee can review why you did not approve their claim and make changes to their claim. Once updated, we’ll send their claim back to you for review.</p>
            <p>You’ll need to review their claim again. If you approve the updated claim, we’ll process the claim and pay the money into the chosen bank account.</p>
            {% else %}

            <p>Your employee’s claim has been approved. We’ll process the claim and pay the money into the chosen bank account.</p>

            <p>Your employee will be able to see the progress of their Access to Work claim in their account.</p>

            {% endif %}



            <p> <a href="../../index">Sign out</a></p>


    </div>
</div>


<p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you
    think of this service?</a> (takes 30 seconds)</p>
{% endblock %}
