{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="employees-claim" method="post" class="form">

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="citizens-urn">
                        Tell us the claim reference number
                    </label>
                    </h1>
                    <div id="citizens-urn-hint" class="govuk-body">
                        For example, SW-100234
                    </div>

                    <input class="govuk-input" id="citizens-urn" name="citizens-urn" type="text"
                           aria-describedby="citizens-urn-hint">
                </div>
            </div>


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
