{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">





        <span class="govuk-caption-xl">Incorrect claim</span>
        <h1 class="govuk-heading-xl">What happens next</h1>



        <p>Your employee’s claim has now been sent back to them to review why you disagreed with their claim. Once they have made changes, the claim will be sent back to you for review.</p>
        <p>Once you have reviewed and confirmed the updated claim it will be sent to Access to Work for processing.</p>
        <p>Once the claim is processed and approved payment will be sent. You will be able to see updates to your employee's claim in your Access to Work portal area.<p>


        <form action="../../index" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                finish and log out
            </button>

        </form>

    </div>
</div>


{% endblock %}
