{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="../../index" method="post" class="form">
        <h1 class="govuk-heading-l">Sorry, you'll need to tell us another claim reference number to review a different claim</h1>
        <p class="govuk-body">
            To review a different employee’s claim reference number, you will need to return to your account home and start again.
        </p>
        <p class="govuk-body">
            To make sure you have the correct claim reference number you can check the email that’s asking you to review a claim or check the claim reference number with your employee. They will have this on their claim confirmation email.
        </p>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Sign out
        </button>

    </form>

    </div>
</div>


{% endblock %}
