{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set hourTotal = 0 %}
{% for day in data['support_hours'] %}
{% set hourTotal = hourTotal | float + item.support_hours | float %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="form" method="post" action="#">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Tell us about the support you had at work</h1>


            <div data-module="moj-add-another">
                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">

                  <div class="govuk-form-group">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Date
                      </legend>

                      <div id="date-of-birth-hint" class="govuk-hint">
                          For example, 21 5 2021
                      </div>

                      <div class="govuk-date-input__item">
                          <div class="govuk-date-input" id="date-of-birth">

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="support[0][day]">
                                  Day
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" value = "{{data.support[0].day}}" id="support[0][day]" name="support[0][day]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="support[%index%][day]" data-id="support[%index%][day]">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="support[0][month]">
                                  Month
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" value = "{{data.support[0].month}}" id="support[0][month]" name="support[0][month]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="support[%index%][month]" data-id="support[%index%][month]">
                            </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="support[0][year]">
                                  Year
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" value = "{{data.support[0].year}}" id="support[0][year]" name="support[0][year]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="support[%index%][year]" data-id="support[%index%][year]">
                            </div>
                            </div>

                          </div>
                      </div> <!-- govuk-date-input__item -->
                  </div> <!-- govuk-form-group -->

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="support[0][support_hours]">
                            Total hours of support on this day
                        </label>

                        <div id="support-name-hint" class="govuk-hint">
                              Including half hours, for example 3.5 hours
                        </div>

                        <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-4"
                               value = "{{data.support[0].support_hours}}"
                               id="support[0][support_hours]"
                               name="support[0][support_hours]" type="text"
                               data-name="support[%index%][support_hours]"
                               data-id="support[%index%][support_hours]">
                              <div class="govuk-input__suffix">hour(s)</div>
                              </div>
                    </div> <!-- govuk-form-group -->

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="support[0][providor]">
                            Name of your support worker or agency (optional)
                        </label>


                               <input class="govuk-input"
                                      value = "{{data.support[0].providor}}"
                                      id="support[0][providor]"
                                      name="support[0][providor]" type="text"
                                      data-name="support[%index%][providor]"
                                      data-id="support[%index%][providor]">

                    </div> <!-- govuk-form-group -->



                    {% if supportLength > 1 %}
                    <div class="moj-button-action">
                    <button class="govuk-button govuk-button--secondary moj-add-another__remove-button" name="remove"
                            value="0">
                        Remove
                    </button>
                    </div>
                    {% endif %}
                </fieldset>
                <!-- ENDS HERE -->
                {% if supportLength > 1 %}
                {% for item in data.support %}
                {% if not loop.first %}
                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">

                  <div class="govuk-form-group">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Date
                      </legend>

                      <div id="date-of-birth-hint" class="govuk-hint">
                          For example, 21 5 2021
                      </div>
                      <div class="govuk-date-input__item">
                          <div class="govuk-date-input" id="date-support-purchased">

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="support[{{loop.index0}}][day]">
                                  Day
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="support[{{loop.index0}}][day]" name="support[{{loop.index0}}][day]" type="text"  inputmode="numeric" data-name="support[%index%][day]" data-id="support[%index%][day]"
                                value="{{item.day}}">
                              </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="support[{{loop.index0}}][month]">
                                  Month
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="support[{{loop.index0}}][month]" name="support[{{loop.index0}}][month]" type="text"  inputmode="numeric" data-name="support[%index%][month]"
                                data-id="support[%index%][month]" value="{{item.month}}">
                            </div>
                            </div>

                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="support[{{loop.index0}}][year]">
                                  Year
                                </label>

                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="support[{{loop.index0}}][year]" name="support[{{loop.index0}}][year]" type="text"  inputmode="numeric"
                                data-name="support[%index%][year]" data-id="support[%index%][year]" value="{{item.year}}">
                            </div>
                            </div>

                          </div>
                      </div> <!-- govuk-date-input__item -->
                  </div> <!-- govuk-form-group -->

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                               for="support[{{loop.index0}}][support_hours]">
                            Total hours of support on this day
                        </label>

                        <div id="support-name-hint" class="govuk-hint">
                              Including half hours, for example 3.5 hours
                        </div>

                        <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-4" id="support[{{loop.index0}}][support_hours]"
                               name="support[{{loop.index0}}][support_hours]" type="text"
                               value="{{item.support_hours}}" data-name="support[%index%][support_hours]"
                               data-id="support[%index%][support_hours]">
                               <div class="govuk-input__suffix">hour(s)</div>
                               </div>
                    </div> <!-- govuk-form-group -->

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                               for="support[{{loop.index0}}][providor]">
                            Name of your support worker or agency (optional)
                        </label>


                        <input class="govuk-input" id="support[{{loop.index0}}][providor]"
                               name="support[{{loop.index0}}][providor]" type="text"
                               value="{{item.providor}}" data-name="support[%index%][providor]"
                               data-id="support[%index%][providor]">

                    </div> <!-- govuk-form-group -->

                    <button  class="govuk-button govuk-button--secondary moj-add-another__remove-button" name="remove"
                            value="{{loop.index0}}">
                        Remove
                    </button>

                </fieldset>
                <!-- ENDS HERE -->
                {% endif %}
                {% endfor %}
                {% endif %}


                <div class="moj-button-action">
                    <button
                            class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"
                            data-module="govuk-button"
                            name="action"
                            value="add">
                        Add more support or adaptations
                    </button>
                </div>

                <div class="moj-button-action">
                    <button class="govuk-button" data-module="govuk-button"
                            name="action"
                            value="continue">
                        Continue
                    </button>
                </div>
            </div> <!-- data module -->
        </form>
    </div>
    {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}
