{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="new-payee-address" method="post" class="form">

            <h1 class="govuk-heading-l">Tell us your payee’s details</h1>


                <div class="govuk-form-group">
                  <label class="govuk-label" for="new-payee-full-name">
                    Full name
                  </label>
                  <div id="payee-name-hint" class="govuk-hint">This can be the name of a person or company</div>
                <input class="govuk-input" id="new-payee-full-name" name="new-payee-full-name" type="text" spellcheck="false" autocomplete="name"></div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="payee-email">
                    Email address
                  </label>
                  <div id="email-hint" class="govuk-hint">We’ll only use this to send a remittance slip</div>
                  <input class="govuk-input" id="payee-email" name="payee-email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
                </div>





            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
