{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You can only use this grant to help cover costs for travel to or from work</h1>
        <p class="govuk-body">
            Contact the Access to Work team if you think we’ve got something wrong, or you think you need extra support from your Access to Work grant.
        </p>



        <div class="govuk-inset-text">
          <h3 class="govuk-heading-s">Access to Work:</h3>
            Telephone: 0800 121 7479<br>
            Textphone: 0800 121 7579<br>
            <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 7479<br>
            Monday to Friday, 9am to 5pm<br>
            <a href="https://main.signvideo.me/app/8/10128?exitURL=https://www.gov.uk/access-to-work/apply">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=vZJc6OKmAUA">check you can use the service</a><br>
              Monday to Friday, 9am to 5pm <br>
            <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
        </div>

    </div>
</div>

<form action="../portal" method="post" class="form">

  <button type="submit" class="govuk-button" data-module="govuk-button">
      Return to account home
  </button>

</form>


{% endblock %}
