{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['transport-option'] == "taxi" %}
        <h1 class="govuk-heading-l">The total amount we can pay towards the journeys you’re claiming for will be £1400</h1>



        <p class="govuk-body">This is the total amount we can pay towards the journeys you’ve told us about.
          This is slightly less than the total cost of the journeys because we can only pay £1400 towards your travel each month.</p>

          <p>Contact the Access to Work team if you think we’ve got something wrong, or if you think you need additional support from your Access to Work grant.<p>

        {% else %}

        <h1 class="govuk-heading-l">The total amount we can pay towards the journeys you’re claiming for will be £1400</h1>

        <p class="govuk-body">This is the total amount we can pay towards the journeys you’ve told us about. This is slightly less than the total cost of the journeys because we can only pay <b>£1400</b> towards your travel each month.
        </p>



        {% endif %}

        <h3 class="govuk-heading-s">Access to Work helpline:</h3>

        <div class="govuk-inset-text">
            Telephone: 0800 121 7479<br>
            Textphone: 0800 121 7579<br>
            <a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 7479<br>
            Monday to Friday, 9am to 5pm<br>
            <a href="https://main.signvideo.me/app/8/10128?exitURL=https://www.gov.uk/access-to-work/apply">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=xgWBXN5Bp_E">check you can use the service</a><br>
              Monday to Friday, 9am to 5pm <br>
            <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
        </div>

        <form action="providing-evidence" method="post" class="form">

            <input type="hidden" value="Yes" id="employer-contributing" name="employer-contributing">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
