{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="date-of-purchase" method="post" class="form">
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="equipment-name">
                        What equipment or adaptation was purchased?
                    </label>
                    </h1>
                    <div id="equipment-name-hint" class="govuk-body">
                        Tell us the brand and model of your equipment or describe the adaptation to your workplace. For
                        example, a Karma Ergo 115 wheelchair or a lowered curb
                    </div>
                    <input class="govuk-input" id="equipment-name" name="equipment-name" type="text"
                           aria-describedby="equipment-name-hint">
                </div>
            </div>


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
