{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="support-for-workplace.html">Support for work</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="grant-Information.html">Information about your grant</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="before-you-continue.html">What you’ll need to submit your claim</a>
        </li>
    </ol>
</div>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">What you’ll need to send your claim</h1>

        <p>You’ll need to send a claim for each type of support you get. For example,
          if you use a British Sign Language interpreter and have a driver, you’ll need to send 2 claims.</p>

        <h3 class="govuk-body">You’ll need to tell us:</h3>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>the dates you had support
            </li>
            <li>how many hours of support you had on each date
            </li>
            <li>the name and email address of a workplace contact who we can ask to confirm the support you’re claiming for </li>
            <li>the details of the person or company who needs paying, including bank details if we’ve not paid them before</li>
        </ul>

        <p>This can include anyone who paid for your support worker, such as yourself, a family or friend, your employer or the company that provided your support worker.</p>

        <p>You’ll need to send us an invoice or receipt for any support worker costs you’re claiming for.</p>

        <h2 class="govuk-heading-m">If you are self-employed or work at the same organisation as the person providing the support</h2>

        <p>You’ll need to send us a digital copy of a signed timesheet or payslip for the person who provided your support.</p>



        <form action="before-you-continue-answer" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Start a claim
            </button>

        </form>

    </div>
</div>


{% endblock %}
