{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You can only use this grant to help cover costs for specialist equipment or travel to or from work</h1>
        <p class="govuk-body">
          Contact the Access to Work team if you think we’ve got something wrong, or you think you need extra support from your Access to Work grant.
        </p>



        <p>You can contact us for free by: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li> Telephone: 0800 121 7479</li>
            <li> Textphone: 0800 121 7579</li>
            <li> <a class="govuk-link" href="https://www.relayuk.bt.com/">Relay UK</a>, if you cannot hear or speak on the phone: 18001 then 0800 121 7479 </li>
            <li> <a class="govuk-link" href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP/">Video Relay Service</a> for British Sign Language – <a class="govuk-link" href="https://www.dalanguages.co.uk/dwp-bsl/">find out how to use the service</a> </li>
        </ul>

    </div>
</div>

<form action="../portal" method="post" class="form">

  <button type="submit" class="govuk-button" data-module="govuk-button">
      Return to account home
  </button>

</form>

{% endblock %}
