{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-xl">Before you continue</span>
        <h1 class="govuk-heading-xl">What you need to submit a claim online</h1>

        <p class="govuk-body">You must make your claim within 9 months of the purchase date of your equipment or adaptation. You can claim for multiple pieces of equipment or adaptations.</p>


        <h1 class="govuk-heading-m">You will need:</h1>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>to tell us the date your equipment or adaptation was purchased, you can find this on the receipt or invoice</li>
            <li>to tell us the bank details of who needs to be paid back</li>
            <li>a digital receipt or invoice for all the equipment and adaptations</li>
        </ul>

        <p class="govuk-body">If you have paper copy or your receipt or invoice you cannot upload, you will need to submit your claim with the paper form by post. Your paper form will have been sent to you.</p>


        <form action="#" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Start now
            </button>

        </form>

    </div>
</div>


{% endblock %}
