{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-l">Before you continue</span>
        <h1 class="govuk-heading-l">What you need to submit a claim online</h1>

        <p class="govuk-body">You must claim for equipment and adaptations within 9 months of the purchase date. You can claim for multiple pieces of equipment or adaptations.</p>


        <h1 class="govuk-heading-m">You'll need to:</h1>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>tell us the date you purchased your equipment or adaptation – you can find this on the receipt or invoice </li>
            <li>tell us the bank details of the company or person who needs to be paid back </li>
            <li>send us an invoice or receipt for the equipment and adaptation you’re claiming for</li>
        </ul>

        <p class="govuk-body">You’ll need a digital copy of your receipts or invoices to submit a claim online. You should scan or take a photo of any paper receipts or invoices ready to upload them if you have any.</p>


        <form action="#" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
