{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, you can only claim for equipment and adaptations</h1>
        <p class="govuk-body">
            Our records show you have only been awarded a grant for equipment and adaptation costs. Call the Access to Work team on <b>0800 121 7479</b> if you think we’ve got something wrong, or you think you need additional support from your Access to Work grant.
        </p>
        
    </div>
</div>

<form action="../portal" method="post" class="form">

  <button type="submit" class="govuk-button" data-module="govuk-button">
      Account home
  </button>

</form>

{% endblock %}
