{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, you can only claim for equipment and adaptations</h1>
        <p class="govuk-body">
            Our records show that you have been awarded a grant for equipment to aid you in your job or an adaptation to your workplace.
        </p>
        <p class="govuk-body">If you think this is wrong, you can <a target="_blank" class="govuk-link" href="#">contact Access to Work (opens in a new tab)</a> to speak to an Access to Work adviser.
        </p>
    </div>
</div>

<form action="../portal" method="post" class="form">

  <button type="submit" class="govuk-button" data-module="govuk-button">
      Return to portal
  </button>

</form>

{% endblock %}
