{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">The total amount you’ll be paid for the equipment or adaptations you’re claiming for will be slightly less than the total cost of the of the equipment and adaptations</h1>

      <p class="govuk-body">This amount is slightly less than the total cost of the equipment or adaptions because we will deducted the amount you or your employer agreed to pay.
      </p>

  

        {% if data ["contact-confirmed"] %}
          <form action="check-your-answers" method="post" class="form">
        {% else %}
        <form action="providing-evidence" method="post" class="form">
          {% endif %}
            <input type="hidden" value="Yes" id="employer-contributing" name="employer-contributing">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
