{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set equipmentLength %}
{{ data.equipment | length }}
{% endset %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="cost-answer" method="post" class="form">

            {{ govukInput({
                id: "equipment-cost",
                name: "equipment-cost",
                hint: {
                    text: "Include any delivery, training or installation costs your grant covers."
                },
                label: {
                    text: "How much did your specialist equipment cost in total, in pounds?",
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                prefix: {
                    text: "£"
                },
                classes: "govuk-input--width-5",
                spellcheck: false
                }) }}

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
