{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set equipmentLength %}
{{ data.equipment | length }}
{% endset %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="#">

        <div class="govuk-form-group">



            {% if equipmentLength|int === 1 %}
            <h1 class="govuk-heading-l">You’ve told us you want to claim for {{equipmentLength}} piece of equipment or adaptation</h1>
            {% else %}
            <h1 class="govuk-heading-l">You’ve told us you want to claim for {{equipmentLength}} pieces of equipment or adaptations</h1>
            {% endif %}


            {% for item in data['equipment'] | sortByDate('') %}
            <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{item.day}} {{item.month| numberMonth}} {{item.year}}
              </dt>
              <dd class="govuk-summary-list__value">
                {{item.equipment_name}}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="description">
                  Change<span class="govuk-visually-hidden">Change {{item.day}} {{item.month| numberMonth}} {{item.year}}</span>
                </a>
              </dd>
            </div>
            </dl>



                {% else %}
                <div class="govuk-inset-text">
                  Tell us about the support you received to continue.
                </div>
                {% endfor %}


        </div>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
