{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="special-aids-and-equipment.html">Equipment and adaptations</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="grant-Information.html">Information about your grant</a>
        </li>
    </ol>
</div>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="before-you-continue" method="post" class="form">

        <h1 class="govuk-heading-l">About your equipment or adaptations grant</h1>

        <p>Before you start your claim, this is everything you need to know about your equipment or adaptations grant.</p>

                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Agreed support and cost
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £2089.98 - Hearing aid <br>
                      £102.00 - Keyboard <br>
                      £474.00 - Magnifier and speech software <br>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Total cost of support
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £2665.98
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Total amount you or your employer have agreed to contribute
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £266.59
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Total amount Access to Work will contribute
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £2399.39
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Amount of grant left
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £2089.98
                    </dd>
                  </div>
                </dl>

                <p>You must claim for equipment and adaptations within 9 months of the purchase date. </p>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>




{% endblock %}
