{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="aids-and-equipment-answer" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="equipment-and-adaptation-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Are you claiming for equipment and adaptations?
                        </h1>
                    </legend>

                    <div id="equipment-and-adaptation-hint" class="govuk-body">
                      This could be things like screen reading software, or an adaptation to your workplace like automatic doors.
                    </div>


                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="aids-and-equipment-yes" name="aids-and-equipment"
                                   type="radio"
                                   value="Yes">
                            <label class="govuk-label govuk-radios__label" for="aids-and-equipment-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="aids-and-equipment-no" name="aids-and-equipment"
                                   type="radio"
                                   value="No">
                            <label class="govuk-label govuk-radios__label" for="aids-and-equipment-no">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
