{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-xl">Before you continue</span>
        <h1 class="govuk-heading-xl">What you’ll need to submit a claim</h1>

        <p>You’ll need to submit a claim for each type of support you get. For example,
          if you use a British Sign Language interpreter and have a driver, you’ll need to submit 2 claims.</p>

        <h1 class="govuk-body">For each claim, you’ll need to know:</h1>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>the date(s) you had support
            </li>
            <li>how many hours of support you had on each date
            </li>
            <li>the details of the person who needs to be paid back – you’ll also need to give us their bank details if we’ve not paid this person before</li>
            <li>the name and email address of a workplace contact who we can contact to confirm the support costs you’re claiming for</li>
        </ul>

        <p>You’ll also need to send us an invoice or receipt for any support worker costs you’re claiming for. You’ll need a digital copy of your receipts or invoices to submit a claim online.
          You should scan or take a photo of any paper receipts or invoices ready to upload them if you have any.</p>

        <h2 class="govuk-heading-m">If you are self-employed or work at the same organisation as the person providing the support</h2>

        <p>You’ll need to send us a payslip or signed timesheet for the person who provided you support. This will need to be a digital copy.</p>



        <form action="#" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
