{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-xl">Before you continue</span>
        <h1 class="govuk-heading-xl">What you’ll need to submit a claim</h1>


        <h1 class="govuk-body">You’ll need to know:</h1>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>the date(s) that you travelled for work
            </li>
            <li>the personal and bank details of the person who needs to be paid back
            </li>
            <li>the name and email address of a workplace contact who we can contact to confirm each journey you’re claiming for</li>
        </ul>

        <h2 class="govuk-heading-m"> If you are self-employed or work at the same organisation as the person providing the support </h2>

        <h3 class="govuk-body">You will also need:</h3>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>a payslip or a signed timesheet for the person who provided you support, if you have a paper copy you’ll need to take a photo or scan them in
            </li>
        </ul>


        <p class="govuk-body">If you can’t digitally upload your receipt or invoice you’ll need to submit your claim
            with the paper form by post. Your paper form will have been sent to you.</p>


        <form action="#" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


{% endblock %}
