{% block content %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set hourTotal = 0 %}
{% for month in data['month-list'] %}
{% for day in month.support %}
{% if day.support_hours %}
{% set hourTotal = hourTotal | float + day.support_hours | float %}
{% endif %}
{% if day.repeatsupport_hours %}
{% set hourTotal = hourTotal | float + day.repeatsupport_hours | float %}
{% endif %}
{% endfor %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}


{% set repeatsupportLength %}
{{ data.repeatsupport | length }}
{% endset %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data['view-claim'] %}
        {% if print != true %}
        <h1 class="govuk-heading-xl govuk-!-display-none-print">Your claim </h1>
        <p>
            This is the information you gave us in your claim. If you need to make any changes please contact Access to
            Work
        </p>
        {% endif %}
        {% else %}
        {% if print != true %}
        <h1 class="govuk-heading-xl govuk-!-display-none-print">Check your answers</h1>
        {% endif %}
        {% endif %}


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Total monthly support</h2>
            </div>
            <div class="govuk-summary-card__content">

                <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                        {% for month_data in data['month-list'] %}

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                {{month_data.month | numberMonth}} {{month_data.year}}
                            </th>
                            <td class="govuk-summary-list__value">
                                {{month_data['totalhours']}}
                                {% if month_data['totalhours'] == 1 %} hour {% else %} hours {% endif %}
                                and
                                {{month_data['totalminutes']}}
                                {% if month_data['totalminutes'] == 1 %} minute {% else %} minutes {% endif %}
                            </td>
                            {% if print != true %}

                            <td class="govuk-summary-list__actions govuk-!-display-none-print">
                                {% if (data['view-claim']) %}
                                {% else %}
                                <a href="hours-for-day-summary">
                                    Change
                                    <span class="govuk-visually-hidden"> Hours of support received</span>
                                </a>
                                {% endif %}
                            </td>
                            {% endif %}

                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Total hours and costs</h2>
            </div>
            <div class="govuk-summary-card__content">

                <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Total support
                            </th>
                            <td class="govuk-summary-list__value">
                                {{data['hour-total']}} {% if data['hour-total'] == 1 %} hour {% else %} hours {% endif
                                %}
                                and {{data['minute-total']}}
                                {% if data.minute-total == 1 %} minute {% else %} minutes {% endif %}
                            </td>
                            {% if print != true %}

                            <td class="govuk-summary-list__actions govuk-!-display-none-print">
                                {% if (data['view-claim']) %}
                                {% else %}
                                <a href="hours-for-day-summary">
                                    Change
                                    <span class="govuk-visually-hidden"> Total claimed</span>
                                </a>
                                {% endif %}
                            </td>
                            {% endif %}

                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Total cost of support workers
                            </th>
                            <td class="govuk-summary-list__value">
                                £{{data['cost-of-support']}}
                            </td>
                            {% if print != true %}

                            <td class="govuk-summary-list__actions govuk-!-display-none-print">
                                {% if (data['view-claim']) %}
                                {% else %}
                                <a href="cost-of-support">
                                    Change
                                    <span class="govuk-visually-hidden"> total cost of support received</span>
                                </a>
                                {% endif %}
                            </td>
                            {% endif %}

                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                {% if data['uploads'].length == 1 %}
                                Receipt or invoice uploaded
                                {% else %}
                                Receipts or invoices uploaded
                                {% endif %}
                            </th>
                            <td class="govuk-summary-list__value">
                                {% for file in data['uploads'] %}

                                {{file['file']}}<br>
                                {% endfor %}
                            </td>
                            {% if print != true %}
                            {% if (data['view-claim']) %}
                            {% else %}
                            <td class="govuk-summary-list__actions govuk-!-display-none-print">
                                <a href="upload-summary">
                                    Change
                                    <span class="govuk-visually-hidden"> Supporting evidence</span>
                                </a>
                            </td>
                            {% endif %}
                            {% endif %}

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}

        {% elseif (data['existing-payee'] == "one") or (data['existing-payee'] == "two") or (data['existing-payee'] ==
        "three") %}


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Details of the person or company being paid</h2>
            </div>
            <div class="govuk-summary-card__content">

                <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Name
                            </th>
                            <td class="govuk-summary-list__value">
                                {% if (data['existing-payee'] == "one") %}
                                John Doe
                                {% elseif (data['existing-payee'] == "two") %}
                                Jane Green
                                {% elseif (data['existing-payee'] == "three") %}
                                Sanjid Kelly
                                {% elseif (data['existing-payee'] == "New") %}
                                New person or company being paid
                                {% endif %}
                            </td>
                            {% if print != true %}

                            <td class="govuk-summary-list__actions govuk-!-display-none-print">
                                {% if (data['view-claim']) %}
                                {% else %}
                                <a href="existing-payee-details">
                                    Change
                                    <span class="govuk-visually-hidden"> Payee name</span>
                                </a>
                                {% endif %}
                            </td>
                            {% endif %}

                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Email address
                            </th>
                            <td class="govuk-summary-list__value">
                                {% if (data['existing-payee'] == "one") %}
                                john.doe@deafactioncharity.com
                                {% elseif (data['existing-payee'] == "two") %}
                                jane.green@bsl-interpreters.com
                                {% elseif (data['existing-payee'] == "three") %}
                                sanjid.kelly@deafactioncharity.com

                                {% endif %}
                            </td>
                            {% if print != true %}

                            <td class="govuk-summary-list__actions govuk-!-display-none-print">
                                {% if (data['view-claim']) %}
                                {% else %}
                                <a href="existing-payee-details">
                                    Change
                                    <span class="govuk-visually-hidden"> Payee email</span>
                                </a>
                                {% endif %}
                            </td>
                            {% endif %}

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        {% elseif (data['existing-payee'] == "New") %}

        {% if print != true %}
        <h2 class="govuk-heading-m">Details of the person or company being paid</h2>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Details of the person or company being paid</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data["new-payee-full-name"]}}

                        </dd>
                        {% if print != true %}
                        {% if (data['view-claim']) %}
                        {% else %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="new-payee-name">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                        {% endif %}
                    </div>
                    {%if (data["payee-email"]) %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data["payee-email"]}}
                        </dd>
                        {% if print != true %}
                        {% if (data['view-claim']) %}
                        {% else %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="new-payee-address">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data ["new-payee-address-line-1"] %}
                            {{data["new-payee-address-line-1"]}}<br>
                            {% if data["new-payee-address-line-2"] %}{{data["new-payee-address-line-2"]}}<br>{% endif %}
                            {{data["new-payee-address-town"]}}<br>
                            {{data["new-payee-address-county"]}}<br>
                            {{data["new-payee-address-postcode"]}}
                            {% endif %}

                            {% if data["new-payee-address-select"] == "123" %}
                            123 Hudsen House<br>
                            Cresent Lane<br>
                            Leeds<br>
                            West Yorkshire<br>
                            {{data["new-payee-postcode"]}}

                            {% elif data["new-payee-address-select"] == "124" %}
                            124 Hudsen House<br>
                            Cresent Lane<br>
                            Leeds<br>
                            West Yorkshire<br>
                            {{data["new-payee-postcode"]}}

                            {% elif data["new-payee-address-select"] == "125" %}
                            125 Hudsen House<br>
                            Cresent Lane<br>
                            Leeds<br>
                            West Yorkshire<br>
                            {{data["new-payee-postcode"]}}

                            {% elif data["new-payee-address-select"] == "126" %}
                            126 Hudsen House<br>
                            Cresent Lane<br>
                            Leeds<br>
                            West Yorkshire<br>
                            {{data["new-payee-postcode"]}}

                            {% elif data["new-payee-address-select"] == "127" %}
                            127 Hudsen House<br>
                            Cresent Lane<br>
                            Leeds<br>
                            West Yorkshire<br>
                            {{data["new-payee-postcode"]}}

                            {% endif %}

                        </dd>
                        {% if print != true %}
                        {% if (data['view-claim']) %}
                        {% else %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="new-payee-address">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name on bank account
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data["name-on-the-account"]}}

                        </dd>
                        {% if print != true %}
                        {% if (data['view-claim']) %}
                        {% else %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="banking-details">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sort code
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data["sort-code"]}}
                        </dd>
                        {% if print != true %}
                        {% if (data['view-claim']) %}
                        {% else %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="banking-details">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                        {% endif %}
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Account number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data["account-number"]}}
                        </dd>
                        {% if print != true %}
                        {% if (data['view-claim']) %}
                        {% else %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="banking-details">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                        {% endif %}
                    </div>

                    {%if (data['roll-number']) %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Building society roll number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data["roll-number"]}}
                        </dd>
                        {% if print != true %}
                        {% if (data['view-claim']) %}
                        {% else %}
                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            <a href="banking-details">
                                Change
                                <span class="govuk-visually-hidden"> Bank or building society account details</span>
                            </a>
                        </dd>
                        {% endif %}
                        {% endif %}

                    </div>
                    {% endif %}
                </dl>
            </div>
        </div>
        <div class="govuk-inset-text">
            You can change these details to <a class="govuk-link" href="existing-payee-details">pay a person or company
                we've paid before</a>.
        </div>

        {% endif %}
        {% endif %}





        {% if print != true %}

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Details of the person or company who can confirm support costs
                </h2>
            </div>
            <div class="govuk-summary-card__content">

                <p>This is the person or company we’ll contact to confirm you received the support you're claiming for.
                </p>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data["counter-signatory-full-name"]}}

                        </dd>

                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            {% if (data['view-claim']) %}
                            {% else %}
                            <a href="counter-signatory-name">
                                Change
                                <span class="govuk-visually-hidden"> name of counter signatory</span>
                            </a>
                            {% endif %}
                        </dd>

                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{data["counter-signatory-email"]}}

                        </dd>

                        <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                            {% if (data['view-claim']) %}
                            {% else %}
                            <a href="counter-signatory-name">
                                Change
                                <span class="govuk-visually-hidden"> email of counter signatory</span>
                            </a>
                            {% endif %}
                        </dd>

                    </div>
                </dl>
            </div>
        </div>
        {% endif %}





        <!-- {% if print != true %}
        <p>You can also <a target="_blank"
                href="check-your-answers-print">save and print a copy of your answers (opens in a new tab)</a>.</p>
        {% endif %} -->

        {% if print != true %}
        {% if (data['view-claim']) %}

        <a href="/alpha/portal-screens/open-claims" class="govuk-button govuk-!-display-none-print"
            data-module="govuk-button">
            Return to your claims
        </a>

        {% else %}
        <form action="declaration" method="post" novalidate>

            <input type="hidden" name="answers-checked-sw" value="true">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}