{% block content %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set hourTotal = 0 %}
{% for month in data['month-list'] %}
{% for day in month.support %}
{% if day.support_hours %}
{% set hourTotal = hourTotal | float + day.support_hours | float %}
{% endif %}
{% if day.repeatsupport_hours %}
{% set hourTotal = hourTotal | float + day.repeatsupport_hours | float %}
{% endif %}
{% endfor %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}


{% set repeatsupportLength %}
{{ data.repeatsupport | length }}
{% endset %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        {% if data['sw-declaration'] %}
        {% if print != true %}
        <h1 class="govuk-heading-xl govuk-!-display-none-print">About your claim </h1>
        <p>This is the information you gave us in your claim. You should make any changes and then send us your claim
            again.</p>
        {% endif %}
        {% else %}
        {% if print != true %}
        <h1 class="govuk-heading-xl govuk-!-display-none-print">Check your answers</h1>
        {% endif %}
        {% endif %}

        <form action="check-your-answers" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="support-for-workplace-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Check your answers version
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="testtest_0" name="testtest"
                                   type="radio"
                                   value="0">
                            <label class="govuk-label govuk-radios__label" for="testtest_0">
                                0
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="testtest_1" name="testtest"
                                   type="radio"
                                   value="1">
                            <label class="govuk-label govuk-radios__label" for="testtest_1">
                                1
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="testtest_2" name="testtest"
                                   type="radio"
                                   value="2">
                            <label class="govuk-label govuk-radios__label" for="testtest_2">
                                2
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="testtest_3" name="testtest"
                                   type="radio"
                                   value="3">
                            <label class="govuk-label govuk-radios__label" for="testtest_3">
                                3
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>




        {% if data.testtest == 1 %}


        {% for month_data in data['month-list'] %}

        <h3 class="govuk-heading-m">
            Support received for {{month_data.month | numberMonth}} {{month_data.year}}
        </h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            {% for item in month_data.support | sortBy('day') %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{item.day}} {{month_data.month | numberMonth}} {{month_data.year}}
                </dt>
                <dd class="govuk-summary-list__value">

                    {% if item.support_hours %}
                    {{item.support_hours}} {% if item.support_hours == 1 %} hour {% else %} hours {% endif %}
                    {% elif item.repeatsupport_hours %}
                    {{item.repeatsupport_hours}} {% if item.repeatsupport_hours == 1 %} hour {% else %} hours {% endif
                    %}
                    {% endif %}

                    from
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    {% else %}
                    {{item.providor}}
                    {% endif %} <br>

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">

                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% else %}
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>
            {% endfor %}
        </dl>

        {% endfor %}

        <h3 class="govuk-heading-m">
            Total hours and costs
        </h3>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total support
                </dt>
                <dd class="govuk-summary-list__value">
                    {{hourTotal}} {% if hourTotal == 1 %} hour {% else %} hours {% endif %} <br>

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% else %}
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total claimed</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total cost of support workers
                </dt>
                <dd class="govuk-summary-list__value">
                    £{{data['cost-of-support']}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/cost-of-support">
                        Change
                        <span class="govuk-visually-hidden"> total cost of support received</span>
                    </a>
                    {% else %}
                    <a href="cost-of-support">
                        Change
                        <span class="govuk-visually-hidden"> total cost of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {% if data['uploads'].length == 1 %}
                    Receipt or invoice uploaded
                    {% else %}
                    Receipts or invoices uploaded
                    {% endif %}
                </dt>

                <dd class="govuk-summary-list__value">
                    {% for file in data['uploads'] %}

                    {{file['file']}}<br>
                    {% endfor %}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Supporting evidence</span>
                    </a>
                </dd>
                {% endif %}
            </div>

        </dl>


        {% elseif data.testtest == 2 %}

        <h2 class="govuk-heading-m">Claim information (New 2)</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">

        {% for month_data in data['month-list'] %}


            {% for item in month_data.support | sortBy('day') %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{item.day}} {{month_data.month | numberMonth}} {{month_data.year}}
                </dt>
                <dd class="govuk-summary-list__value">

                    {% if item.support_hours %}
                    {{item.support_hours}} {% if item.support_hours == 1 %} hour {% else %} hours {% endif %}
                    {% elif item.repeatsupport_hours %}
                    {{item.repeatsupport_hours}} {% if item.repeatsupport_hours == 1 %} hour {% else %} hours {% endif
                    %}
                    {% endif %}

                    from
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    {% else %}
                    {{item.providor}}
                    {% endif %} <br>

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">

                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% else %}
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>
            {% endfor %}

        {% endfor %}
    </dl>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total support
                </dt>
                <dd class="govuk-summary-list__value">
                    {{hourTotal}} {% if hourTotal == 1 %} hour {% else %} hours {% endif %} <br>

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% else %}
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total claimed</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total cost of support workers
                </dt>
                <dd class="govuk-summary-list__value">
                    £{{data['cost-of-support']}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/cost-of-support">
                        Change
                        <span class="govuk-visually-hidden"> total cost of support received</span>
                    </a>
                    {% else %}
                    <a href="cost-of-support">
                        Change
                        <span class="govuk-visually-hidden"> total cost of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {% if data['uploads'].length == 1 %}
                    Receipt or invoice uploaded
                    {% else %}
                    Receipts or invoices uploaded
                    {% endif %}
                </dt>

                <dd class="govuk-summary-list__value">
                    {% for file in data['uploads'] %}

                    {{file['file']}}<br>
                    {% endfor %}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Supporting evidence</span>
                    </a>
                </dd>
                {% endif %}
            </div>

        </dl>


        
        {% elseif data.testtest == 3 %}

        <h2 class="govuk-heading-m">Claim information (New 3)</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


            {% for month_data in data['month-list'] %}



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {{month_data.month | numberMonth}} {{month_data.year}}
                </dt>
                <dd class="govuk-summary-list__value">
                    {% set month_hours = 0 | int %}
                    {% for item in month_data.support | sortBy('day') %}
                    {% if item.support_hours %}
                    {% set month_hours = month_hours + item.support_hours | int  %}
                    {% elif item.repeatsupport_hours %}
                    {% set month_hours = month_hours + item.repeatsupport_hours | int  %}
                    {% endif %}
                    {% endfor %}   
                    {{month_hours}} {% if month_hours == 1 %} hour {% else %} hours {% endif %}        
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/claiming-for-month-repeat">
                        Change
                        <span class="govuk-visually-hidden"> month of support received</span>
                    </a>
                    {% else %}
                    <a href="claiming-for-month-repeat">
                        Change
                        <span class="govuk-visually-hidden"> month of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            {% endfor %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total support
                </dt>
                <dd class="govuk-summary-list__value">
                    {{hourTotal}} {% if hourTotal == 1 %} hour {% else %} hours {% endif %} <br>

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% else %}
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total claimed</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total cost of support workers
                </dt>
                <dd class="govuk-summary-list__value">
                    £{{data['cost-of-support']}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/cost-of-support">
                        Change
                        <span class="govuk-visually-hidden"> total cost of support received</span>
                    </a>
                    {% else %}
                    <a href="cost-of-support">
                        Change
                        <span class="govuk-visually-hidden"> total cost of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {% if data['uploads'].length == 1 %}
                    Receipt or invoice uploaded
                    {% else %}
                    Receipts or invoices uploaded
                    {% endif %}
                </dt>

                <dd class="govuk-summary-list__value">
                    {% for file in data['uploads'] %}

                    {{file['file']}}<br>
                    {% endfor %}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Supporting evidence</span>
                    </a>
                </dd>
                {% endif %}
            </div>

        </dl>

        {% else %}

        <h2 class="govuk-heading-m">Claim information (Old)</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


            {% for month_data in data['month-list'] %}



            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Month support was received
                </dt>
                <dd class="govuk-summary-list__value">
                    {{month_data.month | numberMonth}} {{month_data.year}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/claiming-for-month-repeat">
                        Change
                        <span class="govuk-visually-hidden"> month of support received</span>
                    </a>
                    {% else %}
                    <a href="claiming-for-month-repeat">
                        Change
                        <span class="govuk-visually-hidden"> month of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">

                    Days of support in {{month_data.month | numberMonth}} and name of support worker or agency
                </dt>
                <dd class="govuk-summary-list__value">

                    {% for item in month_data.support | sortBy('day') %}
                    {{item.day}} {{month_data.month | numberMonth}} {{month_data.year}} <br>
                    {% if item.support_hours %}
                    {{item.support_hours}} {% if item.support_hours == 1 %} hour {% else %} hours {% endif %}
                    {% elif item.repeatsupport_hours %}
                    {{item.repeatsupport_hours}} {% if item.repeatsupport_hours == 1 %} hour {% else %} hours {% endif
                    %}
                    {% endif %}


                    <br>
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    {% else %}
                    {{item.providor}}
                    {% endif %} <br>
                    {% endfor %}



                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">

                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% else %}
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            {% endfor %}

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total support
                </dt>
                <dd class="govuk-summary-list__value">
                    {{hourTotal}} {% if hourTotal == 1 %} hour {% else %} hours {% endif %} <br>

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                    {% else %}
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total claimed</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total cost of support workers
                </dt>
                <dd class="govuk-summary-list__value">
                    £{{data['cost-of-support']}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/cost-of-support">
                        Change
                        <span class="govuk-visually-hidden"> total cost of support received</span>
                    </a>
                    {% else %}
                    <a href="cost-of-support">
                        Change
                        <span class="govuk-visually-hidden"> total cost of support received</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    {% if data['uploads'].length == 1 %}
                    Receipt or invoice uploaded
                    {% else %}
                    Receipts or invoices uploaded
                    {% endif %}
                </dt>

                <dd class="govuk-summary-list__value">
                    {% for file in data['uploads'] %}

                    {{file['file']}}<br>
                    {% endfor %}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Supporting evidence</span>
                    </a>
                </dd>
                {% endif %}
            </div>

        </dl>

        {% endif %}





        {% if print != true %}
        {%if (data['cost-of-support']=="100") %}
        <div class="govuk-inset-text">
            The amount we’ll pay back will be less than the total cost you’re claiming for. This is because we’ll deduct
            the amounts you or your employer have agreed to pay.
        </div>
        {% endif %}
        {% endif %}


        {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}

        {% elseif (data['existing-payee'] == "one") or (data['existing-payee'] == "two") or (data['existing-payee'] ==
        "three") %}

        <h2 class="govuk-heading-m">Details of the person or company being paid</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if (data['existing-payee'] == "one") %}
                    John Doe
                    {% elseif (data['existing-payee'] == "two") %}
                    Jane Green
                    {% elseif (data['existing-payee'] == "three") %}
                    Sanjid Kelly
                    {% elseif (data['existing-payee'] == "New") %}
                    New person or company being paid
                    {% endif %}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/existing-payee-details">
                        Change
                        <span class="govuk-visually-hidden"> Payee name</span>
                    </a>
                    {% else %}
                    <a href="existing-payee-details">
                        Change
                        <span class="govuk-visually-hidden"> Payee name</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if (data['existing-payee'] == "one") %}
                    john.doe@deafactioncharity.com
                    {% elseif (data['existing-payee'] == "two") %}
                    jane.green@bsl-interpreters.com
                    {% elseif (data['existing-payee'] == "three") %}
                    jane.green@bsl-interpreters.com

                    {% endif %}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/existing-payee-details">
                        Change
                        <span class="govuk-visually-hidden"> Payee email</span>
                    </a>
                    {% else %}
                    <a href="existing-payee-details">
                        Change
                        <span class="govuk-visually-hidden"> Payee email</span>
                    </a>
                    {% endif %}
                </dd>
                {% endif %}
            </div>

        </dl>


        {% elseif (data['existing-payee'] == "New") %}

        {% if print != true %}
        <h2 class="govuk-heading-m">Details of the person or company being paid</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["new-payee-full-name"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="new-payee-name">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            {%if (data["payee-email"]) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["payee-email"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="new-payee-address">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data ["new-payee-address-line-1"] %}
                    {{data["new-payee-address-line-1"]}}<br>
                    {% if data["new-payee-address-line-2"] %}{{data["new-payee-address-line-2"]}}<br>{% endif %}
                    {{data["new-payee-address-town"]}}<br>
                    {{data["new-payee-address-county"]}}<br>
                    {{data["new-payee-address-postcode"]}}
                    {% endif %}

                    {% if data["new-payee-address-select"] == "123" %}
                    123 Hudsen House<br>
                    Cresent Lane<br>
                    Leeds<br>
                    West Yorkshire<br>
                    {{data["new-payee-postcode"]}}

                    {% elif data["new-payee-address-select"] == "124" %}
                    124 Hudsen House<br>
                    Cresent Lane<br>
                    Leeds<br>
                    West Yorkshire<br>
                    {{data["new-payee-postcode"]}}

                    {% elif data["new-payee-address-select"] == "125" %}
                    125 Hudsen House<br>
                    Cresent Lane<br>
                    Leeds<br>
                    West Yorkshire<br>
                    {{data["new-payee-postcode"]}}

                    {% elif data["new-payee-address-select"] == "126" %}
                    126 Hudsen House<br>
                    Cresent Lane<br>
                    Leeds<br>
                    West Yorkshire<br>
                    {{data["new-payee-postcode"]}}

                    {% elif data["new-payee-address-select"] == "127" %}
                    127 Hudsen House<br>
                    Cresent Lane<br>
                    Leeds<br>
                    West Yorkshire<br>
                    {{data["new-payee-postcode"]}}

                    {% endif %}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="new-payee-address">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name on bank account
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["name-on-the-account"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sort code
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["sort-code"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Account number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["account-number"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            {%if (data['roll-number']) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Building society roll number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["roll-number"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            {% endif %}
        </dl>

        <div class="govuk-inset-text">
            You can change these details to <a class="govuk-link" href="existing-payee-details">pay a person or company
                we've paid before</a>.
        </div>

        {% endif %}
        {% endif %}





        {% if print != true %}
        <h2 class="govuk-heading-m">Details of the person or company who can confirm support costs</h2>

        <p>This is the person or company we’ll contact to confirm you received the support you're claiming for.</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["counter-signatory-full-name"]}}

                </dd>

                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> name of counter signatory</span>
                    </a>
                    {% else %}
                    <a href="counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> name of counter signatory</span>
                    </a>
                    {% endif %}
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["counter-signatory-email"]}}

                </dd>

                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}
                    <a href="../support-worker/counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> name of counter signatory</span>
                    </a>
                    {% else %}
                    <a href="counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> email of counter signatory</span>
                    </a>
                    {% endif %}
                </dd>

            </div>
        </dl>
        {% endif %}

        <!-- {% if print != true %}
        <p>You can also <a target="_blank"
                href="check-your-answers-print">save and print a copy of your answers (opens in a new tab)</a>.</p>
        {% endif %} -->

        {% if print != true %}
        {%if (data['journey-type'] == "traveltowork-ammendment") or (data['sw-declaration']) %}

        <form action="citizen-new-declaration" method="post" novalidate>

            <input type="hidden" name="answers-checked-sw" value="true">

            <button type="submit" class="govuk-button govuk-!-display-none-print" data-module="govuk-button">
                Continue
            </button>

        </form>

        {% else %}
        <form action="declaration" method="post" novalidate>

            <input type="hidden" name="answers-checked-sw" value="true">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}