


{% block content %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set hourTotal = 0 %}
{% for day in data.support %}
{% set hourTotal = hourTotal | float + day.support_hours | float %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if print != true %}
        <h1 class="govuk-heading-xl">Check your answers</h1>
        {% endif %}
        <h2 class="govuk-heading-m">Claim information</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Hours of support received
                </dt>
                <dd class="govuk-summary-list__value">
                  {% for item in data['support'] | sortBy('day') %}
                  {{item.day}} {{item.month| numberMonth}} {{item.year}} - </br>{{item.support_hours}} Hours
                   {% if item.providor %}</br> {{item.providor}} {% endif %}</br></br>
                   {% endfor %}


                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Hours of support received</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total support received
                </dt>
                <dd class="govuk-summary-list__value">
                    {{hourTotal}} hours <br>
                    {{supportLength}} {% if supportLength === 1 %} day {% else %} days {% endif %}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="hours-for-day-summary">
                        Change
                        <span class="govuk-visually-hidden"> Total claimed</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Total cost of the support
                </dt>
                <dd class="govuk-summary-list__value">
                    £{{data['cost-of-support']}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="cost-sharing">
                        Change
                        <span class="govuk-visually-hidden"> Are you sharing the cost of your equipment or adaptation?</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            {%if (data['employer-contributing']=="Yes") %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Employer contribution
                </dt>
                <dd class="govuk-summary-list__value">
                    £20
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="employer-contribution.html">
                        Change
                        <span class="govuk-visually-hidden"> Employer contribution</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total amount paid back
                </dt>
                <dd class="govuk-summary-list__value">
                    £80
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="employer-contribution.html">
                        Change
                        <span class="govuk-visually-hidden"> Total amount paid back by Access to Work</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Copy of evidence
                </dt>

                <dd class="govuk-summary-list__value">
                    {% for file in data['uploads'] %}

                     {{file['file']}} </br>
                    {% endfor %}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Supporting evidence</span>
                    </a>
                </dd>
                {% endif %}
            </div>
        </dl>

        {% if print != true %}
        <h2 class="govuk-heading-m">New payee details</h2>
        <p>New details of the person or company who needs to be paid back.</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  New payee name
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["new-payee-full-name"]}}

              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-name">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>
          {%if (data["payee-email"]) %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  New payee email address
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["payee-email"]}}
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-address">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  New payee address
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["new-payee-address-line-1"]}}<br>
                  {% if data["new-payee-address-line-2"] %}{{data["new-payee-address-line-2"]}}<br>{% endif %}
                  {{data["new-payee-address-town"]}}<br>
                  {{data["new-payee-address-county"]}}<br>
                  {{data["new-payee-address-postcode"]}}
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-address">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name on the account
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["name-on-the-account"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sort code
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["sort-code"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
              {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Account Number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["account-number"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            {%if (data['roll-number']) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Building society roll number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["roll-number"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            {% endif %}
        </dl>
        {% endif %}





        {% if data["citizens-urn"] %}
        {% else %}
        <h2 class="govuk-heading-m">Counter signatory details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["counter-signatory-full-name"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> name of counter signatory</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["counter-signatory-email"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="counter-signatory-name">
                        Change
                        <span class="govuk-visually-hidden"> email of counter signatory</span>
                    </a>
                </dd>
                {% endif %}
            </div>
        </dl>
        {% endif %}

        {% if print != true %}
        <form action="declaration" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
