{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
classes: "govuk-!-display-none-print",
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to
improve it.'
}) }}
{% set print = true %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Claim submitted</h1>
            <div class="govuk-panel__body">
                The claim reference number is<br><strong>SW125421</strong>
            </div>
        </div>

        <p>We've sent the claim reference number to the person or company who can confirm your support costs.</p>



        <h2 class="govuk-heading-m">What happens next</h2>

        <p>We'll let you know when the person or company confirms your claim and sends the claim to us. If we approve
            the claim, we'll pay the money into the bank account you chose.</p>

        <p>If the person or company does not confirm your claim or we do not approve it, we’ll let you know what to do
            next.</p>

        <p><a href="../portal">Return to account home.</a></p>
    </div>
</div>

<p><a href="/alpha/feedback-page">What did you
        think of this service?</a></p>

{% endblock %}