{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="cost-of-support-answer" method="post" class="form">

            {% from "govuk/components/input/macro.njk" import govukInput %}
            {{ govukInput({
            label: {
            text: "How much did your support cost in total, in pounds?",
            classes: "govuk-label--l",
            isPageHeading: true
            },
            hint: {
            text: "Include any additional costs like food or accomodation your grant covers."
            },
            id: "cost-of-support",
            name: "cost-of-support"
            }) }}


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}