{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="cost-of-support-answer" method="post" class="form">


            {{ govukInput({
            id: "cost-of-support",
            name: "cost-of-support",
            hint: {
                text: "Include any related costs like travel or accomodation your grant covers."
            },
            label: {
                text: "How much did your support cost in total, in pounds?",
                classes: "govuk-label--l",
                isPageHeading: true
            },
            prefix: {
                text: "£"
            },
            classes: "govuk-input--width-5",
            spellcheck: false
            }) }}


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}