{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="counter-signatory-email" method="post" class="form">
            <div class="govuk-form-group">
                <label class="govuk-label" for="counter-signatory-full-name">

                </label>


                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l"
                                                       for="counter-signatory-full-name">
                    Tell us the name of who we need to contact to confirm you received support
                </label>
                </h1>
                <p class="govuk-body">If you’re employed by an organisation, tell us the name of who we can contact at your work. If you’re self-employed tell us the name of the agency or person who provided support to you.
                <input class="govuk-input" id="counter-signatory-full-name" name="counter-signatory-full-name" type="text" spellcheck="false" aria-describedby="fullname-hint"
                       autocomplete="name">
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
