{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set hourTotal = 0 %}
{% for day in data['support_hours'] %}
{% set hourTotal = hourTotal | float + item.support_hours | float %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}
{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        {% if data["support-worker-errors"]|length %}
        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: data["support-worker-errors"]
        }) }}
        {% endif %}


        <form id="form" method="post" action="#">

            {% set title = "Days you had support you had in "+data["repeatsupport-month"] | numberMonth + " " + data["repeatsupport-year"] %}

            {% set dataList = data['dataList'] %}

            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
            {{ govukCheckboxes({
            name: "repeatsupport",
            classes: "govuk-checkboxes--small",
            fieldset: {
            legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
            },
            hint: {
            text: "Select all that apply."
            },
            items: dataList
            
            }) }}



            <div class="moj-button-action">
                <button class="govuk-button" data-module="govuk-button" name="action" value="continue">
                    Continue
                </button>
            </div>
        </form>
    </div>
    {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}