{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set hourTotal = 0 %}
{% for day in data['support_hours'] %}
{% set hourTotal = hourTotal | float + item.support_hours | float %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}
{% block content %}

<script>
    function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }


    function testClick() {
        delay(10).then(() => {
            const foundDivs = document.getElementsByClassName("testclass")
            console.log(foundDivs)
            console.log(foundDivs.length)

            for (var i = 0; i < foundDivs.length; i++) {
                console.log(i)
                foundDivs[i].innerHTML = "Entry " + (i + 1);
            }

            const removeButtons = document.getElementsByClassName("moj-add-another__remove-button")
            console.log(removeButtons)

            for (var i = 0; i < removeButtons.length; i++) {
                console.log(i)
                removeButtons[i].addEventListener("click", testClickR);
            }

        });
    };
    function testClickR() {
        delay(10).then(() => {
            const foundDivs = document.getElementsByClassName("testclass")
            console.log(foundDivs)
            console.log(foundDivs.length)

            for (var i = 0; i < foundDivs.length; i++) {
                console.log(i)
                foundDivs[i].innerHTML = "Entry " + (i + 1);
            }
        });
    };

</script>

<style>
    .moj-add-another__remove-button {
        position: relative;
    }
</style>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        {% if data["support-worker-errors"]|length %}
        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: data["support-worker-errors"]
        }) }}
        {% endif %}


        <form id="form" method="post" action="#">

            {% set title = "Days you had support you had in "+data["support-month"] | numberMonth + " " + data["support-year"] %}

            {% set dataList = [
                {value: "1", text: "Sunday 1 January"},
                {value: "2", text: "Monday 2 January"},
                {value: "3", text: "Tuesday 3 January"},
                {value: "4", text: "Wednesday 4 January"},
                {value: "5", text: "Thursday 5 January"},
                {value: "6", text: "Friday 6 January"},
                {value: "7", text: "Saturday 7 January"},
                {value: "8", text: "Sunday 8 January"},
                {value: "9", text: "Monday 9 January"},
                {value: "10", text: "Tuesday 10 January"},
                {value: "11", text: "Wednesday 1 January"},
                {value: "12", text: "Thursday 12 January"},
                {value: "13", text: "Friday 13 January"},
                {value: "14", text: "Saturday 14 January"},
                {value: "15", text: "Sunday 15 January"},
                {value: "16", text: "Monday 16 January"},
                {value: "17", text: "Tuesday 17 January"},
                {value: "18", text: "Wednesday 18 January"},
                {value: "19", text: "Thursday 19 January"},
                {value: "20", text: "Friday 20 January"},
                {value: "21", text: "Saturday 21 January"},
                {value: "22", text: "Sunday 22 January"},
                {value: "23", text: "Monday 23 January"},
                {value: "24", text: "Tuesday 24 January"},
                {value: "25", text: "Wednesday 25 January"},
                {value: "26", text: "Thursday 26 January"},
                {value: "27", text: "Friday 27 January"},
                {value: "28", text: "Saturday 28 January"},
                {value: "29", text: "Sunday 29 January"},
                {value: "30", text: "Monday 30 January"},
                {value: "31", text: "Tuesday 31 January"}
                ] %}


            {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
            {{ govukCheckboxes({
            name: "support",
            classes: "govuk-checkboxes--small",
            fieldset: {
            legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
            },
            hint: {
            text: "Select all that apply."
            },
            items: dataList
            
            }) }}



            <div class="moj-button-action">
                <button class="govuk-button" data-module="govuk-button" name="action" value="continue">
                    Continue
                </button>
            </div>
        </form>
    </div>
    {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}