{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set repeatsupportLength %}
{{ data.repeatsupport | length }}
{% endset %}

{% set repeathourTotal = 0 %}
{% for day in data.repeatsupport %}
{% set repeathourTotal = repeathourTotal | float + day.repeatsupport_hours | float %}
{% else %}
{% set repeathourTotal = 0 | float %}
{% endfor %}
{% block content %}

<script>
    function delay(time) {
        return new Promise(resolve => setTimeout(resolve, time));
    }


    function testClick() {
        delay(10).then(() => {
            const foundDivs = document.getElementsByClassName("testclass")
            console.log(foundDivs)
            console.log(foundDivs.length)

            for (var i = 0; i < foundDivs.length; i++) {
                console.log(i)
                foundDivs[i].innerHTML = "Entry " + (i + 1);
            }

            const removeButtons = document.getElementsByClassName("moj-add-another__remove-button")
            console.log(removeButtons)

            for (var i = 0; i < removeButtons.length; i++) {
                console.log(i)
                removeButtons[i].addEventListener("click", testClickR);
            }
            
        });
    };
    function testClickR() {
        delay(10).then(() => {
            const foundDivs = document.getElementsByClassName("testclass")
            console.log(foundDivs)
            console.log(foundDivs.length)

            for (var i = 0; i < foundDivs.length; i++) {
                console.log(i)
                foundDivs[i].innerHTML = "Entry " + (i + 1);
            }
        });
    };

</script>

<style>
    .moj-add-another__remove-button {
    position: relative;
}
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data["support-worker-errors"]|length %}
        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: data["support-worker-errors"]
        }) }}
        {% endif %}

        <form id="form" method="post" action="#">

            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Which days in {{data["repeatsupport-month"] |
                numberMonth}} did you have support at work?</h1>


            <div data-module="moj-add-another">
                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">

                    <h2 class="govuk-heading-m testclass">Entry 1</h2>

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="repeatsupport[0][day]">
                            Day you had support in {{data["repeatsupport-month"] | numberMonth}}
                            {{data["repeatsupport-year"]}}

                        </label>

                        <div id="repeatsupport-day-hint" class="govuk-hint">
                            For example, 3
                        </div>

                        <div class="govuk-input__wrapper">
                            <input class="govuk-input govuk-input--width-2" value="{{data.repeatsupport[0].day}}"
                                id="repeatsupport[0][day]" name="repeatsupport[0][day]" type="text" pattern="[0-9]*"
                                inputmode="numeric" data-name="repeatsupport[%index%][day]"
                                data-id="repeatsupport[%index%][day]">
                            <div class="govuk-input__suffix">{{data["repeatsupport-month"] | numberMonth}}
                                {{data["repeatsupport-year"]}}</div>
                        </div>
                    </div> <!-- govuk-form-group -->


                    {% set outerFieldErrors = [] %}
                    {% for error in data["support-worker-errors"] %}
                    {% if ((error.href == "#repeatsupport[0][repeatsupport_hours]") or (error.href ==
                    "#repeatsupport[0][repeatsupport_minutes]") ) %}
                    {% set outerFieldErrors = (outerFieldErrors.push(error), outerFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% set hoursFieldErrors = [] %}
                    {% for error in outerFieldErrors %}
                    {% if (error.href == "#repeatsupport[0][repeatsupport_hours]") %}
                    {% set hoursFieldErrors = (hoursFieldErrors.push(error), hoursFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% set minutesFieldErrors = [] %}
                    {% for error in outerFieldErrors %}
                    {% if (error.href == "#repeatsupport[0][repeatsupport_minutes]") %}
                    {% set minutesFieldErrors = (minutesFieldErrors.push(error), minutesFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% if outerFieldErrors | length %}

                    <div class="govuk-form-group govuk-form-group--error">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="support-hours-hint">
                            <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                                for="repeatsupport[0][repeatsupport_hours]">
                                <h1 class="govuk-fieldset__heading">
                                    Total hours of support on this day
                                </h1>
                            </label>

                            <div id="support-hours-hint" class="govuk-hint">
                                For example. 8 hours and 27 minutes
                            </div>
                            {% for error in hoursFieldErrors %}
                            <p id="repeatsupport[0][repeatsupport_hours]-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{error.text}}
                            </p>
                            {% endfor %}
                            {% for error in minutesFieldErrors %}
                            <p id="repeatsupport[0][repeatsupport_minutes]-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{error.text}}
                            </p>
                            {% endfor %}
                            <div class="govuk-date-input" id="support-hours">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label" for="repeatsupport[0][repeatsupport_hours]">
                                            Hours
                                        </label>
                                        {% if hoursFieldErrors | length %}
                                        <input class="govuk-input govuk-input--error govuk-input__input govuk-input--width-2"
                                            value="{{data.repeatsupport[0].repeatsupport_hours}}" id="repeatsupport[0][repeatsupport_hours]"
                                            name="repeatsupport[0][repeatsupport_hours]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_hours]"
                                            data-id="repeatsupport[%index%][repeatsupport_hours]" inputmode="numeric">
                                        {% else %}
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{data.repeatsupport[0].repeatsupport_hours}}" id="repeatsupport[0][repeatsupport_hours]"
                                            name="repeatsupport[0][repeatsupport_hours]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_hours]"
                                            data-id="repeatsupport[%index%][repeatsupport_hours]" inputmode="numeric">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label" for="repeatsupport[0][repeatsupport_minutes]">
                                            Minutes
                                        </label>
                                        {% if minutesFieldErrors | length %}
                                        <input class="govuk-input govuk-input--error govuk-input__input govuk-input--width-2"
                                            value="{{data.repeatsupport[0].repeatsupport_minutes}}" id="repeatsupport[0][repeatsupport_minutes]"
                                            name="repeatsupport[0][repeatsupport_minutes]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_minutes]"
                                            data-id="repeatsupport[%index%][repeatsupport_minutes]" inputmode="numeric">
                                        {% else %}
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{data.repeatsupport[0].repeatsupport_minutes}}" id="repeatsupport[0][repeatsupport_minutes]"
                                            name="repeatsupport[0][repeatsupport_minutes]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_minutes]"
                                            data-id="repeatsupport[%index%][repeatsupport_minutes]" inputmode="numeric">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    {% else %}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="support-hours-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"
                                for="repeatsupport[0][repeatsupport_hours]">
                                <h1 class="govuk-fieldset__heading">
                                    Total hours of support on this day
                                </h1>
                            </legend>
                            <div id="support-hours-hint" class="govuk-hint">
                                For example. 8 hours and 27 minutes
                            </div>
                            <div class="govuk-date-input" id="support-hours">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label" for="repeatsupport[0][repeatsupport_hours]">
                                            Hours
                                        </label>
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{data.repeatsupport[0].repeatsupport_hours}}" id="repeatsupport[0][repeatsupport_hours]"
                                            name="repeatsupport[0][repeatsupport_hours]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_hours]"
                                            data-id="repeatsupport[%index%][repeatsupport_hours]" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label" for="repeatsupport[0][repeatsupport_minutes]">
                                            Minutes
                                        </label>
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{data.repeatsupport[0].repeatsupport_minutes}}" id="repeatsupport[0][repeatsupport_minutes]"
                                            name="repeatsupport[0][repeatsupport_minutes]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_minutes]"
                                            data-id="repeatsupport[%index%][repeatsupport_minutes]" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    {% endif %}


                    
                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="support[0][providor]">
                            Name of your support worker or agency
                        </label>


                        <input class="govuk-input" value="{{data.repeatsupport[0].providor}}"
                            id="repeatsupport[0][providor]" name="repeatsupport[0][providor]" type="text"
                            data-name="repeatsupport[%index%][providor]" data-id="repeatsupport[%index%][providor]">

                    </div>



                    {% if repeatsupportLength > 1 %}
                    <div class="moj-button-action">
                        <button class="govuk-button govuk-button--secondary moj-add-another__remove-button"
                            name="remove" value="0">
                            Remove
                        </button>
                    </div>
                    {% endif %}
                </fieldset>
                <!-- ENDS HERE -->
                {% if repeatsupportLength > 1 %}
                {% for item in data.repeatsupport %}
                {% if not loop.first %}
                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">

                    {% set loopIndex = loop.index0 %}

                    <h2 class="govuk-heading-m testclass">Entry {{loopIndex+1}}</h2>

                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"
                            for="repeatsupport[{{loopIndex}}][day]">
                            Day you had support in {{data["repeatsupport-month"] | numberMonth}}
                            {{data["repeatsupport-year"]}}
                        </legend>

                        <div id="repeatsupport-day-hint" class="govuk-hint">
                            For example, 3
                        </div>

                        <div class="govuk-input__wrapper">
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                id="repeatsupport[{{loopIndex}}][day]" name="repeatsupport[{{loopIndex}}][day]"
                                type="text" inputmode="numeric" data-name="repeatsupport[%index%][day]"
                                data-id="repeatsupport[%index%][day]" value="{{item.day}}">
                            <div class="govuk-input__suffix">{{data["repeatsupport-month"] | numberMonth}}
                                {{data["repeatsupport-year"]}}</div>
                        </div>
                    </div>

                    {% set outerFieldErrors = [] %}
                    {% for error in data["support-worker-errors"] %}
                    {% if ((error.href == "#repeatsupport["+loopIndex+"][repeatsupport_hours]") or (error.href ==
                    "#repeatsupport["+loopIndex+"][repeatsupport_minutes]") ) %}
                    {% set outerFieldErrors = (outerFieldErrors.push(error), outerFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% set hoursFieldErrors = [] %}
                    {% for error in outerFieldErrors %}
                    {% if (error.href == "#repeatsupport["+loopIndex+"][repeatsupport_hours]") %}
                    {% set hoursFieldErrors = (hoursFieldErrors.push(error), hoursFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% set minutesFieldErrors = [] %}
                    {% for error in outerFieldErrors %}
                    {% if (error.href == "#repeatsupport["+loopIndex+"][repeatsupport_minutes]") %}
                    {% set minutesFieldErrors = (minutesFieldErrors.push(error), minutesFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% if outerFieldErrors | length %}

                    <div class="govuk-form-group govuk-form-group--error">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="support-hours-hint">
                            <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                                for="repeatsupport[0][repeatsupport_hours]">
                                <h1 class="govuk-fieldset__heading">
                                    Total hours of support on this day
                                </h1>
                            </label>

                            <div id="support-hours-hint" class="govuk-hint">
                                For example. 8 hours and 27 minutes
                            </div>
                            {% for error in hoursFieldErrors %}
                            <p id="repeatsupport[0][repeatsupport_hours]-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{error.text}}
                            </p>
                            {% endfor %}
                            {% for error in minutesFieldErrors %}
                            <p id="repeatsupport[0][repeatsupport_minutes]-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{error.text}}
                            </p>
                            {% endfor %}
                            <div class="govuk-date-input" id="support-hours">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label" for="repeatsupport[{{loopIndex}}][repeatsupport_hours]">
                                            Hours
                                        </label>
                                        {% if hoursFieldErrors | length %}
                                        <input class="govuk-input govuk-input--error govuk-input__input govuk-input--width-2"
                                            value="{{item.repeatsupport_hours}}" id="repeatsupport[{{loopIndex}}][repeatsupport_hours]"
                                            name="repeatsupport[{{loopIndex}}][repeatsupport_hours]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_hours]"
                                            data-id="repeatsupport[%index%][repeatsupport_hours]" inputmode="numeric">
                                        {% else %}
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{item.repeatsupport_hours}}" id="repeatsupport[{{loopIndex}}][repeatsupport_hours]"
                                            name="repeatsupport[{{loopIndex}}][repeatsupport_hours]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_hours]"
                                            data-id="repeatsupport[%index%][repeatsupport_hours]" inputmode="numeric">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label" for="repeatsupport[{{loopIndex}}][repeatsupport_minutes]">
                                            Minutes
                                        </label>
                                        {% if minutesFieldErrors | length %}
                                        <input class="govuk-input govuk-input--error govuk-input__input govuk-input--width-2"
                                            value="{{item.repeatsupport_minutes}}" id="repeatsupport[{{loopIndex}}][repeatsupport_minutes]"
                                            name="repeatsupport[{{loopIndex}}][repeatsupport_minutes]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_minutes]"
                                            data-id="repeatsupport[%index%][repeatsupport_minutes]" inputmode="numeric">
                                        {% else %}
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{item.repeatsupport_minutes}}" id="repeatsupport[{{loopIndex}}][repeatsupport_minutes]"
                                            name="repeatsupport[{{loopIndex}}][repeatsupport_minutes]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_minutes]"
                                            data-id="repeatsupport[%index%][repeatsupport_minutes]" inputmode="numeric">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    {% else %}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="support-hours-hint">
                            <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                                for="repeatsupport[{{loopIndex}}][repeatsupport_hours]">
                                <h1 class="govuk-fieldset__heading">
                                    Total hours of support on this day
                                </h1>
                            </label>
                            <div id="support-hours-hint" class="govuk-hint">
                                For example. 8 hours and 27 minutes
                            </div>
                            <div class="govuk-date-input" id="support-hours">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label" for="repeatsupport[{{loopIndex}}][repeatsupport_hours]">
                                            Hours
                                        </label>
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{item.repeatsupport_hours}}" id="repeatsupport[{{loopIndex}}][repeatsupport_hours]"
                                            name="repeatsupport[{{loopIndex}}][repeatsupport_hours]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_hours]"
                                            data-id="repeatsupport[%index%][repeatsupport_hours]" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label" for="repeatsupport[{{loopIndex}}][repeatsupport_minutes]">
                                            Minutes
                                        </label>
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{item.repeatsupport_minutes}}" id="repeatsupport[{{loopIndex}}][repeatsupport_minutes]"
                                            name="repeatsupport[{{loopIndex}}][repeatsupport_minutes]" type="text"
                                            data-name="repeatsupport[%index%][repeatsupport_minutes]"
                                            data-id="repeatsupport[%index%][repeatsupport_minutes]" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    {% endif %}

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                            for="repeatsupport[{{loopIndex}}][providor]">
                            Name of your support worker or agency
                        </label>


                        <input class="govuk-input" id="repeatsupport[{{loopIndex}}][providor]"
                            name="repeatsupport[{{loopIndex}}][providor]" type="text" value="{{item.providor}}"
                            data-name="repeatsupport[%index%][providor]" data-id="repeatsupport[%index%][providor]">

                    </div> <!-- govuk-form-group -->

                    <button class="govuk-button govuk-button--secondary moj-add-another__remove-button" name="remove"
                        value="{{loopIndex}}">
                        Remove
                    </button>

                </fieldset>
                <!-- ENDS HERE -->
                {% endif %}
                {% endfor %}
                {% endif %}


                <div class="moj-button-action">
                    <button
                        class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"
                        data-module="govuk-button" name="action" value="add">
                        Add another day of support
                    </button>
                </div>

                <div class="moj-button-action">
                    <button class="govuk-button" data-module="govuk-button" name="action" value="continue">
                        Continue
                    </button>
                </div>
            </div> <!-- data module -->
        </form>
    </div>
    {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}