{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set minuteTotal = 0 %}
{% for month in data['month-list'] %}
{% for day in month.support %}
{% if day.support_minutes %}
{% set minuteTotal = minuteTotal | float + day.support_minutes | float %}
{% endif %}
{% if day.repeatsupport_minutes %}
{% set minuteTotal = minuteTotal | float + day.repeatsupport_minutes | float %}
{% endif %}
{% endfor %}
{% else %}
{% set minuteTotal = 0 | float %}
{% endfor %}

{% set hourTotal = 0 %}
{% for month in data['month-list'] %}
{% for day in month.support %}
{% if day.support_hours %}
{% set hourTotal = hourTotal | float + day.support_hours | float %}
{% endif %}
{% if day.repeatsupport_hours %}
{% set hourTotal = hourTotal | float + day.repeatsupport_hours | float %}
{% endif %}
{% endfor %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}

{% set repeatsupportLength %}
{{ data.repeatsupport | length }}
{% endset %}


{% block content %}

<style>
  .govuk-summary-card {
    margin-bottom: 20px;
    border:1px solid #b1b4b6
}

@media (min-width: 40.0625em) {
    .govuk-summary-card {
        margin-bottom:30px
    }
}

.govuk-summary-card__title-wrapper {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color:#f3f2f1
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__title-wrapper {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        padding:15px 20px
    }
}

.govuk-summary-card__title {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin:5px 20px 10px 0
}

@media print {
    .govuk-summary-card__title {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__title {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height:1.3157894737
    }
}

@media print {
    .govuk-summary-card__title {
        font-size: 14pt;
        line-height:1.15
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__title {
        margin-bottom:5px
    }
}

.govuk-summary-card__actions {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 10px;
    margin: 5px 0;
    padding: 0;
    list-style:none
}

@media print {
    .govuk-summary-card__actions {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__actions {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height:1.3157894737
    }
}

@media print {
    .govuk-summary-card__actions {
        font-size: 14pt;
        line-height:1.15
    }
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__actions {
        -ms-flex-pack: right;
        -webkit-box-pack: right;
        justify-content: right;
        text-align:right
    }
}

.govuk-summary-card__action {
    display: inline;
    margin: 0 10px 0 0;
    padding-right: 10px;
    border-right:1px solid #b1b4b6
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__action {
        margin-right:0
    }
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .govuk-summary-card__action {
        margin-bottom:5px
    }
}

.govuk-summary-card__action:last-child {
    margin: 0;
    padding-right: 0;
    border-right:none
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__action:last-child {
        padding-left:10px
    }
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .govuk-summary-card__action:last-child {
        margin-bottom:0
    }
}

.govuk-summary-card__content {
    padding:15px 15px 0
}

@media (min-width: 40.0625em) {
    .govuk-summary-card__content {
        padding:15px 20px
    }
}

.govuk-summary-card__content .govuk-summary-list {
    margin-bottom:0
}

.govuk-summary-card__content .govuk-summary-list__row:last-of-type {
    margin-bottom: 0;
    border-bottom:none
}
</style>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="#">

      <div class="govuk-form-group">

        <h1 class="govuk-heading-l">You’ve told us you want to claim for {{data['hour-total']}}
          {% if data.hour-total == 1 %} hour {% else %} hours {% endif %}
          and {{data['minute-total']}}
          {% if data.minute-total == 1 %} minute {% else %} minutes {% endif %}
          of support</h1>

        
        {% for month_data in data['month-list'] %}


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Support in {{month_data.month | numberMonth}} {{month_data.year}}</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              {% for item in month_data.support | sortBy('day') %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{item.day}} {{month_data.month | numberMonth}}
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if item.support_hours %}
                  {{item.support_hours}} {% if item.support_hours == 1 %} hour {% else %} hours {% endif %}
                  {% if item.support_minutes %}
                  and 
                  {{item.support_minutes}} {% if item.support_minutes == 1 %} minute {% else %} minutes {% endif %}
                  {% endif %}
    
                  {% elseif item.repeatsupport_hours %}
                  {{item.repeatsupport_hours}} {% if item.repeatsupport_hours == 1 %} hour {% else %} hours {% endif %}
                  {% if item.repeatsupport_minutes %}
                  and
                  {{item.repeatsupport_minutes}} {% if item.repeatsupport_minutes == 1 %} minute {% else %} minutes {% endif %}
                  {% endif %}
    
                  {% endif %}
    
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a id="{{item.day}}-change" class="govuk-link" 
                    href="hours-for-day-change?month={{month_data.month}}&year={{month_data.year}}">
                      Change<span class="govuk-visually-hidden"> change support in {{month_data.month | numberMonth}}
                        {{month_data.year}}</span>
                    </a>
                </dd>
              </div>
              {% else %}
              <div class="govuk-inset-text">
                Tell us about the support you received to continue.
              </div>
              {% endfor %}
            </dl>
          </div>
        </div>

        {% endfor %}


      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to claim support worker costs for a different month?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month" name="new-month" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="new-month">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month-2" name="new-month" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="new-month-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}

