{% extends "layout.html" %}

{% block pageTitle %}
Access to Work Claiming Portal
{% endblock %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set hourTotal = 0 %}
{% for day in data.support %}
{% set hourTotal = hourTotal | float + day.support_hours | float %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="#">

        <div class="govuk-form-group">

          {% if hourTotal === 1 %}
          <h1 class="govuk-heading-l">You’ve told us you want to claim for {{hourTotal}} hour of support</h1>
          {% else %}
          <h1 class="govuk-heading-l">You’ve told us you want to claim for {{hourTotal}} hour of support</h1>
          {% endif %}



            <ul class="hmrc-add-to-a-list hmrc-add-to-a-list--short">

                {% for item in data['support'] | sortByDate('') %}
                <li class="hmrc-add-to-a-list__contents">
      <span class="hmrc-add-to-a-list__identifier hmrc-add-to-a-list__identifier--light">
        {{item.day}} {{item.month| numberMonth}} {{item.year}} - <br>{{item.support_hours}} Hours
         <br> {{item.providor}}
      </span>
      <span class="hmrc-add-to-a-list__change">
       <a id="{{item.day}}-change" class="govuk-link" href="hours-for-day">
         <span aria-hidden="true">Change support</span>
         <span class="govuk-visually-hidden">Change {{item.day}} {{item.month| numberMonth}} {{item.year}}</span>
       </a>
     </span>
      <!-- <span class="hmrc-add-to-a-list__remove">
        <a id="{{item.day}}-remove" class="govuk-link--no-visited-state" href="remove-support?removeId={{loop.index0}}">
          <span aria-hidden="true">Remove</span>
          <span class="govuk-visually-hidden">Remove {{item.day}} {{item.month| numberMonth}} {{item.year}}</span>
        </a>
      </span> -->
                </li>
                {% else %}
                <div class="govuk-inset-text">
                  Tell us about the support you received to continue.
                </div>
                {% endfor %}


            </ul>
        </div>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
