{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set supportLength %}
{{ data.support | length }}
{% endset %}

{% set hourTotal = 0 %}
{% for day in data['support_hours'] %}
{% set hourTotal = hourTotal | float + item.support_hours | float %}
{% else %}
{% set hourTotal = 0 | float %}
{% endfor %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        {% if data["support-worker-errors"]|length %}
        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: data["support-worker-errors"]
        }) }}
        {% endif %}


        <form id="form" method="post" action="#">

            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Hours of support in {{data["support-month"] | numberMonth}}</h1>


            <div data-module="moj-add-another">
                {% if supportLength > 1 %}
                {% for item in data.support %}
                {% if item > 0 %}

                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">

                    {% set loopIndex = loop.index0 %}

                    {% set outerFieldErrors = [] %}
                    {% for error in data["support-worker-errors"] %}
                    {% if ((error.href == "#support["+loopIndex+"][support_hours]") or (error.href ==
                    "#support["+loopIndex+"][support_minutes]") ) %}
                    {% set outerFieldErrors = (outerFieldErrors.push(error), outerFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% set hoursFieldErrors = [] %}
                    {% for error in outerFieldErrors %}
                    {% if (error.href == "#support["+loopIndex+"][support_hours]") %}
                    {% set hoursFieldErrors = (hoursFieldErrors.push(error), hoursFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% set minutesFieldErrors = [] %}
                    {% for error in outerFieldErrors %}
                    {% if (error.href == "#support["+loopIndex+"][support_minutes]") %}
                    {% set minutesFieldErrors = (minutesFieldErrors.push(error), minutesFieldErrors) %}
                    {% endif %}
                    {% endfor %}

                    {% if outerFieldErrors | length %}

                    <div class="govuk-form-group govuk-form-group--error">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="support-hours-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"
                                for="support[{{loopIndex}}][support_hours]">
                                <h1 class="govuk-fieldset__heading">
                                    Total support on {{item.day}} {{data["support-month"] | numberMonth}}
                                </h1>
                            </legend>

                            {% for error in hoursFieldErrors %}
                            <p id="support[{{loopIndex}}][support_hours]-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{error.message}}
                            </p>
                            {% endfor %}
                            {% for error in minutesFieldErrors %}
                            <p id="support[{{loopIndex}}][support_minutes]-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{error.message}}
                            </p>
                            {% endfor %}
                            <div class="govuk-date-input" id="support-hours">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label"
                                            for="support[{{lloopIndex}}][support_hours]">
                                            Hours
                                        </label>
                                        {% if hoursFieldErrors | length %}
                                        <input
                                            class="govuk-input govuk-input--error govuk-input__input govuk-input--width-2"
                                            value="{{item.support_hours}}" id="support[{{loopIndex}}][support_hours]"
                                            name="support[{{loopIndex}}][support_hours]" type="text"
                                            data-name="support[%index%][support_hours]"
                                            data-id="support[%index%][support_hours]" inputmode="numeric">
                                        {% else %}
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{item.support_hours}}" id="support[{{loopIndex}}][support_hours]"
                                            name="support[{{loopIndex}}][support_hours]" type="text"
                                            data-name="support[%index%][support_hours]"
                                            data-id="support[%index%][support_hours]" inputmode="numeric">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label"
                                            for="support[{{loopIndex}}][support_minutes]">
                                            Minutes
                                        </label>
                                        {% if minutesFieldErrors | length %}
                                        <input
                                            class="govuk-input govuk-input--error govuk-input__input govuk-input--width-2"
                                            value="{{item.support_minutes}}"
                                            id="support[{{loopIndex}}][support_minutes]"
                                            name="support[{{loopIndex}}][support_minutes]" type="text"
                                            data-name="support[%index%][support_minutes]"
                                            data-id="support[%index%][support_minutes]" inputmode="numeric">
                                        {% else %}
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{item.support_minutes}}"
                                            id="support[{{loopIndex}}][support_minutes]"
                                            name="support[{{loopIndex}}][support_minutes]" type="text"
                                            data-name="support[%index%][support_minutes]"
                                            data-id="support[%index%][support_minutes]" inputmode="numeric">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    {% else %}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="support-hours-hint">
                            <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                                for="support[{{loopIndex}}][support_hours]">
                                <h1 class="govuk-fieldset__heading">
                                    Total support on {{item}} {{data["support-month"] | numberMonth}}
                                </h1>
                            </label>
                            <div class="govuk-date-input" id="support-hours">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label"
                                            for="support[{{loopIndex}}][support_hours]">
                                            Hours
                                        </label>
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{item.support_hours}}" id="support[{{loopIndex}}][support_hours]"
                                            name="support[{{loopIndex}}][support_hours]" type="text"
                                            data-name="support[%index%][support_hours]"
                                            data-id="support[%index%][support_hours]" inputmode="numeric">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-input__label"
                                            for="support[{{loopIndex}}][support_minutes]">
                                            Minutes
                                        </label>
                                        <input class="govuk-input govuk-input__input govuk-input--width-2"
                                            value="{{item.support_minutes}}"
                                            id="support[{{loopIndex}}][support_minutes]"
                                            name="support[{{loopIndex}}][support_minutes]" type="text"
                                            data-name="support[%index%][support_minutes]"
                                            data-id="support[%index%][support_minutes]" inputmode="numeric">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    {% endif %}

                </fieldset>
                <!-- ENDS HERE -->
                {% endif %}

                {% endfor %}
                {% endif %}

                <div class="moj-button-action">
                    <button class="govuk-button" data-module="govuk-button" name="action" value="continue">
                        Continue
                    </button>
                </div>
            </div> <!-- data module -->
        </form>
    </div>
    {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}