{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="workplace-contact-confirmation" method="post" class="form">
            <div class="govuk-form-group">

            

                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="counter-signatory-details">
                    Tell us the details of a workplace contact who can confirm your travel costs during work
                </label>
                </h1>
                <p class="govuk-body">This needs to be someone like your line manager or HR manager.</p>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="counter-signatory-full-name">
                    Full name
                  </label>
                <input class="govuk-input" id="counter-signatory-full-name" name="counter-signatory-full-name" type="text" spellcheck="false" aria-describedby="fullname-hint"
                       autocomplete="name"></div>

                       <div class="govuk-form-group">
                         <label class="govuk-label" for="counter-signatory-email">
                           Email
                         </label>
                       <p class="govuk-hint" id="email-hint">We’ll use this email address to contact them about your claim</p>
                       <input class="govuk-input" id="counter-signatory-email" name="counter-signatory-email" type="email" spellcheck="false" aria-describedby="email-hint"
                              autocomplete="email"></div>

            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
