{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['journey-type'] == "traveltowork-ammendment") and (data['claim-incorrect'] =='true') and (data["tiw-declaration"]) %}
        <form action="banking-details" method="post" class="form">
      {% elseif (data ["contact-confirmed"]) %}
        <form action="check-your-answers" method="post" class="form">
      {% else %}
        <form action="banking-details" method="post" class="form">
      {% endif %}



            <fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
<h1 class="govuk-fieldset__heading">
  Select {{data["new-payee-full-name"]}}’s address
</h1>
</legend>

{% if data ["new-payee-postcode"] =='LS11 2AA' %}

<div class="govuk-body"> <b>0 addresses found for {{data["new-payee-postcode"]}}</b> <a href="new-payee-address">Change</a> </div>




<div class="govuk-inset-text">
  No addresses found for LS11 2AA
</div>

<p><a href="new-payee-address-manual">I can't find {{data["new-payee-full-name"]}}'s address</a></p>

{% else %}

<div class="govuk-body"> <b>5 addresses found for {{data["new-payee-postcode"]}}</b> <a href="new-payee-address">Change</a> </div>

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Select an address
  </label>
  <select class="govuk-select govuk-select--width-10" id="new-payee-address-select" name="new-payee-address-select">
    <option value="selected" selected>5 addresses found</option>
    <option value="line">----</option>
    <option value="123" >123 Hudsen House, Cresent Lane, Leeds, West Yorkshire, {{data["new-payee-postcode"]}}</option>
    <option value="124">124 Hudsen House, Cresent Lane, Leeds, West Yorkshire, {{data["new-payee-postcode"]}}</option>
    <option value="125">125 Hudsen House, Cresent Lane, Leeds, West Yorkshire, {{data["new-payee-postcode"]}}</option>
    <option value="126">126 Hudsen House, Cresent Lane, Leeds, West Yorkshire, {{data["new-payee-postcode"]}}</option>
    <option value="127">127 Hudsen House, Cresent Lane, Leeds, West Yorkshire, {{data["new-payee-postcode"]}}</option>

  </select>
</div>




<p><a href="new-payee-address-manual">I can't find {{data["new-payee-full-name"]}}'s address in the list</a></p>

{% endif %}

</fieldset>



            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
