{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set adaptationLength %}
{{ data.adaptation | length }}
{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="form" method="post" action="#">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Tells us about the adaptation to the vehicle</h1>
          <div data-module="moj-add-another">
            <!-- START HERE -->
            <fieldset class="govuk-fieldset moj-add-another__item">
              <div class="govuk-form-group">
   
   
                <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="adaptation_name" value="adaptation_month">
                  Name or description of the adaptation
                </label>
   
                <input class="govuk-input" id="adaptation_name" name="adaptation_name" value="{{data['adaptation_name']}}" type="text">
              </div> <!-- govuk-form-group -->
              <div class="govuk-form-group">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Date the work was completed
                </legend>
   
   
                <div id="date-of-purchase-hint" class="govuk-hint">
                  For example, 21 5 2021
                </div>
   
                <div class="govuk-date-input__item">
                  <div class="govuk-date-input" id="adaptation-date">
   
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="adaptation_day">
                          Day
                        </label>
   
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="adaptation_day"
                          name="adaptation_day" type="text" pattern="[0-9]*" inputmode="numeric" value={{data['adaptation_day']}}>
                      </div>
                    </div>
   
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="adaptation_month">
                          Month
                        </label>
   
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="adaptation_month"
                          name="adaptation_month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['adaptation_month']}}">
                      </div>
                    </div>
   
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="adaptation_year">
                          Year
                        </label>
   
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="adaptation_year"
                          name="adaptation_year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['adaptation_year']}}">
                      </div>
                    </div>
   
                  </div>
                </div> <!-- govuk-date-input__item -->
              </div> <!-- govuk-form-group -->
   
            </fieldset>
            <!-- ENDS HERE -->
   
            <div class="moj-button-action">
              <button class="govuk-button" data-module="govuk-button" name="action" value="Continue">
                Continue
              </button>
            </div>
          </div> <!-- data module -->
        </form>
    </div>
    {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}
