{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../portal.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="adaptation-to-vehicle.html">adaptation to vehicle</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="adaptation-to-vehicle-answer" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="equipment-and-adaptation-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Are you claiming for adaptations to a vehicle?
                        </h1>
                    </legend>

                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adaptation-to-vehicle-yes" name="adaptation-to-vehicle"
                                   type="radio"
                                   value="Yes">
                            <label class="govuk-label govuk-radios__label" for="adaptation-to-vehicle-yes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="adaptation-to-vehicle-no" name="adaptation-to-vehicle"
                                   type="radio"
                                   value="No">
                            <label class="govuk-label govuk-radios__label" for="adaptation-to-vehicle-no">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% endblock %}
