{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set adaptationLength %}
{{ data.adaptation | length }}
{% endset %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="cost-answer" method="post" class="form">
            <div class="govuk-form-group">

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="adaptation-cost">
                        How much did the adaptations cost in total, in pounds?
                    </label>
                </h1>
                <div id="date-of-purchase-hint" class="govuk-hint">
                    Amount must include VAT
                </div>

                <div class="govuk-input__wrapper">
                    <div class="govuk-input__prefix" aria-hidden="true">£</div>
                    <input class="govuk-input govuk-input--width-5" id="adaptation-cost" name="adaptation-cost"
                        type="text" spellcheck="false">
                </div>
            </div>


            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}