{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set adaptationLength %}
{{ data.adaptation | length }}
{% endset %}

{% block content %}



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="#">

        <div class="govuk-form-group">



            {% if adaptationLength|int === 1 %}
            <h1 class="govuk-heading-l">You’ve told us you want to claim for {{adaptationLength}} adaptation</h1>
            {% else %}
            <h1 class="govuk-heading-l">You’ve told us you want to claim for {{adaptationLength}} adaptations</h1>
            {% endif %}

                <!-- < new stuff > -->
                {% for item in data['adaptation'] | sortByDate('') %}
                <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">

                      {{item.day}} {{item.month| numberMonth}} {{item.year}}
                  </dt>
                  <dd class="govuk-summary-list__value">
                  {{item.adaptation_name}}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="adaptation-description">
                      Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                  </dd>
                </div>
              </dl>
              {% else %}
              <div class="govuk-inset-text">
                Tell us about the specialist adaptation you received to continue.
              </div>
              {% endfor %}
            </div>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
