{% extends "layout.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">What you’ll need to make a claim</h1>

        <p class="govuk-body">You can claim for more than one adaptation to a vehicle.</p>


        <h1 class="govuk-body">You'll need to:</h1>
        <ul class="govuk-list govuk-list--bullet">
            <li>tell us the date the work to the vehicle was completed</li>
            <li>send us an invoice or receipt that shows the cost of the adaptation</li>
            <li>tell us the details of the person or company we need to pay, including their bank details if we've not paid them before</li>
        </ul>


                <!-- <div class="govuk-inset-text">
                The person or company we need to pay could be anyone who paid for your adaptation to a vehicle. This includes yourself, a friend, a family member, your employer or the company who provided the equipment.
                </div> -->



        <form action="before-you-continue-answer" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Start a claim
            </button>

        </form>

    </div>
</div>


{% endblock %}
