


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if print != true %}
      <h1 class="govuk-heading-xl">Check your answers</h1>
      {% endif %}
      <h2 class="govuk-heading-m">Claim information</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">



          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Adaptation to a vehicle
              </dt>
              <dd class="govuk-summary-list__value">
                  {% for item in data['adaptation'] %}
                  {{item.day}} {{item.month| numberMonth}} {{item.year}} -<br>{{item.adaptation_name}}<br>
                  {% endfor %}
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="adaptation-summary">
                      Change
                      <span class="govuk-visually-hidden"> adaptation to a vehicle</span>
                  </a>
              </dd>
              {% endif %}
          </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Cost of equipment
                </dt>
                <dd class="govuk-summary-list__value">
                    £{{data["adaptation-cost"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="adaptation-cost">
                        Change
                        <span class="govuk-visually-hidden"> Cost of adaptation</span>
                    </a>
                </dd>
                {% endif %}
            </div>


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Receipts or invoices uploaded
                </dt>

                <dd class="govuk-summary-list__value">
                    {% for file in data['uploads'] %}

                    {{file['file']}} <br>
                    {% endfor %}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="upload-summary">
                        Change
                        <span class="govuk-visually-hidden"> Supporting evidence</span>
                    </a>
                </dd>
                {% endif %}
            </div>

        </dl>


{%if (data['adaptation-cost']=="100") %}

<div class="govuk-inset-text">
The amount we’ll pay back will be less than the total cost you’re claiming for. This is because we’ll deduct the amounts you or your employer have agreed to pay.
</div>

{% endif %}

        {% if print != true %}
    <h2 class="govuk-heading-m">Details of new person or company being paid</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Name
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["new-payee-full-name"]}}

              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-name">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>
          {%if (data["payee-email"]) %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Email address
              </dt>
              <dd class="govuk-summary-list__value">
                  {{data["payee-email"]}}
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-address">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>
          {% endif %}
          <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                  Address
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data ["new-payee-address-line-1"] %}
                  {{data["new-payee-address-line-1"]}}<br>
                  {% if data["new-payee-address-line-2"] %}{{data["new-payee-address-line-2"]}}<br>{% endif %}
                  {{data["new-payee-address-town"]}}<br>
                  {{data["new-payee-address-county"]}}<br>
                  {{data["new-payee-address-postcode"]}}


                  {% elif data["new-payee-address-select"] == "123" %}
                  123 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% elif data["new-payee-address-select"] == "124" %}
                  124 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% elif data["new-payee-address-select"] == "125" %}
                  125 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% elif data["new-payee-address-select"] == "126" %}
                  126 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% elif data["new-payee-address-select"] == "127" %}
                  127 Hudsen House<br>
                  Cresent Lane<br>
                  Leeds<br>
                  West Yorkshire<br>
                  {{data["new-payee-postcode"]}}

                  {% endif %}
              </dd>
              {% if print != true %}
              <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                  <a href="new-payee-address">
                      Change
                      <span class="govuk-visually-hidden"> Bank or building society account details</span>
                  </a>
              </dd>
              {% endif %}
          </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name on bank account
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["name-on-the-account"]}}

                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sort code
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["sort-code"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
              {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Account number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["account-number"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>

            {%if (data['roll-number']) %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Building society roll number
                </dt>
                <dd class="govuk-summary-list__value">
                    {{data["roll-number"]}}
                </dd>
                {% if print != true %}
                <dd class="govuk-summary-list__actions govuk-!-display-none-print">
                    <a href="banking-details">
                        Change
                        <span class="govuk-visually-hidden"> Bank or building society account details</span>
                    </a>
                </dd>
                {% endif %}
            </div>
            {% endif %}
        </dl>
        {% endif %}

        <!-- {% if print != true %}
        <p>You can also <a target="_blank"
                href="check-your-answers-print">save and print a copy of your answers (opens in a new tab)</a>.</p>
        {% endif %} -->

        {% if print != true %}
        <form action="declaration" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
        {% endif %}

    </div>
</div>
{% endblock %}
