{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set equipmentLength %}
{{ data.equipment | length }}
{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="form" method="post" action="#">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-4">What type of specialist equipment are you claiming for?</h1>
            <p>You must tell us about any related training or installation costs in a separate entry.</p>


            <div data-module="moj-add-another">
                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">
                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s" for="equipment[0][equipment_name]">
                            Name or description of equipment
                        </label>

                        <div id="equipment-name-hint" class="govuk-hint">
                              For example, a Karma Ergo 115 wheelchair or a lowered curb
                        </div>
                        <input class="govuk-input"
                               value = "{{data.equipment[0].equipment_name}}"
                               id="equipment[0][equipment_name]"
                               name="equipment[0][equipment_name]" type="text"
                               data-name="equipment[%index%][equipment_name]"
                               data-id="equipment[%index%][equipment_name]">
                    </div> <!-- govuk-form-group -->
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Date of purchase
                        </legend>


                        <div id="date-of-purchase-hint" class="govuk-hint">
                          For example, 21 5 2021
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-date-input" id="date-of-birth">

                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="equipment[0][day]">
                                    Day
                                  </label>

                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" value = "{{data.equipment[0].day}}" id="equipment[0][day]" name="equipment[0][day]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="equipment[%index%][day]" data-id="equipment[%index%][day]">
                                </div>
                              </div>

                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="equipment[0][month]">
                                    Month
                                  </label>

                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" value = "{{data.equipment[0].month}}" id="equipment[0][month]" name="equipment[0][month]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="equipment[%index%][month]" data-id="equipment[%index%][month]">
                              </div>
                              </div>

                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="equipment[0][year]">
                                    Year
                                  </label>

                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" value = "{{data.equipment[0].year}}" id="equipment[0][year]" name="equipment[0][year]" type="text" pattern="[0-9]*" inputmode="numeric" data-name="equipment[%index%][year]" data-id="equipment[%index%][year]">
                              </div>
                              </div>

                            </div>
                        </div> <!-- govuk-date-input__item -->
                    </div> <!-- govuk-form-group -->

                    {% if equipmentLength > 1 %}
                    <div class="moj-button-action">
                    <button class="govuk-button govuk-button--secondary moj-add-another__remove-button" name="remove"
                            value="0">
                        Remove
                    </button>
                    </div>
                    {% endif %}
                </fieldset>
                <!-- ENDS HERE -->
                {% if equipmentLength > 1 %}
                {% for item in data.equipment %}
                {% if not loop.first %}
                <!-- START HERE -->
                <fieldset class="govuk-fieldset moj-add-another__item">

                    <div class="govuk-form-group">
                        <label class="govuk-fieldset__legend govuk-fieldset__legend--s"
                               for="equipment[{{loop.index0}}][equipment_name]">
                            Name or description of equipment
                        </label>
                        <div id="equipment-name-hint" class="govuk-hint">
                              For example, a Karma Ergo 115 wheelchair or a lowered curb.
                        </div>

                        <input class="govuk-input" id="equipment[{{loop.index0}}][equipment_name]"
                               name="equipment[{{loop.index0}}][equipment_name]" type="text"
                               value="{{item.equipment_name}}" data-name="equipment[%index%][equipment_name]"
                               data-id="equipment[%index%][equipment_name]">
                    </div> <!-- govuk-form-group -->
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Date of purchase
                        </legend>
                        <div id="date-of-birth-hint" class="govuk-hint">
                            For example, 21 5 2021
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-date-input" id="date-equipment-purchased">

                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="equipment[{{loop.index0}}][day]">
                                    Day
                                  </label>

                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="equipment[{{loop.index0}}][day]" name="equipment[{{loop.index0}}][day]" type="text"  inputmode="numeric" data-name="equipment[%index%][day]" data-id="equipment[%index%][day]"
                                  value="{{item.day}}">
                                </div>
                              </div>

                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="equipment[{{loop.index0}}][month]">
                                    Month
                                  </label>

                                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="equipment[{{loop.index0}}][month]" name="equipment[{{loop.index0}}][month]" type="text"  inputmode="numeric" data-name="equipment[%index%][month]"
                                  data-id="equipment[%index%][month]" value="{{item.month}}">
                              </div>
                              </div>

                              <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                  <label class="govuk-label govuk-date-input__label" for="equipment[{{loop.index0}}][year]">
                                    Year
                                  </label>

                                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="equipment[{{loop.index0}}][year]" name="equipment[{{loop.index0}}][year]" type="text"  inputmode="numeric"
                                  data-name="equipment[%index%][year]" data-id="equipment[%index%][year]" value="{{item.year}}">
                              </div>
                              </div>

                            </div>
                        </div> <!-- govuk-date-input__item -->
                    </div> <!-- govuk-form-group -->
                    <button  class="govuk-button govuk-button--secondary moj-add-another__remove-button" name="remove"
                            value="{{loop.index0}}">
                        Remove
                    </button>

                </fieldset>
                <!-- ENDS HERE -->
                {% endif %}
                {% endfor %}
                {% endif %}
                <div class="moj-button-action">
                    <button
                            class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"
                            data-module="govuk-button"
                            name="action"
                            value="add">
                        Claim for another piece of equipment
                    </button>
                </div>
                <div class="moj-button-action">
                    <button class="govuk-button" data-module="govuk-button"
                            name="action"
                            value="continue">
                        Continue
                    </button>
                </div>
            </div> <!-- data module -->
        </form>
    </div>
    {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}
