{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "alpha"
},
classes: "govuk-!-display-none-print",
html: 'This is a new service – your <a class="govuk-link" href="/alpha/feedback-page">feedback</a> will help us to improve it.'
}) }}
{% set print = true %}
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">Claim submitted</h1>
                <div class="govuk-panel__body">

                </div>
            </div>

            <p>You can <a class="govuk-link" href="../portal-screens/open-claims">see the progress of your claim in your claims</a>.</p>

            <h2 class="govuk-heading-m">What happens next</h2>

            <p>If we approve your claim, we’ll pay the money into the bank account you chose.</p>

            <p>If we do not approve your claim, we’ll contact you to let you know what to do next.</p>

            <p><a href="../portal">Return to account home</a></p>

    </div>
</div>


<p><a href="/alpha/feedback-page">What did you
    think of this service?</a></p>
{% endblock %}
