{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<form action="before-you-continue" method="post" class="form">

        <h1 class="govuk-heading-l">About your grant</h1>

        <p>Your support starts from 05 March 2021 and is available until 05 March 2024 if your needs do not change.</p>

        <p>If your needs do change then you need to <a href="../portal-screens/contact-atw">contact us</a>.</p>

        <h2 class="govuk-heading-m">Support you can get</h2>

                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Cost of support
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £2089.98 - Hearing aid <br>
                      £102.00 - Keyboard <br>
                      £474.00 - Magnifier and speech software <br>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Total cost of support
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £2665.98
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Total amount you or your employer have agreed to contribute
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £266.59
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Total amount Access to Work will contribute
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £2399.39
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Amount of grant left
                    </dt>
                    <dd class="govuk-summary-list__value">
                      £2089.98
                    </dd>
                  </div>
                </dl>

                <p>You must claim for specialist equipment within 9 months of the purchase date.</p>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>




{% endblock %}
