{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit test
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            The GOV.UK Prototype Kit
            <span class="govuk-caption-xl">{{releaseVersion}}</span>
        </h1>{{releaseVersion | log }}

        <h2 class="govuk-heading-m">Alpha journeys</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="alpha/portal.html">Portal</a>
            </li>
            <li>
                <a class="govuk-link" href="alpha/equipment-and-adaptations/start-a-claim.html">Equipment and adaptations</a>
            </li>
            <li>
                <a class="govuk-link" href="alpha/employer-countersign/enter-citizen-urn.html">Employer Countersign</a>
            </li>
            <li>
                <a class="govuk-link" href="alpha/support-worker/start-a-claim.html">Support Workers</a>
            </li>
            <li>
                <a class="govuk-link" href="alpha/travel-to-work/start-a-claim.html">Travel to Work</a>
            </li>
        </ul>


        <h2 class="govuk-heading-m">Examples and documentation</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
            </li>
            <li>
                <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
            </li>
        </ul>


    </div>
</div>


{% endblock %}
