{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit test
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            The GOV.UK Prototype Kit
            <span class="govuk-caption-xl">{{releaseVersion}}</span>
        </h1>{{releaseVersion | log }}

        <h2 class="govuk-heading-xl">This page is not part of the service. It is just to easily direct people to places within the prototype.</h2>

        <h2 class="govuk-heading-m">Alpha journeys</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" href="alpha/portal.html">Portal</a>
            </li>

            <li>
                <a class="govuk-link" href="alpha/employer-countersign/before-you-continue.html">Employer Countersign</a>
            </li>


        </ul>

        <form action="alpha/start-journey" method="post" class="form">
          <input type="hidden" id="journey-type" name="journey-type" value="traveltowork">
          <button type="submit" class="govuk-button" data-module="govuk-button">
              travel to work
          </button>
        </form>

      <form action="alpha/start-journey" method="post" class="form">
        <input type="hidden" id="journey-type" name="journey-type" value="supportworker">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Support worker
        </button>
      </form>

      <form action="alpha/start-journey" method="post" class="form">
        <input type="hidden" id="journey-type" name="journey-type" value="specialaidsandequipment">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Equipment and adaptations
        </button>

    </form>

    <form action="alpha/populate-answers" method="post" class="form">

      <div class="govuk-form-group">
  <label class="govuk-label" for="journeytype">
    populate for
  </label>
  <select class="govuk-select" id="journeytype" name="journeytype">
    <option value="equipment-and-adaptations">Equipment and Adaptations</option>
    <option value="travel-to-work">Travel to Work</option>
    <option value="Support-worker">Support worker</option>
  </select>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
    Submit
</button>
  </form>




        <h2 class="govuk-heading-m">Examples and documentation</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
            </li>
            <li>
                <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
            </li>
        </ul>


    </div>
</div>


{% endblock %}
